force-app/zurich-base/main/default/flows/Account_Trigger_After_insert_Borrar_Consultores_Potenciales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Existe_Corredor_Potencial</name>
        <label>Existe Corredor Potencial</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corredor_Potencial.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trasladar_Casos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Elimina mediadores de tipo corredores potenciales al crear el mediador definitivo</description>
    <environments>Default</environments>
    <interviewLabel>Account Trigger - After insert -Borrar Consultores Potenciales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Trigger - After insert -Borrar Corredores Potenciales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borrar_Corredor_Potencial</name>
        <label>Borrar Corredor Potencial</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>Get_Corredor_Potencial</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Corredor_Potencial</name>
        <label>Obtener Corredor Potencial</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Corredor_Potencial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NationalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NationalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Record_Type_Id_Corredores_Potenciales.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Record_Type_Id_Corredores_Potenciales</name>
        <label>Obtener Record Type Id Corredores Potenciales</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Corredor_Potencial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potential_Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trasladar_Casos</name>
        <label>Trasladar Casos</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Trasladar_Ofertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Corredor_Potencial.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trasladar_Ofertas</name>
        <label>Trasladar Ofertas</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Borrar_Corredor_Potencial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Corredor_Potencial.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntermediaryId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Record_Type_Id_Corredores_Potenciales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INFOIntermediaryCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
