force-app/zurich-base/main/default/flows/Callback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Asignaci_n_Overdue</name>
        <label>Asignación Overdue</label>
        <locationX>1388</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>OverdueCRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Listado_Vencidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaci_n_Subsequent</name>
        <label>Asignación Subsequent</label>
        <locationX>1273</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>SubsequentCRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Listado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Listado</name>
        <label>Asignación Listado</label>
        <locationX>1214</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>ListaCR</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;&lt;a href=&quot;/lightning/r/ContactRequest/{!Loop_CR.Id}/view?ws=%2Flightning%2Fr%2FCase%2F{!recordId}%2Fview&quot; target=&quot;_self&quot;&gt;{!Loop_CR.WebName__c}&lt;/a&gt; - {!Loop_CR.PreferredContactDatetime__c} - ☎ {!Loop_CR.PreferredPhone} &lt;br/&gt;{!Loop_CR.RequestDescription}&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Listado_Vencidas</name>
        <label>Asignación Listado Vencidas</label>
        <locationX>1322</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>ListaCRVencida</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;&lt;a href=&quot;/lightning/r/ContactRequest/{!Loop_CR.Id}/view?ws=%2Flightning%2Fr%2FCase%2F{!recordId}%2Fview&quot; target=&quot;_self&quot;&gt;{!Loop_CR.WebName__c}&lt;/a&gt; - {!Loop_CR.PreferredContactDatetime__c} - ☎ {!Loop_CR.PreferredPhone} &lt;br/&gt;{!Loop_CR.RequestDescription}&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_proxima</name>
        <label>Asignacion proxima</label>
        <locationX>1146</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClosestCRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsequentCRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Listado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Borrar_listado</name>
        <label>Borrar listado</label>
        <locationX>552</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>ListaCR</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosestCRCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverdueCRCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsequentCRCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosestCRCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaCRVencida</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_CR_relacionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conteo_CR</name>
        <label>Conteo CR</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>CRCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_CR_relacionadas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_proxima</name>
        <label>Es próxima?</label>
        <locationX>1238</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Asignaci_n_Overdue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Anterior</defaultConnectorLabel>
        <rules>
            <name>Proxima</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CR.PreferredContactDatetime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_proxima</targetReference>
            </connector>
            <label>Proxima</label>
        </rules>
        <rules>
            <name>Posterior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CR.PreferredContactDatetime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaci_n_Subsequent</targetReference>
            </connector>
            <label>Posterior</label>
        </rules>
    </decisions>
    <interviewLabel>Callback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Callback</label>
    <loops>
        <name>Loop_CR</name>
        <label>Loop CR</label>
        <locationX>872</locationX>
        <locationY>576</locationY>
        <collectionReference>Recuperar_CR_relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_proxima</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Callback</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_CR</name>
        <label>Crear CR</label>
        <locationX>551</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>Borrar_listado</targetReference>
        </connector>
        <inputAssignments>
            <field>GenesysCloudQueueId__c</field>
            <value>
                <elementReference>ColaGenesys.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredChannel</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredContactDatetime__c</field>
            <value>
                <elementReference>Fecha_y_hora_de_preferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredPhone</field>
            <value>
                <elementReference>Telefono.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestDescription</field>
            <value>
                <elementReference>Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebName__c</field>
            <value>
                <elementReference>NombreCR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContactRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_CR_relacionadas</name>
        <label>Recuperar CR relacionadas</label>
        <locationX>551</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conteo_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactRequest</object>
        <sortField>PreferredContactDatetime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Callback</name>
        <label>Callback</label>
        <locationX>872</locationX>
        <locationY>900</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_CR</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;Existen {!CRCount} callbacks asociados a este registro.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallbacksVencidosTitulo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Callbacks Vencidos&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt; ({!OverdueCRCount} registros)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CRCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ExistenProximos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;{!ListaCRVencida}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OverdueCRCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CallbacksProximosTitulo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Callbacks Pendientes &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;({!SubsequentCRCount} registros)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CRCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nombre</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;{!ListaCR}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubsequentCRCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewCallback</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Nuevo Callback&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Callback_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Callback_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NombreCR</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fecha_y_hora_de_preferencia</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Fecha y hora de preferencia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La fecha y hora introducida debe ser posterior a la actual.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Fecha_y_hora_de_preferencia} &gt; {!$Flow.CurrentDateTime}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Comentarios</name>
                    <fieldText>Comentarios</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Callback_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Telefono</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Teléfono</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ColaGenesys</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GenesysCloudQueueId__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cola de Genesys</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ContactRequest</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Recuperar_CR_relacionadas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosestCRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CrearCallbackBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaCRVencida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaCRVencidas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverdueCRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubsequentCRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
