force-app/zurich-base/main/default/flows/CaseTriggerBeforeInsertEntitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Asignar_CCS</name>
        <label>Asignar CCS</label>
        <locationX>439</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CCS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CCS.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_CSM</name>
        <label>Asignar CSM</label>
        <locationX>1051</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CSM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CSM.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default</name>
        <label>Asignar Default</label>
        <locationX>1087</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default_CCS</name>
        <label>Asignar Default CCS</label>
        <locationX>223</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CCS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CCS.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default_CSM</name>
        <label>Asignar Default CSM</label>
        <locationX>1270</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CSM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CSM.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CCS_o_CSM</name>
        <label>¿CCS o CSM?</label>
        <locationX>758</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_CSM</targetReference>
            </connector>
            <label>CSM</label>
        </rules>
        <rules>
            <name>CCS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BusinessCustomer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartnerOCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_CCS</targetReference>
            </connector>
            <label>CCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrado_Entitlement_CCS</name>
        <label>¿Encontrado Entitlement CCS?</label>
        <locationX>431</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Default_CCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontrado CCS</defaultConnectorLabel>
        <rules>
            <name>Encontrado_CCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_CCS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CCS</targetReference>
            </connector>
            <label>Encontrado CCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrado_Entitlement_CSM</name>
        <label>¿Encontrado Entitlement CSM?</label>
        <locationX>1041</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Default_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontrado CSM</defaultConnectorLabel>
        <rules>
            <name>Encontrado_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_CSM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CSM</targetReference>
            </connector>
            <label>Encontrado CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_RT_OCSInquiry</name>
        <label>¿Es RT OCSInquiry?</label>
        <locationX>531</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_OCSInquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Cuenta_asociada</targetReference>
            </connector>
            <label>Si OCSInquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Cuenta_asociada</name>
        <label>¿Tiene Cuenta asociada?</label>
        <locationX>743</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay cuenta</defaultConnectorLabel>
        <rules>
            <name>Si_hay_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCS_o_CSM</targetReference>
            </connector>
            <label>Si hay cuenta</label>
        </rules>
    </decisions>
    <formulas>
        <name>Channel</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Account.RecordType.DeveloperName} = &apos;PartnerOCS&apos;,
&apos;Partner&apos; ,
&apos;Directo&apos;)</expression>
    </formulas>
    <interviewLabel>Case Trigger - Before insert Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before insert Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Default</name>
        <label>Default</label>
        <locationX>969</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Default_CCS</name>
        <label>Default CCS</label>
        <locationX>221</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default_CCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default CCS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Default_CSM</name>
        <label>Default CSM</label>
        <locationX>1257</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default CSM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_CCS</name>
        <label>Entitlement CCS</label>
        <locationX>565</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrado_Entitlement_CCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_CSM</name>
        <label>Entitlement CSM</label>
        <locationX>908</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrado_Entitlement_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SegmentDescription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>109</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Es_RT_OCSInquiry</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
