force-app/zurich-base/main/default/flows/CaseTriggerBeforeInsertCloseCaseCc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>MailsClosedWhenOnlyCcAssignment</name>
        <label>Asignar buzones para cierre CC</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.csm@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.dtbcn@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.dtbil@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.dtmad@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.dtval@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>particulares.dtsev@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.csm@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.dtbcn@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.dtbil@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.dtmad@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.dtval@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administracion.dtsev@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>centroexcelencia@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cdex.queja@zurich.com </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buzones_Autocierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cdex.empleados@zurich.com </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>automaticCloseMailFoundOnCcDecision</name>
        <label>¿Es CC buzón de autocierre?</label>
        <locationX>748</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>ccAddressLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>automaticCloseMailFoundOnCc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buzones_Autocierre</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ccAddressLoop</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toAddressLoop</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>automaticCloseMailFoundOnToDecision</name>
        <label>¿Es Para buzón de autocierre?</label>
        <locationX>836</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>toAddressLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>automaticCloseMailFoundOnTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buzones_Autocierre</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>toAddressLoop</elementReference>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Realizar un auto cierre de casos en los que los buzones de Salesforce sólo están en CC. Se realiza justo después del momento de su creación de modo que también se desconecte la interacción correspondiente.</description>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - Before insert - Cierre Caso CC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before insert - Cierre Caso CC</label>
    <loops>
        <description>Recorremos las direcciones de envío para ver si los buzones de salesforce están en el &apos;CC&apos;</description>
        <name>ccAddressLoop</name>
        <label>Iteración Correos CC</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>ccAddressListConversion.SplitResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>automaticCloseMailFoundOnCcDecision</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Recorremos las direcciones de envío para ver si los buzones de autocierre están en el &apos;Para&apos;</description>
        <name>toAddressLoop</name>
        <label>Iteración Correos Para</label>
        <locationX>616</locationX>
        <locationY>971</locationY>
        <collectionReference>toAddressListConversion.SplitResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>automaticCloseMailFoundOnToDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSystemUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Emails</name>
        <label>Get Related Emails</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>toAddressListConversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ToAddress</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el usuario Sistema</description>
        <name>GetSystemUser</name>
        <label>Get System User</label>
        <locationX>616</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CloseCasesUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055I000000c4aOQAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseCasesUpdate</name>
        <label>Close Cases</label>
        <locationX>616</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDetail__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>No Realizado - Otros motivos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedBy__c</field>
            <value>
                <elementReference>GetSystemUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MailsClosedWhenOnlyCcAssignment</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;OCSInquiry&apos; &amp;&amp; ISPICKVAL({!$Record.Origin}, &apos;Email&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>ccAddressListConversion</name>
        <label>Guardar CcAddress como lista</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>ccAddressLoop</targetReference>
        </connector>
        <flowName>ConvertStringToStringCollection</flowName>
        <inputAssignments>
            <name>varT_Separator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>Get_Related_Emails.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>toAddressListConversion</name>
        <label>Guardar ToAddress como lista</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>ccAddressListConversion</targetReference>
        </connector>
        <flowName>ConvertStringToStringCollection</flowName>
        <inputAssignments>
            <name>varT_Separator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>Get_Related_Emails.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Buzones para los cuales se debe cerrar el caso si están en &apos;CC&apos; y no hay buzones de Salesforce en el &apos;Para&apos;</description>
        <name>Buzones_Autocierre</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
