force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertUpdateNotificacionesPendientesUSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RecordatorioUSPAction</name>
        <label>Recordatorio USP</label>
        <locationX>2030</locationX>
        <locationY>2093</locationY>
        <actionName>Case.Caso_pendiente_USP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailCloseCase</name>
        <label>Mandar email cierre caso</label>
        <locationX>182</locationX>
        <locationY>2093</locationY>
        <actionName>Case.Cierre_de_caso_automatico</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailUSPAction</name>
        <label>Mandar Email USP</label>
        <locationX>1502</locationX>
        <locationY>2201</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactoEmailAction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>PlantillaCasosPendientesUSPAction.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SplitEmailAddress</name>
        <label>Split Email Address</label>
        <locationX>1216</locationX>
        <locationY>803</locationY>
        <actionName>SplitEmailAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailAddressLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>LastEmailSendLoop.ToAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SplitEmails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Se le asigna una variable a true para posteriormente diferenciar si se envía email de alerta y cerrar el caso al pasar 15 días</description>
        <name>CerrarCaso15DiasAssignment</name>
        <label>Cerrar Caso 15 Dias</label>
        <locationX>2107</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SeCierraCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CorreoLocalizadoAssignment</name>
        <label>Correo Localizado</label>
        <locationX>1304</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>DireccionRecordatorio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DominioExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CloseCaseDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DominioExcluidoUSPAssignment</name>
        <label>Dominio Excluido</label>
        <locationX>1568</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>DominioExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EmailAddressLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CloseCaseDecision</name>
        <label>¿Se cierra el caso?</label>
        <locationX>776</locationX>
        <locationY>1661</locationY>
        <defaultConnector>
            <targetReference>SeHaExcluidoElDominioYCasoVentaDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseCaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeCierraCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSystemUserAction</targetReference>
            </connector>
            <label>Si se cierra</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactoEncontradoDecision</name>
        <label>Contacto Encontrado</label>
        <locationX>1766</locationX>
        <locationY>1985</locationY>
        <defaultConnector>
            <targetReference>RecordatorioUSPAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>FoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEmailAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlantillaCasosPendientesUSPAction</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DominioExcluidoDecision</name>
        <label>Dominio Excluido?</label>
        <locationX>50</locationX>
        <locationY>1985</locationY>
        <defaultConnector>
            <targetReference>SendEmailCloseCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>DominioExcluidoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DominioExcluido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Dominio Excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>DominioExcluidoUSPDecision</name>
        <label>¿Dominio excluido USP?</label>
        <locationX>1436</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>DominioExcluidoUSPAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DominioNoExcluidoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExcluirDominioUSPDecision.CoincideVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CorreoLocalizadoAssignment</targetReference>
            </connector>
            <label>Dominio no excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>FulfilPrerequisitesDecision</name>
        <label>¿Cumple los prerrequisitos?</label>
        <locationX>1799</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FulfilPrerequisitesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastEmailSendAction</targetReference>
            </connector>
            <label>Cumple prerrequisitos</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeHaExcluidoElDominioYCasoVentaDecision</name>
        <label>Se ha excluido el dominio y el caso es tipo Venta?</label>
        <locationX>1502</locationX>
        <locationY>1769</locationY>
        <defaultConnector>
            <targetReference>ContactoEmailAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>ExcluidoNoVentaOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DominioExcluido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <label>Excluido o No venta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - After Insert/Update - Notificaciones Pendientes USP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert/Update - Notificaciones Pendientes USP</label>
    <loops>
        <name>EmailAddressLoop</name>
        <label>Email Address Loop</label>
        <locationX>1216</locationX>
        <locationY>911</locationY>
        <collectionReference>SplitEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluirDominioUSPDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LastEmailSendLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LastEmailSendLoop</name>
        <label>Ultimo Email Enviado Bucle</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <collectionReference>LastEmailSendAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SplitEmailAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseCaseDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateErrorLogCaseCloseAction</name>
        <label>Generar Error Log Cierre de caso</label>
        <locationX>710</locationX>
        <locationY>1985</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Cierre de caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogCaseEmailSend</name>
        <label>Generar Error Log Envio Email</label>
        <locationX>446</locationX>
        <locationY>2201</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Email Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogRecuperarContacto</name>
        <label>Generar Error Log Recuperar Contacto</label>
        <locationX>2294</locationX>
        <locationY>1985</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Recuperar Contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogRecuperarPlantilla</name>
        <label>Generar Error Log Recuperar Plantilla</label>
        <locationX>1766</locationX>
        <locationY>2201</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Recuperar Plantilla</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogSystemUser</name>
        <label>Generar Error Log System User</label>
        <locationX>974</locationX>
        <locationY>1877</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log System User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogUltimoEmail</name>
        <label>Generar Error Log Ultimo Email</label>
        <locationX>2558</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Ultimo Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ContactoEmailAction</name>
        <label>Contacto Email</label>
        <locationX>1766</locationX>
        <locationY>1877</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactoEncontradoDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogRecuperarContacto</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSystemUserAction</name>
        <label>Obtener System User</label>
        <locationX>50</locationX>
        <locationY>1769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCerrarCaso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogSystemUser</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055I000000c4aOQAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LastEmailSendAction</name>
        <label>Ultimo Email Enviado</label>
        <locationX>776</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LastEmailSendLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogUltimoEmail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PlantillaCasosPendientesUSPAction</name>
        <label>Plantilla Casos Pendientes USP</label>
        <locationX>1502</locationX>
        <locationY>2093</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailUSPAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogRecuperarPlantilla</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso pendiente USP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCerrarCaso</name>
        <label>Actualizar Cerrar Caso</label>
        <locationX>50</locationX>
        <locationY>1877</locationY>
        <connector>
            <targetReference>DominioExcluidoDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogCaseCloseAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>Falta Respuesta Mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedBy__c</field>
            <value>
                <elementReference>GetSystemUserAction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2  AND (3 OR 4) AND 5 AND 6  AND 7</filterLogic>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AutomaticNotifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>PrimerEmail5Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>PrimerEmail5Dias</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SegundoEmail10Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>SegundoEmail10Dias</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CerrarCaso15Dias</name>
            <connector>
                <targetReference>CerrarCaso15DiasAssignment</targetReference>
            </connector>
            <label>CerrarCaso15Dias</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ExcluirDominioUSPDecision</name>
        <label>Excluir Dominio USP</label>
        <locationX>1436</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>DominioExcluidoUSPDecision</targetReference>
        </connector>
        <flowName>ExcluirDominioUSPSubflow</flowName>
        <inputAssignments>
            <name>CallCenter</name>
            <value>
                <elementReference>$Record.CallCenter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToEmail</name>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>DireccionRecordatorio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DominioExcluido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SeCierraCaso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SplitEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
