force-app/zurich-base/main/default/flows/Case_Trigger_After_Update_Desconexion_interacciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PatchInteractionInvocableAction</name>
        <label>Solicitud Patch Interacción</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>GenesysCloudPatchInteractionAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Crear_Error_Log_Desconexion_Interaccion</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listaRetorno</name>
            <value>
                <elementReference>ListaGetConInteraccion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>StatusInteractionsInvocableAction</name>
        <label>Solicitud Status Interaciones</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <actionName>GenesysCloudStatusAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckListaGetSize</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogStatusRequestAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>estadoInteracciones</name>
            <value>
                <elementReference>GetEmailByCaseIdAction</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ListaGetConInteraccion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>CheckListaGetSize</name>
        <label>Comprobar Cantidad Lista Get</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>ListaGetConInteraccionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListaGetConInteraccion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaEstadosNoVaciaDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ListaEstadosNoVaciaDecision</name>
        <label>¿Lista estados no vacía?</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoVaciaEstadosOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaGetConInteraccionSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PatchInteractionInvocableAction</targetReference>
            </connector>
            <label>No vacía</label>
        </rules>
    </decisions>
    <decisions>
        <name>ListaNoVaciaDecision</name>
        <label>¿Lista no vacía?</label>
        <locationX>710</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Vacía</defaultConnectorLabel>
        <rules>
            <name>NoVaciaOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmailByCaseIdAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusInteractionsInvocableAction</targetReference>
            </connector>
            <label>No vacía</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoDeRegistroOCSDecision</name>
        <label>¿Tipo de registro OCS?</label>
        <locationX>1172</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>EsOCSOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmailByCaseIdAction</targetReference>
            </connector>
            <label>Es OCS</label>
        </rules>
    </decisions>
    <interviewLabel>Case Trigger - After Update - Desconexión interaccions CSM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update - Desconexión interacciones CSM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Error_Log_Desconexion_Interaccion</name>
        <label>Crear Error Log Desconexión Interacción</label>
        <locationX>314</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Desconexión Interacciones</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Status Disconnect Invocable Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogEmailQueryAction</name>
        <label>Crear Error Log Consulta Emails</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Desconexión interacciones</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>GetEmailByCaseIdAction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogStatusRequestAction</name>
        <label>Crear Error Log Solicitud Estado</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Desconexión interacciones</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>StatusRequestInvocableAction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos todos los emails asociados al Caso que ha desencadenado el flujo y que sean entrantes</description>
        <name>GetEmailByCaseIdAction</name>
        <label>Obtener Email Messages por Caso</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListaNoVaciaDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogEmailQueryAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GenesysInteractionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 4 AND (2 OR 3 OR 5)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Particulares</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Administración</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC Service</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>TipoDeRegistroOCSDecision</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListaGetConInteraccion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaGetConInteraccionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaGetConInteraccionV2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>StatusInteractionsInvocableAction</elementReference>
        </value>
    </variables>
    <variables>
        <name>ListaGetPrueba</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>nuevaListaGetPrueba</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
