force-app/zurich-base/main/default/flows/CaseTriggerHegeoBeforeUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>UpdateAccountLookupWithAccountFound</name>
        <label>Update Account Lookup With Account Found</label>
        <locationX>149</locationX>
        <locationY>2845</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRelatedIntermediary.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateClaimLookupWithClaimFound</name>
        <label>Update Claim Lookup With Claim Found</label>
        <locationX>193</locationX>
        <locationY>2173</locationY>
        <assignmentItems>
            <assignToReference>$Record.ClaimId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRelatedClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HegeoIntermediaryIdHasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOfferLookupWithHegeoOfferId</name>
        <label>Update Offer Lookup With HegeoOfferId</label>
        <locationX>490</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>$Record.OfferId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRelatedOfferWithOfferId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HegeoPolicyIdHasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOfferLookupWithHegeoPrePolicyId</name>
        <label>Update Offer Lookup With HegeoPrePolicyId</label>
        <locationX>50</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>$Record.OfferId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRelatedOfferWithPrePolicyId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HegeoPolicyIdHasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePolicyLookupWithPolicyFound</name>
        <label>Update Policy Lookup With Policy Found</label>
        <locationX>193</locationX>
        <locationY>1501</locationY>
        <assignmentItems>
            <assignToReference>$Record.PolicyId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRelatedPolicy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HegeoClaimIdHasChanged</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountFound</name>
        <label>Account Found?</label>
        <locationX>281</locationX>
        <locationY>2725</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AccountFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRelatedIntermediary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountLookupWithAccountFound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClaimFound</name>
        <label>Claim Found?</label>
        <locationX>325</locationX>
        <locationY>2053</locationY>
        <defaultConnector>
            <targetReference>HegeoIntermediaryIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ClaimFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRelatedClaim</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateClaimLookupWithClaimFound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoClaimIdHasChanged</name>
        <label>Hegeo ClaimId Has Changed?</label>
        <locationX>479</locationX>
        <locationY>1813</locationY>
        <defaultConnector>
            <targetReference>HegeoIntermediaryIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoClaimIdHasChangedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HegeoClaimId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HegeoClaimId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchRelatedClaim</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoIntermediaryIdHasChanged</name>
        <label>Hegeo IntermediaryId Has Changed?</label>
        <locationX>479</locationX>
        <locationY>2485</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoIntermediaryIdHasChangedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HegeoIntermediaryId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HegeoIntermediaryId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchRelatedIntermediary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoOfferIdHasChanged</name>
        <label>Hegeo Offer Id Has Changed?</label>
        <locationX>776</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>HegeoPolicyIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoOfferIdHasChangedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HegeoOfferId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HegeoOfferId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchRelatedOfferWithOfferId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoOfferIdOfferFound</name>
        <label>HegeoOfferId Offer Found?</label>
        <locationX>622</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>HegeoPolicyIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoOfferIdOfferFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRelatedOfferWithOfferId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOfferLookupWithHegeoOfferId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoPolicyIdHasChanged</name>
        <label>HegeoPolicyId Has Changed?</label>
        <locationX>479</locationX>
        <locationY>1141</locationY>
        <defaultConnector>
            <targetReference>HegeoClaimIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoPolicyIdHasChangedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HegeoPolicyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HegeoPolicyId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchRelatedPolicy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el campo ha cambiado</description>
        <name>HegeoPrePolicyIdHasChanged</name>
        <label>Hegeo PrePolicyId has changed?</label>
        <locationX>479</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>HegeoOfferIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoPrePolicyIdHasChangedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HegeoPrePolicyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HegeoPrePolicyId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchRelatedOfferWithPrePolicyId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HegeoPrePolicyOfferFound</name>
        <label>HegeoPrePolicy Offer Found?</label>
        <locationX>182</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>HegeoPolicyIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HegeoPrePolicyOfferFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRelatedOfferWithPrePolicyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOfferLookupWithHegeoPrePolicyId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PolicyFound</name>
        <label>Policy Found?</label>
        <locationX>325</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>HegeoClaimIdHasChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PolicyFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRelatedPolicy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePolicyLookupWithPolicyFound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Cuando se actualizan los campos relacionados con Hegeo de un Caso, buscamos y actualizamos los lookups correspondientes</description>
    <interviewLabel>Case Trigger Hegeo - Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger Hegeo - Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchRelatedClaim</name>
        <label>Search Related Claim</label>
        <locationX>325</locationX>
        <locationY>1933</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClaimFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INFOClaimNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoClaimId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchRelatedIntermediary</name>
        <label>Search Related Intermediary</label>
        <locationX>281</locationX>
        <locationY>2605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INFOIntermediaryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoIntermediaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchRelatedOfferWithOfferId</name>
        <label>Search Related Offer With OfferId</label>
        <locationX>622</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HegeoOfferIdOfferFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InfoQuoteNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoOfferId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Buscamos una oferta que tenga InfoQuoteNumber__c igual al campo HegeoPrePolicyId__c</description>
        <name>SearchRelatedOfferWithPrePolicyId</name>
        <label>Search Related Offer With PrePolicyId</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HegeoPrePolicyOfferFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InfoQuoteNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoPrePolicyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchRelatedPolicy</name>
        <label>Search Related Policy</label>
        <locationX>325</locationX>
        <locationY>1261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PolicyFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InfoPolicyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoPolicyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Policy__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HegeoPrePolicyIdHasChanged</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>HegeoOfferId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HegeoPrePolicyId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HegeoPolicyId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HegeoClaimId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HegeoIntermediaryId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
