force-app/zurich-base/main/default/flows/CaseTriggerBeforeInsertEntitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Asignar_CCS</name>
        <label>Asignar CCS</label>
        <locationX>1106</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CCS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CCS.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_CE</name>
        <label>Asignar CE</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CE.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_CSM</name>
        <label>Asignar CSM</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CSM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_CSM.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default</name>
        <label>Asignar Default</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default_CCS</name>
        <label>Asignar Default CCS</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CCS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CCS.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default_CE</name>
        <label>Asignar Default CE</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CE.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Default_CSM</name>
        <label>Asignar Default CSM</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CSM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_CSM.BusinessHoursId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CaseEntitlementAssignment</name>
        <label>Asignar Entitlement Caso</label>
        <locationX>4098</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundUspEntitlement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundUspBusinessHours</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CCS_o_CSM_o_CE</name>
        <label>¿CCS, CSM o CE?</label>
        <locationX>908</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Centro_Excelencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro Excelencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_CE</targetReference>
            </connector>
            <label>Centro Excelencia</label>
        </rules>
        <rules>
            <name>CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_CSM</targetReference>
            </connector>
            <label>CSM</label>
        </rules>
        <rules>
            <name>CCS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BusinessCustomer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartnerOCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_CCS</targetReference>
            </connector>
            <label>CCS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba que el origen sea email, ya que de lo contrario, por el momento no se aplicaría ningún SLA</description>
        <name>EmailOriginDecision</name>
        <label>¿Origen email?</label>
        <locationX>4670</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>EmailOriginOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoteINFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedAccountDecision</targetReference>
            </connector>
            <label>Origen Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrado_Entitlement_CCS</name>
        <label>¿Encontrado Entitlement CCS?</label>
        <locationX>1238</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Default_CCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontrado CCS</defaultConnectorLabel>
        <rules>
            <name>Encontrado_CCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_CCS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CCS</targetReference>
            </connector>
            <label>Encontrado CCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrado_Entitlement_CE</name>
        <label>¿Encontrado Entitlement CE?</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Default_CE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontrado CE</defaultConnectorLabel>
        <rules>
            <name>Encontrado_CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_CE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CE</targetReference>
            </connector>
            <label>Encontrado CE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrado_Entitlement_CSM</name>
        <label>¿Encontrado Entitlement CSM?</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Default_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Encontrado CSM</defaultConnectorLabel>
        <rules>
            <name>Encontrado_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_CSM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_CSM</targetReference>
            </connector>
            <label>Encontrado CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotEntitlementResultsDecision</name>
        <label>Existen resultados USP</label>
        <locationX>3614</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>GetDefaultUSPAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>USPResultsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundUspEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CaseEntitlementAssignment</targetReference>
            </connector>
            <label>Resultados USP</label>
        </rules>
        <rules>
            <name>NoResultsProductiveOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundUspEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMEsSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDefaultUSPProductiveAction</targetReference>
            </connector>
            <label>Sin resultados - Productivo</label>
        </rules>
        <rules>
            <name>NoResultsNotProductiveOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundUspEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SMEsSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No productivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDefaultUSPNotProductiveAction</targetReference>
            </connector>
            <label>Sin resultados - No productivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotUspPartnerEntitlementResultsDecision</name>
        <label>Existen resultados USP Partner</label>
        <locationX>4626</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>GetDefaultUspPartnerAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>UspPartnerEntitlementResultsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundUspEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseEntitlementAssignment</targetReference>
            </connector>
            <label>Resultados USP Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mediador_panelizado</name>
        <label>¿Mediador panelizado?</label>
        <locationX>3218</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetDefaultUSPAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Venta</name>
            <conditionLogic>1 AND ( (2 AND 3) OR (4 AND 5) OR (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Danos-RC Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWSaleRCDamage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWSaleSpecialties__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construccion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWSaleBuilding__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Entitlement_Default_Mediador_Panelizado_Venta</targetReference>
            </connector>
            <label>Venta</label>
        </rules>
        <rules>
            <name>Cartera</name>
            <conditionLogic>1 AND ( (2 AND 3) OR (4 AND 5) OR (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cartera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWPortfolioRCDamage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWPortfolioSpecialties__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construccion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.UWPorfolioBuilding__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_Entitlement_Asignar</targetReference>
            </connector>
            <label>Cartera</label>
        </rules>
        <rules>
            <name>No_Mediador_Panelizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.SMEsSegment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUSPEntitlementAction</targetReference>
            </connector>
            <label>No Mediador Panelizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_Entitlement_Asignar</name>
        <label>¿Que Entitlement Asignar?</label>
        <locationX>2690</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetDefaultUSPAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asignar_16</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Información</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Servicios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeN3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Entitlement_Mediador_Panelizado_Cartera_Cierre_16_h</targetReference>
            </connector>
            <label>Asignar 16</label>
        </rules>
        <rules>
            <name>Asignar_30</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND (4 OR 5 OR (6 AND (7 OR 8) )))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Mediador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión Servicios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reemplazo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rehabilitación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeN3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clausulado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeN3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infraseguro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Entitlement_Mediador_Panelizado_Cartera_cierre_30_h</targetReference>
            </connector>
            <label>Asignar 30</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeDecision</name>
        <label>¿Tipo de registro?</label>
        <locationX>3454</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCSInquiryOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Cuenta_asociada</targetReference>
            </connector>
            <label>OCS Inquiry</label>
        </rules>
        <rules>
            <name>USPInquiryOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOriginDecision</targetReference>
            </connector>
            <label>USP Inquiry</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si tiene un mediador asociado y este cuenta con los datos necesarios informados o si es un partner. De lo contrario asocia el SLA por defecto</description>
        <name>RelatedAccountDecision</name>
        <label>¿Cuenta asociada?</label>
        <locationX>4098</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetDefaultUSPAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay mediador</defaultConnectorLabel>
        <rules>
            <name>IntermediaryOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mediador_panelizado</targetReference>
            </connector>
            <label>Mediador</label>
        </rules>
        <rules>
            <name>PartnerOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartnerOCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUspPartnerEntitlementAction</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Cuenta_asociada</name>
        <label>¿Tiene Cuenta asociada?</label>
        <locationX>1403</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay cuenta</defaultConnectorLabel>
        <rules>
            <name>Si_hay_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCS_o_CSM_o_CE</targetReference>
            </connector>
            <label>Si hay cuenta</label>
        </rules>
    </decisions>
    <description>Flujo encargado de, en el momento de la creación del caso, evaluar si qué entitlement aplicar al mismo</description>
    <environments>Default</environments>
    <formulas>
        <name>Channel</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Account.RecordType.DeveloperName} = &apos;PartnerOCS&apos;,
&apos;Partner&apos; ,
&apos;Directo&apos;)</expression>
    </formulas>
    <interviewLabel>Case Trigger - Before insert Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before insert - Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Default</name>
        <label>Default</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Default_CCS</name>
        <label>Default CCS</label>
        <locationX>1370</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default_CCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default CCS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Default_CE</name>
        <label>Default CE</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default CDEX</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Default_CSM</name>
        <label>Default CSM</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Default_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default CSM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_CCS</name>
        <label>Entitlement CCS</label>
        <locationX>1238</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrado_Entitlement_CCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_CE</name>
        <label>Entitlement CE</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrado_Entitlement_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Centro Excelencia</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_CSM</name>
        <label>Entitlement CSM</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrado_Entitlement_CSM</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SegmentDescription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Administración</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Particulares</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultUSPAction</name>
        <label>Recuperar Entitlement Default USP</label>
        <locationX>4010</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predeterminado USP</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultUSPNotProductiveAction</name>
        <label>Recuperar Entitlement Default No Productivo USP</label>
        <locationX>3746</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predeterminado USP - No productivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultUspPartnerAction</name>
        <label>Recuperar Entitlement Default USP Partner</label>
        <locationX>4714</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predeterminado USP Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultUSPProductiveAction</name>
        <label>Recuperar Entitlement Default Productivo USP</label>
        <locationX>3482</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predeterminado USP - Productivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUSPEntitlementAction</name>
        <label>Recuperar Entitlement USP</label>
        <locationX>3614</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotEntitlementResultsDecision</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7 AND 8</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSMESegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SMEsSegment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SegmentDescription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductGroupCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HegeoProductGroupCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductGroupCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>ProductGroupCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetUspPartnerEntitlementAction</name>
        <label>Recuperar Entitlement USP Partner</label>
        <locationX>4626</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotUspPartnerEntitlementResultsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseTypeN2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subtype__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TypeN3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSMESegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SMEsSegment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseTypeN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>ProductGroupCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Entitlement_Default_Mediador_Panelizado_Venta</name>
        <label>Recuperar Entitlement Default Mediador Panelizado Venta</label>
        <locationX>2162</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Predeterminado USP -Mediador Panelizado Venta</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Entitlement_Mediador_Panelizado_Cartera_Cierre_16_h</name>
        <label>Recuperar Entitlement Mediador Panelizado Cartera Cierre 16 h</label>
        <locationX>2426</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP -Mediador Panelizado Cartera Cierre 16h</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Entitlement_Mediador_Panelizado_Cartera_cierre_30_h</name>
        <label>Recuperar Entitlement Mediador Panelizado Cartera cierre 30 h</label>
        <locationX>2690</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CaseEntitlementAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP -Mediador Panelizado Cartera Cierre 30h</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>FoundUspBusinessHours</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundUspEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>3328</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeDecision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>FoundUspBusinessHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundUspEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
