force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertUpdateGenerarActividadSeguimiento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ColeccionProductoAssignment</name>
        <label>Asignación Colección Producto</label>
        <locationX>620</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>ColeccionFiltrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductNotSegmentFilter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SegmentoUSPInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ColeccionSegmentoAssignment</name>
        <label>Asignación Colección Segmento</label>
        <locationX>620</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>ColeccionFiltrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilterBySegmentFilter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductNotNullDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ColeccionSegmentoUSPAssignment</name>
        <label>Asignación Colección Segmento USP</label>
        <locationX>620</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>ColeccionFiltrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltroPorSegmentoUSPFilter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssigment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountMetadataAssignment</name>
        <label>Cantidad Metadatos Recuperados</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TamaListaDeMetadatosRecuperados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetMetadataAction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueRecordDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnlyAssignment</name>
        <label>Asignación</label>
        <locationX>840</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>MetadatoEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalAssigment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssigment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordMetadataAssigment</name>
        <label>Asignación Registro De Metadato</label>
        <locationX>840</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>MetadatoEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchRecordMetadataLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionFiltrada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SearchRecordMetadataLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchRecordMetadataLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniqueRecordAssigment</name>
        <label>Único Registro Asignación</label>
        <locationX>492</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>MetadatoEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentLoop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FilterBySegmentFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro Por Segmento</label>
        <locationX>620</locationX>
        <locationY>1391</locationY>
        <assignNextValueToReference>currentItem_FilterBySegmentFilter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionFiltrada</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterBySegmentFilter_0.SegmentoMediacion__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Account.Segment__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ColeccionSegmentoAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FiltroPorSegmentoUSPFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro Por Segmento USP</label>
        <locationX>620</locationX>
        <locationY>2303</locationY>
        <assignNextValueToReference>currentItem_FiltroPorSegmentoUSPFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionFiltrada</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FiltroPorSegmentoUSPFilter.SegmentoMediacionUSP__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Account.SMEsSegment__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ColeccionSegmentoUSPAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>ProductNotSegmentFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro Por Producto Sin Segmento</label>
        <locationX>620</locationX>
        <locationY>1847</locationY>
        <assignNextValueToReference>currentItem_FiltroPorSegmentoUSPFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionFiltrada</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FiltroPorSegmentoUSPFilter.ProductoConstruccion__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Product.INFO_Product_Number__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ColeccionProductoAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>CaseProductUSPDecision</name>
        <label>¿Caso y  Producto USP?</label>
        <locationX>1436</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not USP</defaultConnectorLabel>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product.IsUspProduct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMetadataAction</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConditionsDecision</name>
        <label>¿Cumple Condiciones?</label>
        <locationX>578</locationX>
        <locationY>3071</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MetadataNotNullOutcome</name>
            <conditionLogic>((1 AND 2 ) OR (3 AND 4) OR (5)) AND ( 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>MetadatoEncontrado.PicklistIncExcNull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incluido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.PicklistIncExcNull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excluido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.PicklistIncExcNull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ninguno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacionUSP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacionUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.SMEsSegment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIDTaskActivityUSP</targetReference>
            </connector>
            <label>Recuperado</label>
        </rules>
    </decisions>
    <decisions>
        <name>MetadataNullOrNotDecision</name>
        <label>Metadato Recuperado</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MetadatasNotNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadataAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountMetadataAssignment</targetReference>
            </connector>
            <label>Metadatos Recuperados</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductNotNullDecision</name>
        <label>Producto Informado</label>
        <locationX>752</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>SegmentoUSPInformado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Producto</defaultConnectorLabel>
        <rules>
            <name>ProductOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MetadatoEncontrado.ProductoConstruccion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductNotSegmentFilter</targetReference>
            </connector>
            <label>Producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegmentNotNullOutcome</name>
        <label>Segmento Informado</label>
        <locationX>752</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>ProductNotNullDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Segmento</defaultConnectorLabel>
        <rules>
            <name>SegmentOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterBySegmentFilter</targetReference>
            </connector>
            <label>Segmento</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegmentoUSPInformado</name>
        <label>Segmento USP Informado</label>
        <locationX>752</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>FinalAssigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Segmento USP</defaultConnectorLabel>
        <rules>
            <name>SegmentoUSPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MetadatoEncontrado.SegmentoMediacionUSP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltroPorSegmentoUSPFilter</targetReference>
            </connector>
            <label>Segmento USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueRecordDecision</name>
        <label>¿Unico Registro?</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>SearchRecordMetadataLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Múltiples Registros</defaultConnectorLabel>
        <rules>
            <name>UniqueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TamaListaDeMetadatosRecuperados</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentLoop</targetReference>
            </connector>
            <label>Unico</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateForTask</name>
        <dataType>Date</dataType>
        <expression>{!MetadatoEncontrado.FechaVencimiento__c} + {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>DueDateForTaskAdd1</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +{!MetadatoEncontrado.FechaVencimiento__c} + 1</expression>
    </formulas>
    <interviewLabel>Case Trigger - After Insert/Update - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert/Update - Generar Actividad Seguimiento</label>
    <loops>
        <name>AssignmentLoop</name>
        <label>Bucle Solo Asignación</label>
        <locationX>404</locationX>
        <locationY>935</locationY>
        <collectionReference>GetMetadataAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UniqueRecordAssigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConditionsDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FinalAssigment</name>
        <label>Asignación Final</label>
        <locationX>752</locationX>
        <locationY>2639</locationY>
        <collectionReference>ColeccionFiltrada</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OnlyAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConditionsDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SearchRecordMetadataLoop</name>
        <label>Buscar RegistroMetadato</label>
        <locationX>752</locationX>
        <locationY>935</locationY>
        <collectionReference>GetMetadataAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordMetadataAssigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SegmentNotNullOutcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRecordsGetMetadataErrorAction</name>
        <label>Create Records Get Metadata Error Action</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert/Update - Generar Actividad Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar Metadata</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskAction</name>
        <label>Crear Tarea</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>UpdateDueDateAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateTaskRecordsErrorAction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateForTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeIDTaskActivityUSP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskRecordsErrorAction</name>
        <label>Create Task Records  Error Action</label>
        <locationX>578</locationX>
        <locationY>3431</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert/Update - Generar Actividad Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Crear Tarea Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GetRecordTypeTaskErrorAction</name>
        <label>Get RecordType Task Error Action</label>
        <locationX>842</locationX>
        <locationY>3311</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert/Update - Generar Actividad Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar RecordTypeID Actividad USP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>UpdateRecordsCaseDueDateErrorAction</name>
        <label>Update Records Case Due Date Error Action</label>
        <locationX>314</locationX>
        <locationY>3551</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert/Update - Generar Actividad Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Actualizar Fecha Vencimiento en Caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetMetadataAction</name>
        <label>Recuperar Metadato</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MetadataNullOrNotDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRecordsGetMetadataErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MarcoActuacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actividades__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RiskAppetite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GenerateMonitoringCriteria__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIDTaskActivityUSP</name>
        <label>Recuperar RecordTypeID Tarea Actividad USP</label>
        <locationX>50</locationX>
        <locationY>3191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTaskAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetRecordTypeTaskErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activity_USP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDueDateAction</name>
        <label>Actualizar Fecha Vencimiento Caso</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <faultConnector>
            <targetReference>UpdateRecordsCaseDueDateErrorAction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CloseDate__c</field>
            <value>
                <elementReference>DueDateForTaskAdd1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseProductUSPDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RiskAppetite__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Industry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Monitoring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ColeccionFiltrada</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GenerateMonitoringCriteria__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterBySegmentFilter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GenerateMonitoringCriteria__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_FiltroPorSegmentoUSPFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GenerateMonitoringCriteria__mdt</objectType>
    </variables>
    <variables>
        <name>MetadatoEncontrado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GenerateMonitoringCriteria__mdt</objectType>
    </variables>
    <variables>
        <name>TamaListaDeMetadatosRecuperados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
