force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignClaimProduct</name>
        <label>Asignación Producto</label>
        <locationX>980</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClaimId__r.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRegistro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOfferProduct</name>
        <label>Asignación Producto</label>
        <locationX>1170</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OfferId__r.ProductId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRegistro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPolicyProduct</name>
        <label>Asignación Producto</label>
        <locationX>783</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PolicyId__r.ProductId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRegistro</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckChanges</name>
        <label>Comprobar cambios</label>
        <locationX>614</locationX>
        <locationY>113</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PolicyId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PolicyId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OfferId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OfferId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ClaimId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClaimId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckPolicy</targetReference>
            </connector>
            <label>Ha habido cambios</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPolicy</name>
        <label>Comprobar Póliza</label>
        <locationX>819</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>OfferOrClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Póliza Vacía</defaultConnectorLabel>
        <rules>
            <name>PolicyIsFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PolicyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPolicyProduct</targetReference>
            </connector>
            <label>Póliza Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfferOrClaim</name>
        <label>Oferta o siniestro</label>
        <locationX>1017</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>AssignOfferProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oferta Rellena</defaultConnectorLabel>
        <rules>
            <name>ClaimFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClaimProduct</targetReference>
            </connector>
            <label>Siniestro Relleno</label>
        </rules>
    </decisions>
    <interviewLabel>Case Trigger - Before insert/update - Cierre caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After insert/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ActualizarRegistro</name>
        <label>Actualizar Registro</label>
        <locationX>1053</locationX>
        <locationY>536</locationY>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>223</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckChanges</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PolicyId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OfferId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClaimId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
