force-app/zurich-base/main/default/flows/Case_Trigger_After_Update_Change_Status_in_Related_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Related_Case_Status_Field</name>
        <label>Assign Related Case Status Field</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Task.Related_Case_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Updated_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Updated_Task</name>
        <label>Save Updated Task</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TaskToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Task</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Solicitud de documentaci贸n por SMS</description>
        <name>Documentation_request_by_SMS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitud de documentaci贸n por SMS</stringValue>
        </value>
    </constants>
    <constants>
        <description>Documentaci贸n subida por cliente</description>
        <name>Documentation_uploaded_by_client</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentaci贸n subida por cliente</stringValue>
        </value>
    </constants>
    <decisions>
        <name>GetNullAction</name>
        <label>Get Null?</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>ActivateCaseOpenAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCasesSameMediatedCustomerAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesactivateCaseOpenAction</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetPriorNullDecision</name>
        <label>Get Prior Null?</label>
        <locationX>710</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>MediatedCustomerNullDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriorNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCasesSamePriorMediatedCustomerAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesactivatePriorCaseOpenAction</targetReference>
            </connector>
            <label>Prior Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>MediatedCustomerNullDecision</name>
        <label>Mediated Customer Null?</label>
        <locationX>710</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCasesSameMediatedCustomerAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MediatedNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MediatedCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Mediated Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>OtherCaseOpenDecision</name>
        <label>Other case open</label>
        <locationX>644</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NecesaryUpdateNewMediatedCustomerOutcome</name>
            <conditionLogic>1 OR (5 AND 6) OR (2 AND 3) AND 4 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MediatedCustomer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MediatedCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MediatedCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PendingBy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USP_RecordType_DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCasesSameMediatedCustomerAction</targetReference>
            </connector>
            <label>Necesary Update New Mediated Customer</label>
        </rules>
        <rules>
            <name>NecesaryUpdateNewOldMediatedCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MediatedCustomer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MediatedCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USP_RecordType_DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCasesSamePriorMediatedCustomerAction</targetReference>
            </connector>
            <label>Necesary Update New Old Mediated Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Task_Found</name>
        <label>Related Task Found?</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>OtherCaseOpenDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedDecision</name>
        <label>Status changed?</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>OtherCaseOpenDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>StatusChagedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Task</targetReference>
            </connector>
            <label>Status Chaged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>USP_RecordType_DeveloperName</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_RecordType_USP.Value__c}</expression>
    </formulas>
    <interviewLabel>Case Trigger - After Update - Change Status in Related Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</label>
    <loops>
        <name>For_Each_Task</name>
        <label>For Each Task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Case_Status_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>GenerarErrorLogActivateCaseOpen</name>
        <label>Generar Error Log Activate Case Open</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Desactivate Case Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogDesactivateCaseOpen</name>
        <label>Generar Error Log Desactivate Case Open</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Desactivate Case Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogDesactivatePriorCaseOpen</name>
        <label>Generar Error Log Desactivate Prior Case Open</label>
        <locationX>1634</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Desactivate Prior Case Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogGetSameMediatedCustomerAction</name>
        <label>Generar Error Log Get Same Mediated Customer</label>
        <locationX>1106</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Get Same Mediated Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogGetSamePriorMediatedCustomer</name>
        <label>Generar Error Log Get Same Prior Mediated Customer</label>
        <locationX>2074</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Change Status in Related Task-Other Open Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Get Same Prior Mediated Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Task</name>
        <label>Get Related Task</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Documentation_uploaded_by_client</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Documentation_request_by_SMS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Case_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasesSameMediatedCustomerAction</name>
        <label>Get Cases Same Mediated Customer</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNullAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogGetSameMediatedCustomerAction</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND NOT(3 AND 4)</filterLogic>
        <filters>
            <field>MediatedCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasesSamePriorMediatedCustomerAction</name>
        <label>Get Cases Same Prior Mediated Customer</label>
        <locationX>710</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriorNullDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogGetSamePriorMediatedCustomer</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND NOT(3 AND 4)</filterLogic>
        <filters>
            <field>MediatedCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActivateCaseOpenAction</name>
        <label>Activate Case Open</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <faultConnector>
            <targetReference>GenerarErrorLogActivateCaseOpen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseOpen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseOpen__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesactivateCaseOpenAction</name>
        <label>Desactivate Case Open</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <faultConnector>
            <targetReference>GenerarErrorLogDesactivateCaseOpen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseOpen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseOpen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesactivatePriorCaseOpenAction</name>
        <label>Desactivate Prior Case Open</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>MediatedCustomerNullDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogDesactivatePriorCaseOpen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseOpen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseOpen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Tasks</name>
        <label>Update Related Tasks</label>
        <locationX>358</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>OtherCaseOpenDecision</targetReference>
        </connector>
        <inputReference>TaskToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChangedDecision</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR (3 AND 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MediatedCustomer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
