force-app/zurich-base/main/default/flows/CaseSelectCustomer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Utiliza un Apex Action para hacer uso</description>
        <name>Search_Accounts_Apex_Action</name>
        <label>Search Accounts Apex Action</label>
        <locationX>458</locationX>
        <locationY>359</locationY>
        <actionName>FlowSearchAccountsByEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CountListAccounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>caseEmail</name>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>La salida del Apex Action devuelve una lista de cuentas, se necesita saber cuántas tiene</description>
        <name>CountListAccounts</name>
        <label>Count List Accounts</label>
        <locationX>502</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>CountList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Search_Accounts_Apex_Action.AccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Se_han_encontrado_Cuentas</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoAsignacion</name>
        <choiceText>No (Cancelar asignación)</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Se asigna la cuenta al caso</description>
        <name>SiAsignacion</name>
        <choiceText>Sí (Confirmar asignación)</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>Para no ejecutar el ApexAction (que tarda mucho) cada vez que se entra al registro, ya que esta optimización no la hace el selector de visibilidad de la flexipage</description>
        <name>Condicion_de_entrada</name>
        <label>Condición de entrada</label>
        <locationX>164</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_vacia_y_Supplied_Email_relleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Accounts_Apex_Action</targetReference>
            </connector>
            <label>Cuenta vacía y Supplied Email relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_actualiza_el_Caso</name>
        <label>¿Se actualiza el Caso?</label>
        <locationX>884</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoActualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_ConfirmarCancelarAsignacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoAsignacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elige_una_de_estas_cuentas</targetReference>
            </connector>
            <label>No Actualiza</label>
        </rules>
        <rules>
            <name>SiActualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_ConfirmarCancelarAsignacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SiAsignacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCaso</targetReference>
            </connector>
            <label>Si Actualiza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_han_encontrado_Cuentas</name>
        <label>¿Se han encontrado Cuentas?</label>
        <locationX>651</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorNoAccounts</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elige_una_de_estas_cuentas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>En el Layout OCS de Caso aparece este flow para seleccionar entre varios clientes cuál se quiere relacionar al caso</description>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Select Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Deja un registro del error cometido en Error_Logs__c</description>
        <name>LogError</name>
        <label>Registrar error</label>
        <locationX>444</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_External_ID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>FlowCaseSelectCustomer</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Registro desde el que se inició el Flow: Layout OCS de Caso</description>
        <name>Case</name>
        <label>Case</label>
        <locationX>100</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condicion_de_entrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>consigue información acerca de la cuenta</description>
        <name>Cuenta</name>
        <label>Cuenta</label>
        <locationX>861</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MostrarCuentaSeleccionadaMensaje</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarCaso</name>
        <label>Actualizar Caso</label>
        <locationX>1140</locationX>
        <locationY>547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Cuenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Cuenta.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Elige_una_de_estas_cuentas</name>
        <label>Elige una de estas cuentas</label>
        <locationX>624</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cuenta</targetReference>
        </connector>
        <fields>
            <name>LWCAction</name>
            <extensionName>c:flowCaseSelectCustomer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountIdsList</name>
                <value>
                    <elementReference>Search_Accounts_Apex_Action.AccountIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountIdSelected</name>
                <value>
                    <elementReference>selectedAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Search_Accounts_Apex_Action.AccountIds</assignToReference>
                <name>accountIdsList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccountId</assignToReference>
                <name>accountIdSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorNoAccounts</name>
        <label>Info No Accounts</label>
        <locationX>899</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextNoAccounts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;No se han encontrado clientes en el sistema con esa información de correo electrónico&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MostrarCuentaSeleccionadaMensaje</name>
        <label>Mostrar Cuenta Seleccionada Mensaje</label>
        <locationX>1049</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Se_actualiza_el_Caso</targetReference>
        </connector>
        <fields>
            <name>MostrarCuentaSeleccionada</name>
            <fieldText>&lt;p&gt;¿Seguro que quiere actualizar el caso con la siguiente cuenta?&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre&lt;/b&gt;: {!Cuenta.Name}&lt;/li&gt;&lt;li&gt;&lt;b&gt;Tipo&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Cuenta.RecordType.Name}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rb_ConfirmarCancelarAsignacion</name>
            <choiceReferences>SiAsignacion</choiceReferences>
            <choiceReferences>NoAsignacion</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Confirma o Cancela:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIdsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>número de cuentas encontradas por AccountSearchService</description>
        <name>CountList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable rellena por el LWC</description>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
