force-app/zurich-base/main/default/flows/CaseTriggerAfterUpdateActividadSeguimiento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>dueDateAssignment</name>
        <label>Due Date Assignment</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>updateDueDateLoop.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateDueDateLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateDueDateLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>uspCaseDecision</name>
        <label>USP Case</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not USP</defaultConnectorLabel>
        <rules>
            <name>uspOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTaskCaseAction</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Trigger-After Update- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update - Actividad - Seguimiento</label>
    <loops>
        <name>updateDueDateLoop</name>
        <label>Update Due Date Loop</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>getTaskCaseAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dueDateAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDueDateAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTaskCaseAction</name>
        <label>Get Task Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateDueDateLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguimiento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDueDateAction</name>
        <label>Update Due Date Action</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>caseRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>uspCaseDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
