force-app/zurich-base/main/default/flows/CaseTriggerAfterUpdateCaseEscalationOwnerNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>caseEscalationOwnerAction</name>
        <label>caseEscalationOwnerAction</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>idCustomNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idsOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titleOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Id_Custom_Notificaction</name>
        <label>Get Id Custom Notificaction</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>GetGlobalConfigurationValueIdFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IdCustomNotificationLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>globalValueName</name>
            <value>
                <elementReference>Escalation_Case_Owner_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idORg</name>
            <value>
                <elementReference>idORG</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetGlobalConfigurationValueIdFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Id_Custom_Notification_Assignment</name>
        <label>Id Custom Notification Assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>idCustomNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdCustomNotificationLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdCustomNotificationLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>idOwnerAssigment</name>
        <label>idOwnerAssigment</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>idsOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>caseEscalationOwnerAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>caseUspDecision</name>
        <label>Case USP</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Case USP</defaultConnectorLabel>
        <rules>
            <name>caseUspOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ownerChangeDecision</targetReference>
            </connector>
            <label>Case USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ownerChangeDecision</name>
        <label>Owner change</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ownerChangeOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Id_Custom_Notificaction</targetReference>
            </connector>
            <label>Owner Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>idORG</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Organization.Id})</expression>
    </formulas>
    <interviewLabel>Case Trigger - After Update - Case Escalation Owner Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update - Case Escalation Owner Notification</label>
    <loops>
        <name>IdCustomNotificationLoop</name>
        <label>Loop Id Custom Notification</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Id_Custom_Notificaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Id_Custom_Notification_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>idOwnerAssigment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>caseUspDecision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bodyOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Se le ha asignado el caso {!$Record.CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Escalation_Case_Owner_Notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Escalation_Case_Owner_Notification</stringValue>
        </value>
    </variables>
    <variables>
        <name>idCustomNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idsOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>titleOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Nueva asignación de caso</stringValue>
        </value>
    </variables>
</Flow>
