force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertUpdateNotificacionesPendientesUSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MandarEmailCierreCasoUSP</name>
        <label>Mandar Email Cierre Caso USP</label>
        <locationX>380</locationX>
        <locationY>4409</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>No_Responder_Zurich</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactoEmailCierreAction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>IdEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Obtener_System_User</name>
        <label>Obtener System User</label>
        <locationX>336</locationX>
        <locationY>3161</locationY>
        <actionName>GetGlobalConfigurationValueIdFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Id_System_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>globalValueName</name>
            <value>
                <elementReference>System_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idORg</name>
            <value>
                <elementReference>idORG</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetGlobalConfigurationValueIdFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ObtenerIdEmailTemplateAction</name>
        <label>Obtener Id Email Template</label>
        <locationX>380</locationX>
        <locationY>4001</locationY>
        <actionName>GetGlobalConfigurationValueIdFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopIdEmailTemplate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>globalValueName</name>
            <value>
                <elementReference>Caso_cerrado_sin_finalizar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idORg</name>
            <value>
                <elementReference>idORG</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetGlobalConfigurationValueIdFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ObtenerIdEmailTemplatePendiente</name>
        <label>Obtener Id Email Template Pendiente</label>
        <locationX>1788</locationX>
        <locationY>3377</locationY>
        <actionName>GetGlobalConfigurationValueIdFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopIdEmailTemplatePendiente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>globalValueName</name>
            <value>
                <elementReference>Caso_pendiente_USP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idORg</name>
            <value>
                <elementReference>idORG</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetGlobalConfigurationValueIdFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ObtenerSystemUserSinEmail</name>
        <label>Obtener System User Sin Email</label>
        <locationX>2932</locationX>
        <locationY>2195</locationY>
        <actionName>GetGlobalConfigurationValueIdFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IdSystemUserSinEmailLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>globalValueName</name>
            <value>
                <elementReference>System_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idORg</name>
            <value>
                <elementReference>idORG</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetGlobalConfigurationValueIdFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailUSPAction</name>
        <label>Mandar Email USP</label>
        <locationX>1788</locationX>
        <locationY>3785</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>No_Responder_Zurich</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactoEmailAction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>idEmailTemplatePendiente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SplitEmailAddress</name>
        <label>Split Email Address</label>
        <locationX>1304</locationX>
        <locationY>2087</locationY>
        <actionName>SplitEmailAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailAddressLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>LastEmailSendLoop.ToAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitEmailAddress</nameSegment>
        <outputParameters>
            <assignToReference>SplitEmails</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Se le asigna una variable a true para posteriormente diferenciar si se envía email de alerta y cerrar el caso al pasar 15 días</description>
        <name>CerrarCaso15DiasAssignment</name>
        <label>Cerrar Caso 15 Dias</label>
        <locationX>2250</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SeCierraCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se le asigna una variable a true para posteriormente diferenciar si se envía email de alerta y cerrar el caso al pasar 90 días en casos de Grandes Pymes</description>
        <name>CerrarCaso90DiasPath</name>
        <label>Cerrar Caso 90 Dias</label>
        <locationX>2514</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SeCierraCasoGrandesPymes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se le asigna una variable a true para posteriormente diferenciar si se envía email de alerta y cerrar el caso al pasar 15 días</description>
        <name>CerrarCasoFechaAssignment</name>
        <label>Cerrar Caso Fecha</label>
        <locationX>2866</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SeCierraCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaEstimadaAlcanzada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fecha_estimada_cierre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CorreoLocalizadoAssignment</name>
        <label>Correo Localizado</label>
        <locationX>1392</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>DireccionRecordatorio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DominioExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CloseCaseDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DominioExcluidoUSPAssignment</name>
        <label>Dominio Excluido</label>
        <locationX>1656</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>DominioExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EmailAddressLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailTemplatePendienteAssignment</name>
        <label>Email Template Pendiente Assignment</label>
        <locationX>1876</locationX>
        <locationY>3593</locationY>
        <assignmentItems>
            <assignToReference>idEmailTemplatePendiente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIdEmailTemplatePendiente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIdEmailTemplatePendiente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdEmailTemplateAssignment</name>
        <label>Id Email Template Assignment</label>
        <locationX>468</locationX>
        <locationY>4217</locationY>
        <assignmentItems>
            <assignToReference>IdEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIdEmailTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIdEmailTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdSystemUserAssignment</name>
        <label>Id System User Assignment</label>
        <locationX>424</locationX>
        <locationY>3377</locationY>
        <assignmentItems>
            <assignToReference>idSystemUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Id_System_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Id_System_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdSystemUserAssignmentSinEmail</name>
        <label>Id System User Assignment Sin Email</label>
        <locationX>3020</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>idSystemUserSinEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdSystemUserSinEmailLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdSystemUserSinEmailLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CloseCaseDecision</name>
        <label>¿Se cierra el caso?</label>
        <locationX>864</locationX>
        <locationY>2945</locationY>
        <defaultConnector>
            <targetReference>SeHaExcluidoElDominioYCasoVentaDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseCaseOutcome</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>SeCierraCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ModifiedByGrandesPymes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SeCierraCasoGrandesPymes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ModifiedByGrandesPymes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CumpleFechaEstimadaDecision</targetReference>
            </connector>
            <label>Si se cierra</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactoEncontradoCierreDecision</name>
        <label>Contacto Encontrado Cierre</label>
        <locationX>1920</locationX>
        <locationY>3269</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>FoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEmailAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerIdEmailTemplatePendiente</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactoEncontradoDecision</name>
        <label>Contacto Encontrado</label>
        <locationX>644</locationX>
        <locationY>3893</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEmailCierreAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerIdEmailTemplateAction</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CumpleFechaEstimadaCierreDecision</name>
        <label>Cumple Fecha Estimada Cierre?</label>
        <locationX>2756</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>ObtenerSystemUserSinEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cierre Habitual</defaultConnectorLabel>
        <rules>
            <name>NoCumpleFechaCierreOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaEstimadaAlcanzada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No Cumple Fecha Cierre</label>
        </rules>
    </decisions>
    <decisions>
        <name>CumpleFechaEstimadaDecision</name>
        <label>Cumple Fecha Estimada?</label>
        <locationX>50</locationX>
        <locationY>3053</locationY>
        <defaultConnector>
            <targetReference>Obtener_System_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cierre Habitual</defaultConnectorLabel>
        <rules>
            <name>NoCumpleFechaOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaEstimadaAlcanzada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No Cumple Fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>DominioExcluidoDecision</name>
        <label>Dominio Excluido?</label>
        <locationX>336</locationX>
        <locationY>3677</locationY>
        <defaultConnector>
            <targetReference>ContactoEmailCierreAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>DominioExcluidoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DominioExcluido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Dominio Excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>DominioExcluidoUSPDecision</name>
        <label>¿Dominio excluido USP?</label>
        <locationX>1524</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>DominioExcluidoUSPAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DominioNoExcluidoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExcluirDominioUSPDecision.CoincideVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CorreoLocalizadoAssignment</targetReference>
            </connector>
            <label>Dominio no excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailEncontradoDecision</name>
        <label>¿Email Encontrado?</label>
        <locationX>1920</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>SeNecesitaCerrarElCasoDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No encontrado</defaultConnectorLabel>
        <rules>
            <name>EmailEncontradoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastEmailSendAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastEmailSendLoop</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>fecha_estimada_cierre</name>
        <label>fecha estimada cierre</label>
        <locationX>2866</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cerrar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiasTranscurridos</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>cerrar</label>
        </rules>
    </decisions>
    <decisions>
        <name>FulfilPrerequisitesDecision</name>
        <label>¿Cumple los prerrequisitos?</label>
        <locationX>1920</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>SinCuentaDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FulfilPrerequisitesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastEmailSendAction</targetReference>
            </connector>
            <label>Cumple prerrequisitos</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPONDecision</name>
        <label>GP ON?</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPDesactivarOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByGrandesPymes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GrandesPymesDesactivarAction</targetReference>
            </connector>
            <label>GP Desactivar</label>
        </rules>
    </decisions>
    <decisions>
        <name>GrandesPymesONDecision</name>
        <label>Grandes Pymes ON?</label>
        <locationX>1502</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>USPONDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Desactivar GP</defaultConnectorLabel>
        <rules>
            <name>DesactivarGPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByGrandesPymes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grandes_Pymes_OFF</targetReference>
            </connector>
            <label>Desactivar GP</label>
        </rules>
    </decisions>
    <decisions>
        <name>GrandesPymesUSPDecision</name>
        <label>Grandes Pymes/USP?</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>GrandesPymesONDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GrandesPymesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grandes Pymes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusPriorPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grandes_Pymes_ON</targetReference>
            </connector>
            <label>Grandes Pymes</label>
        </rules>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusPriorPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USPONAction</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ModifiedByAdminDecision</name>
        <label>Modified By Admin?</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Admin User</defaultConnectorLabel>
        <rules>
            <name>NoAdminOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_date_modified</targetReference>
            </connector>
            <label>No Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeHaExcluidoElDominioYCasoVentaDecision</name>
        <label>Se ha excluido el dominio y el caso es tipo Venta?</label>
        <locationX>1678</locationX>
        <locationY>3053</locationY>
        <defaultConnector>
            <targetReference>ContactoEmailAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>ExcluidoNoVentaOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DominioExcluido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SeCierraCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SeCierraCasoGrandesPymes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaEstimadaAlcanzada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Excluido o No venta</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeNecesitaCerrarElCasoDecision</name>
        <label>¿Se necesita cerrar el caso?</label>
        <locationX>2976</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>No cerrar Caso</defaultConnectorLabel>
        <rules>
            <name>CerrarCasoOutcome</name>
            <conditionLogic>(1 AND 3)OR (2 AND NOT(3))</conditionLogic>
            <conditions>
                <leftValueReference>SeCierraCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SeCierraCasoGrandesPymes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ModifiedByGrandesPymes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CumpleFechaEstimadaCierreDecision</targetReference>
            </connector>
            <label>Cerrar Caso</label>
        </rules>
    </decisions>
    <decisions>
        <name>SinCuentaDecision</name>
        <label>Sin cuenta?</label>
        <locationX>2052</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Cuenta No Intermediario</defaultConnectorLabel>
        <rules>
            <name>SinCuentaOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastEmailSendAction</targetReference>
            </connector>
            <label>Sin Cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>USP_ONDecision</name>
        <label>USP ON?</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USPDesactivarDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USPDesactivarAction</targetReference>
            </connector>
            <label>USP Desactivar</label>
        </rules>
    </decisions>
    <decisions>
        <name>USPONDecision</name>
        <label>USP ON?</label>
        <locationX>1502</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No Desactivar USP</defaultConnectorLabel>
        <rules>
            <name>DescativarUSPDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ModifiedByUSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USPOFFAction</targetReference>
            </connector>
            <label>Descativar USP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DiasTranscurridos</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime}-{!$Record.LastModifiedDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>idORG</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Organization.Id})</expression>
    </formulas>
    <formulas>
        <name>No_Responder_Zurich</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.No_Responder_Zurich.Value__c}</expression>
    </formulas>
    <formulas>
        <name>statusPriorPending</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record__Prior.Status},&quot;Pending&quot;), &quot;on&quot;, &quot;off&quot;)</expression>
    </formulas>
    <interviewLabel>Case Trigger - After Insert/Update - Notificaciones Pendientes USP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert/Update - Notificaciones Pendientes USP</label>
    <loops>
        <name>EmailAddressLoop</name>
        <label>Email Address Loop</label>
        <locationX>1304</locationX>
        <locationY>2195</locationY>
        <collectionReference>SplitEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluirDominioUSPDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LastEmailSendLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IdSystemUserSinEmailLoop</name>
        <label>Loop Id System User Sin Email</label>
        <locationX>2932</locationX>
        <locationY>2303</locationY>
        <collectionReference>ObtenerSystemUserSinEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdSystemUserAssignmentSinEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizarCerrarCasoSinEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LastEmailSendLoop</name>
        <label>Ultimo Email Enviado Bucle</label>
        <locationX>864</locationX>
        <locationY>1979</locationY>
        <collectionReference>LastEmailSendAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SplitEmailAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseCaseDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Id_System_User</name>
        <label>Loop Id System User</label>
        <locationX>336</locationX>
        <locationY>3269</locationY>
        <collectionReference>Obtener_System_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdSystemUserAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCerrarCaso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopIdEmailTemplate</name>
        <label>Loop Id Email Template</label>
        <locationX>380</locationX>
        <locationY>4109</locationY>
        <collectionReference>ObtenerIdEmailTemplateAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdEmailTemplateAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MandarEmailCierreCasoUSP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopIdEmailTemplatePendiente</name>
        <label>Loop Id Email Template Pendiente</label>
        <locationX>1788</locationX>
        <locationY>3485</locationY>
        <collectionReference>ObtenerIdEmailTemplatePendiente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailTemplatePendienteAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendEmailUSPAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateErrorLogCaseCloseAction</name>
        <label>Generar Error Log Cierre de caso</label>
        <locationX>1172</locationX>
        <locationY>3677</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Cierre de caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogCaseEmailSend</name>
        <label>Generar Error Log Envio Email</label>
        <locationX>644</locationX>
        <locationY>4517</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Email Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogRecuperarContacto</name>
        <label>Generar Error Log Recuperar Contacto</label>
        <locationX>2316</locationX>
        <locationY>3269</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Recuperar Contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenerarErrorLogUltimoEmail</name>
        <label>Generar Error Log Ultimo Email</label>
        <locationX>3460</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Ultimo Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ContactoEmailAction</name>
        <label>Contacto Email</label>
        <locationX>1920</locationX>
        <locationY>3161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactoEncontradoCierreDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogRecuperarContacto</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContactoEmailCierreAction</name>
        <label>Contacto Email Cierre</label>
        <locationX>644</locationX>
        <locationY>3785</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactoEncontradoDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DireccionRecordatorio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LastEmailSendAction</name>
        <label>Ultimo Email Enviado</label>
        <locationX>1920</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailEncontradoDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorLogUltimoEmail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarCerrarCasoSinEmail</name>
        <label>Actualizar Cerrar Caso Sin Email</label>
        <locationX>2932</locationX>
        <locationY>2603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>Falta Respuesta Mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedBy__c</field>
            <value>
                <elementReference>idSystemUserSinEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Grandes_Pymes_OFF</name>
        <label>Grandes Pymes OFF</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>USPONDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>ModifiedByGrandesPymes__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Grandes_Pymes_ON</name>
        <label>Grandes Pymes ON</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>USP_ONDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>ModifiedByGrandesPymes__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GrandesPymesDesactivarAction</name>
        <label>Grandes Pymes Desactivar</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ModifiedByGrandesPymes__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_date_modified</name>
        <label>update date modified</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>GrandesPymesUSPDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>DateTimePendingNotifications__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCerrarCaso</name>
        <label>Actualizar Cerrar Caso</label>
        <locationX>336</locationX>
        <locationY>3569</locationY>
        <connector>
            <targetReference>DominioExcluidoDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogCaseCloseAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>Falta Respuesta Mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedBy__c</field>
            <value>
                <elementReference>idSystemUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USPDesactivarAction</name>
        <label>USP Desactivar</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ModifiedByUSP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USPOFFAction</name>
        <label>USP OFF</label>
        <locationX>1370</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>ModifiedByUSP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USPONAction</name>
        <label>USP ON</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>GPONDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>ModifiedByUSP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1794</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ModifiedByAdminDecision</targetReference>
        </connector>
        <filterLogic>1 AND 2  AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoteINFO</stringValue>
            </value>
        </filters>
        <filters>
            <field>AutomaticNotifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>PrimerEmail5Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>PrimerEmail5Dias</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>DateTimePendingNotifications__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SegundoEmail10Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>SegundoEmail10Dias</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>DateTimePendingNotifications__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CerrarCaso15Dias</name>
            <connector>
                <targetReference>CerrarCaso15DiasAssignment</targetReference>
            </connector>
            <label>CerrarCaso15Dias</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>DateTimePendingNotifications__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CerrarCaso90dias</name>
            <connector>
                <targetReference>CerrarCaso90DiasPath</targetReference>
            </connector>
            <label>CerrarCaso90dias</label>
            <offsetNumber>90</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>DateTimePendingNotifications__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Cerrar_Fecha_Estimada</name>
            <connector>
                <targetReference>CerrarCasoFechaAssignment</targetReference>
            </connector>
            <label>Cerrar Fecha Estimada</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CloseDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ExcluirDominioUSPDecision</name>
        <label>Excluir Dominio USP</label>
        <locationX>1524</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>DominioExcluidoUSPDecision</targetReference>
        </connector>
        <flowName>ExcluirDominioUSPSubflow</flowName>
        <inputAssignments>
            <name>CallCenter</name>
            <value>
                <elementReference>$Record.CallCenter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToEmail</name>
            <value>
                <elementReference>EmailAddressLoop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Caso_cerrado_sin_finalizar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Caso_cerrado_sin_finalizar</stringValue>
        </value>
    </variables>
    <variables>
        <name>Caso_pendiente_USP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Caso_pendiente_USP</stringValue>
        </value>
    </variables>
    <variables>
        <name>DireccionRecordatorio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DominioExcluido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaEstimadaAlcanzada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idEmailTemplatePendiente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idSystemUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idSystemUserSinEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SeCierraCaso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SeCierraCasoGrandesPymes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SplitEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>System_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System_User</stringValue>
        </value>
    </variables>
</Flow>
