force-app/zurich-base/main/default/flows/Case_Trigger_After_Update_Desconexion_interacciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisconnectRequestInvocableAction</name>
        <label>Solicitud desconexión interacciones</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <actionName>GenesysCloudDisconnectionAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>CreateErrorLogDisconnectRequestAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listaCasos</name>
            <value>
                <elementReference>GetEmailByCaseIdAction</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ListaNoVaciaDecision</name>
        <label>¿Lista no vacía?</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Vacía</defaultConnectorLabel>
        <rules>
            <name>NoVaciaOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmailByCaseIdAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisconnectRequestInvocableAction</targetReference>
            </connector>
            <label>No vacía</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoDeRegistroOCSDecision</name>
        <label>¿Tipo de registro OCS?</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>EsOCSOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmailByCaseIdAction</targetReference>
            </connector>
            <label>Es OCS</label>
        </rules>
    </decisions>
    <description>Triggered flow que se encarga de desconectar las interacciones de email de un caso de CSM cuando este se cierra.</description>
    <interviewLabel>Case Trigger - After Update - Desconexión interacciones CSM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update - Desconexión interacciones CSM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateErrorLogDisconnectRequestAction</name>
        <label>Crear Error Log Solicitud desconexión</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Desconexión interacciones</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>DisconnectRequestInvocableAction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogEmailQueryAction</name>
        <label>Crear Error Log Consulta Emails</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Update - Desconexión interacciones</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>GetEmailByCaseIdAction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos todos los emails asociados al Caso que ha desencadenado el flujo y que sean entrantes</description>
        <name>GetEmailByCaseIdAction</name>
        <label>Obtener Email Messages por Caso</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListaNoVaciaDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogEmailQueryAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GenesysInteractionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Particulares</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Administración</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>TipoDeRegistroOCSDecision</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
