force-app/zurich-base/main/default/flows/CaseTriggerBeforeUpdateOwnerPrior.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Se updata el campo relacionado con el anterior propietario (en este caso no necesitamos el apellido, puesto que sera una cola)</description>
        <name>SetPriorFieldForZdaAssignment</name>
        <label>Set prior field for ZDA</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerIdPrior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Se updatan los campos relacionados con el anterior propietario</description>
        <name>SetPriorFieldsAssignment</name>
        <label>Set prior fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastNameOwnerPrior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Owner:User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerIdPrior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Comprobamos si el Caso que lanza el flow es de tipo OCSInquiry, USPInquiry o ZDAInquiry. Sólo en esos casos se actualiza el prior</description>
        <name>OcsUspDecision</name>
        <label>OCS/USP</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OcsUspOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPriorFieldsAssignment</targetReference>
            </connector>
            <label>OCS/USP</label>
        </rules>
        <rules>
            <name>ZdaOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZDAInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerIdPrior__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPriorFieldForZdaAssignment</targetReference>
            </connector>
            <label>ZDA</label>
        </rules>
    </decisions>
    <description>Actualiza los campos relacionados con el anterior propietario del caso</description>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - Before Update - Owner Prior {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before Update - Owner Prior</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OcsUspDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
