force-app/zurich-base/main/default/flows/CaseTransfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostCommentAction</name>
        <label>Post Comment</label>
        <locationX>534</locationX>
        <locationY>1670</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CommentsInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ModifyCaseAssignment</name>
        <label>Modify Case</label>
        <locationX>666</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.CallCenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chosenDestination.DestinationCallCenter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDestinationAssignment</name>
        <label>Set Destination</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>chosenDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchDestinationIteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchDestinationIteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChosenDestinationDecision</name>
        <label>Chosen Destination</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>SearchDestinationIteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchDestinationIteration.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DestinationCallCenter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDestinationAssignment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CommentWrittenDecision</name>
        <label>Comment Written</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesComment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommentsInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostCommentAction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseClosedDecision</name>
        <label>Is Case Closed</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetAvailableMetadatasAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAction.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoTransferableScreen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>optionList</name>
        <collectionReference>GetAvailableMetadatasAction</collectionReference>
        <dataType>String</dataType>
        <displayField>DestinationCallCenter__c</displayField>
        <object>CaseTransferDestinations__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Transfer</label>
    <loops>
        <name>SearchDestinationIteration</name>
        <label>Search Destination</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <collectionReference>GetAvailableMetadatasAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChosenDestinationDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecordTypeAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAvailableMetadatasAction</name>
        <label>Get Available Metadatas</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseTransferScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceCallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAction.CallCenter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseTransferDestinations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAction</name>
        <label>Get Case</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseClosedDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeAction</name>
        <label>Get Record Type</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ModifyCaseAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenDestination.DestinationRecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseAction</name>
        <label>Update Case</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>CommentWrittenDecision</targetReference>
        </connector>
        <inputReference>GetCaseAction</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>caseTransferScreen</name>
        <label>Transferir Caso</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SearchDestinationIteration</targetReference>
        </connector>
        <fields>
            <name>caseTransferScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>caseTransferScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CallCenterLabel</name>
                    <fieldText>&lt;p&gt;Equipo de origen:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentCallCenterText</name>
                    <fieldText>&lt;p&gt;{!GetCaseAction.CallCenter__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>caseTransferScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DestinationCallCenter</name>
                    <choiceReferences>optionList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Equipo de destino:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CommentsInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Caso transferido por {!$User.FirstName} {!$User.LastName} desde el equipo de {!GetCaseAction.CallCenter__c}</stringValue>
            </defaultValue>
            <fieldText>Comentarios</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Transferir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoTransferableScreen</name>
        <label>No transferable Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoTransferableText</name>
            <fieldText>&lt;p&gt;El caso se encuentra en estado Cerrado, por lo que no es posible su transferencia.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chosenDestination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTransferDestinations__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferDestination</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
