force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertNotificacionesAperturaUSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotificacionAperturaUSP</name>
        <label>Notificacion Apertura USP</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Case.Notificacion_Apertura_USP</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ContentDocumentsIDsAssigment</name>
        <label>Assigment Content Documents IDs</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IdsContentDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getDocumentLoop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDocumentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumeroCasosEncontradosDecision</name>
        <label>Número Casos Encontrados</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>sizeCasosEncontrados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>casosEncontradosClienteMediado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VariosDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CasoClonadoDecision</name>
        <label>¿Caso Clonado?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clonado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isCloneCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseDocumentAction</targetReference>
            </connector>
            <label>Clonado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClienteMediadoDecision</name>
        <label>¿Cliente Mediado?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CasoClonadoDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClienteMediadoEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MediatedCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCasosMismoClienteMediado</targetReference>
            </connector>
            <label>Cliente Mediado Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludedDomainDecision</name>
        <label>¿Dominio excluido?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonExcludedDomainOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExcluirDominioSubflowAction.CoincideVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificacionAperturaUSP</targetReference>
            </connector>
            <label>Dominio no excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>FulfilPrerequisitesDecision</name>
        <label>¿Cumple los prerrequisitos?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FulfilPrerequisitesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SourceArea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Generic Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcluirDominioSubflowAction</targetReference>
            </connector>
            <label>Cumple prerrequisitos</label>
        </rules>
    </decisions>
    <decisions>
        <name>getDocumentNullDecision</name>
        <label>getDocument Null?</label>
        <locationX>424</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDocumentAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDocumentLoop</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>VariosDecision</name>
        <label>Varios?</label>
        <locationX>424</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CasoClonadoDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VariosCasosOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sizeCasosEncontrados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>value1Number</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarOtrosCasosAbiertos</targetReference>
            </connector>
            <label>Varios Casos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>value1Number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$CustomMetadata.Global_Configuration__mdt.Case_Value_1_USP.Value__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case Trigger - After Insert - Notificaciones Apertura USP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert - Notificaciones Apertura USP</label>
    <loops>
        <name>getContentDocumentLoop</name>
        <label>getContent Document Loop</label>
        <locationX>292</locationX>
        <locationY>1163</locationY>
        <collectionReference>getContentDocumentAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateContentDocumentLinkAction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getDocumentLoop</name>
        <label>getDocument Loop</label>
        <locationX>292</locationX>
        <locationY>755</locationY>
        <collectionReference>getDocumentAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContentDocumentsIDsAssigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContentDocumentAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContentDocumentLinkAction</name>
        <label>Create Content Document Link</label>
        <locationX>380</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>getContentDocumentLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>getContentDocumentLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogCaseEmailSend</name>
        <label>Generar Error Log Envio Email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert - Notificación apertura USP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Email Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCaseDocumentAction</name>
        <label>get Case Document</label>
        <locationX>424</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocumentAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCaseClone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasosMismoClienteMediado</name>
        <label>Get Casos Mismo Cliente Mediado</label>
        <locationX>424</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumeroCasosEncontradosDecision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR (5 AND 6))</filterLogic>
        <filters>
            <field>MediatedCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asignado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Respondido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casosEncontradosClienteMediado</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContentDocumentAction</name>
        <label>get Content Document</label>
        <locationX>292</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContentDocumentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IdsContentDocuments</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocumentAction</name>
        <label>getDocument</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocumentNullDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseDocumentAction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActivarOtrosCasosAbiertos</name>
        <label>Activar otros casos abiertos</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CasoClonadoDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MediatedCustomer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseOpen__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ClienteMediadoDecision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <filters>
            <field>isCloneCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ExcluirDominioSubflowAction</name>
        <label>Excluir Dominio Subflow</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>ExcludedDomainDecision</targetReference>
        </connector>
        <flowName>ExcluirDominioSubflow</flowName>
        <inputAssignments>
            <name>CallCenter</name>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordFlow</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>casosEncontradosClienteMediado</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IdsContentDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sizeCasosEncontrados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
