force-app/zurich-base/main/default/flows/Case_Trigger_After_Insert_Update_Cierre_pendientes_CCS_sin_notificaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Direcciones para las que, dadas las condiciones, se van a cerrar de forma automatizada los correos</description>
        <name>Asignamos_buzones_a_cerrar</name>
        <label>Asignamos buzones a cerrar</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>zurichsoporte@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>zurichcliente@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cc.cambiovehiculo@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cc.db@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cc.movilidad@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lista_Correos_Cierre</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cc.bancamarch@zurich.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cerramos_el_caso</name>
        <label>¿Cerramos el caso?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cerramos</name>
            <conditionLogic>(1 OR 2 OR 3 OR (4 AND 5)) OR (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WhatsApp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lista_Correos_Cierre</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Related_Emails.ToAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Administración</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_User</targetReference>
            </connector>
            <label>Cerramos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - After Insert/Update - Cierre pendientes CCS sin notificaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert/Update - Cierre pendientes CCS sin notificaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Emails</name>
        <label>Get Related Emails</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cerramos_el_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ToAddress</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el usuario Sistema</description>
        <name>Get_System_User</name>
        <label>Get System User</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizamos_valores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055I000000c4aOQAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizamos_valores</name>
        <label>Actualizamos valores</label>
        <locationX>242</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDetail__c</field>
            <value>
                <stringValue>Sin respuesta de cliente/mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>No Realizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosedBy__c</field>
            <value>
                <elementReference>Get_System_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND (2 OR 3 OR 4 OR 5) OR (6 OR 7)) AND 8</filterLogic>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Administración</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM Particulares</stringValue>
            </value>
        </filters>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Cierre12dias</name>
            <connector>
                <targetReference>Asignamos_buzones_a_cerrar</targetReference>
            </connector>
            <label>Cierre 12 dias</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Lista de correos para cierre automático</description>
        <name>Lista_Correos_Cierre</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
