force-app/zurich-base/main/default/flows/CaseTransfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_typification</name>
        <label>Check typification</label>
        <locationX>930</locationX>
        <locationY>1670</locationY>
        <actionName>CaseCheckTypificationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_typification_available</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>GetRecordTypeAction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeN2</name>
            <value>
                <elementReference>GetCaseAction.Subtype__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeN1</name>
            <value>
                <elementReference>GetCaseAction.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeN3</name>
            <value>
                <elementReference>GetCaseAction.TypeN3__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PostCommentAction</name>
        <label>Post Comment</label>
        <locationX>798</locationX>
        <locationY>2366</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CommentsInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Clean_Typifications</name>
        <label>Clean typifications</label>
        <locationX>1018</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAction.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.TypeN3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ModifyCaseAssignment</name>
        <label>Modify Case</label>
        <locationX>930</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.CallCenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chosenDestination.DestinationCallCenter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asignado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDestinationQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAction.HasBeenTransfered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_typification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDestinationAssignment</name>
        <label>Set Destination</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>chosenDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchDestinationIteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchDestinationIteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChosenDestinationDecision</name>
        <label>Chosen Destination</label>
        <locationX>1150</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SearchDestinationIteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchDestinationIteration.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DestinationCallCenter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDestinationAssignment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CommentWrittenDecision</name>
        <label>Comment Written</label>
        <locationX>930</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesComment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommentsInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostCommentAction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_typification_available</name>
        <label>¿Is typification available?</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Clean_Typifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not available</defaultConnectorLabel>
        <rules>
            <name>Is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_typification.isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseAction</targetReference>
            </connector>
            <label>Is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCallCenterTransferible</name>
        <label>¿CallCenter es transferible?</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetAvailableMetadatasAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_transferible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAction.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Center_no_transferable_Screen</targetReference>
            </connector>
            <label>No es transferible</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseClosedDecision</name>
        <label>Is Case Closed Or Not Assigned</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>IsCallCenterTransferible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAction.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseAction.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuevo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoTransferableScreen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>optionList</name>
        <collectionReference>GetAvailableMetadatasAction</collectionReference>
        <dataType>String</dataType>
        <displayField>DestinationCallCenter__c</displayField>
        <object>CaseTransferDestinations__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Transfer</label>
    <loops>
        <name>SearchDestinationIteration</name>
        <label>Search Destination</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <collectionReference>GetAvailableMetadatasAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChosenDestinationDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecordTypeAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAvailableMetadatasAction</name>
        <label>Get Available Metadatas</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseTransferScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceCallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAction.CallCenter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseTransferDestinations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAction</name>
        <label>Get Case</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseClosedDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDestinationQueueAction</name>
        <label>Get Destination Queue</label>
        <locationX>930</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ModifyCaseAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenDestination.DestinationQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeAction</name>
        <label>Get Record Type</label>
        <locationX>930</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDestinationQueueAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenDestination.DestinationRecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseAction</name>
        <label>Update Case</label>
        <locationX>930</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>CommentWrittenDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailureScreen</targetReference>
        </faultConnector>
        <inputReference>GetCaseAction</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Call_Center_no_transferable_Screen</name>
        <label>Call Center no transferable Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_NoTransferableText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Los casos no pueden ser transferidos desde este Call Center.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>caseTransferScreen</name>
        <label>Transferir Caso</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SearchDestinationIteration</targetReference>
        </connector>
        <fields>
            <name>caseTransferScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>caseTransferScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CallCenterLabel</name>
                    <fieldText>&lt;p&gt;Equipo de origen:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>currentCallCenterText</name>
                    <fieldText>&lt;p&gt;{!GetCaseAction.CallCenter__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>caseTransferScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DestinationCallCenter</name>
                    <choiceReferences>optionList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Equipo de destino:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CommentsInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Caso transferido por {!$User.FirstName} {!$User.LastName} desde el equipo de {!GetCaseAction.CallCenter__c}</stringValue>
            </defaultValue>
            <fieldText>Comentarios</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Transferir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FailureScreen</name>
        <label>Failure screen</label>
        <locationX>1282</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 30, 30); font-size: 18px;&quot;&gt;Ha habido un problema con la transferencia del caso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoTransferableScreen</name>
        <label>No transferable Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoTransferableText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;El caso se encuentra en un estado que impide su transferencia.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success screen</label>
        <locationX>930</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 150, 55); font-size: 18px;&quot;&gt;Caso transferido con éxito.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chosenDestination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTransferDestinations__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferDestination</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
