force-app/zurich-base/main/default/flows/CaseTriggerBeforeUpdateRobotTypificationFailed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>CheckboxAssignment</name>
        <label>Marcar Checkbox</label>
        <locationX>50</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>$Record.RobotTypificationFailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Si el campo RobotTypificationFailed__c está a false y el RT es OCSInquiry, y si los campos Type o Subtype o TypeN3__c han sido modificados</description>
        <name>MeetInitConditionsDecision</name>
        <label>¿Cumple condiciones de entrada?</label>
        <locationX>369</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMeetInitConditionsOutcome</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypificationFailed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subtype__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeN3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TypeN3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TypeN1DifferentDecision</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el campo Type ha sido modificado,
Si el campo RobotTypeN1__c es distinto de null y de EmptyString y de Type el checkbox se marca a true.</description>
        <name>TypeN1DifferentDecision</name>
        <label>¿TypeN1 distinto?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>TypeN2DifferentDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTypeN1DifferentOutome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckboxAssignment</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el campo Subtype__c ha sido modificado,
 Si el campo RobotTypeN2__c es distinto de null y de EmptyString y de Subtype__c el checkbox se marca a true</description>
        <name>TypeN2DifferentDecision</name>
        <label>¿TypeN2 distinto?</label>
        <locationX>204</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>TypeN3DifferentDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTypeN2DifferentOutome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subtype__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subtype__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subtype__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckboxAssignment</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el campo TypeN3__c ha sido modificado,
Si el campo RobotTypeN3__c es distinto de null y de EmptyString y de TypeN3__c el checkbox se marca a true.</description>
        <name>TypeN3DifferentDecision</name>
        <label>¿TypeN3 distinto?</label>
        <locationX>336</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTypeN3DifferentOutome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeN3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TypeN3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RobotTypeN3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TypeN3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckboxAssignment</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Comprueba si un agente ha modificado la tipificación del caso después de la propuesta del Robot</description>
    <interviewLabel>Case Trigger - Before update Stopped {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before update RobotTypificationFailed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>243</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MeetInitConditionsDecision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
