force-app/zurich-base/main/default/flows/Case_trigger_before_insert_update_centro_tramitador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isOCSdecision</name>
        <label>¿Es OCS?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_OCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCS Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignamos_centro_tramitador</targetReference>
            </connector>
            <label>Es OCS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - Before Insert/Update - Centro tramitador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Asignamos_centro_tramitador</name>
        <label>Asignamos centro tramitador</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CentroTramitador__c</field>
            <value>
                <elementReference>$Record.ClaimId__r.ClaimOwnerTeamName__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isOCSdecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CentroTramitador__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
