force-app/zurich-base/main/default/flows/CaseTriggerAfterInsertUpdateNotificacionesPendientesUSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MandarEmailAction</name>
        <label>Mandar Email</label>
        <locationX>842</locationX>
        <locationY>1559</locationY>
        <actionName>Case.Caso_pendiente</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailCloseCase</name>
        <label>Mandar email cierre caso</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <actionName>Case.Cierre_de_caso_automatico</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Se le asigna una variable a true para posteriormente diferenciar si se envía email de alerta y cerrar el caso al pasar 15 días</description>
        <name>CerrarCaso15DiasAssignment</name>
        <label>Cerrar Caso 15 Dias</label>
        <locationX>1579</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>SeCierraCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfilPrerequisitesDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DomainMatchAssignment</name>
        <label>Coincide el dominio</label>
        <locationX>996</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>CoincideVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExcludeListAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CloseCaseDecision</name>
        <label>¿Se cierra el caso?</label>
        <locationX>446</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>MandarEmailAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseCaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeCierraCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCerrarCaso</targetReference>
            </connector>
            <label>Si se cierra</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludedDomainDecision</name>
        <label>¿Dominio excluido?</label>
        <locationX>908</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonExcludedDomainOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoincideVAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseCaseDecision</targetReference>
            </connector>
            <label>Dominio no excluido</label>
        </rules>
    </decisions>
    <decisions>
        <name>FulfilPrerequisitesDecision</name>
        <label>¿Cumple los prerrequisitos?</label>
        <locationX>1271</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FulfilPrerequisitesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExcludeDomainListAction</targetReference>
            </connector>
            <label>Cumple prerrequisitos</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchDomainDecision</name>
        <label>¿Coincide el dominio?</label>
        <locationX>1128</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>LoopExcludeListAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomainMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>LoopExcludeListAction.EmailDomain__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DomainMatchAssignment</targetReference>
            </connector>
            <label>Coincide Dominio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - After Insert/Update - Notificaciones Pendientes USP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Insert/Update - Notificaciones Pendientes USP</label>
    <loops>
        <name>LoopExcludeListAction</name>
        <label>Recorrer lista exclusiones</label>
        <locationX>908</locationX>
        <locationY>767</locationY>
        <collectionReference>GetExcludeDomainListAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchDomainDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ExcludedDomainDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateErrorLogCaseCloseAction</name>
        <label>Generar Error Log Cierre de caso</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Cierre de caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogCaseEmailSend</name>
        <label>Generar Error Log Envio Email</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert Update - Notificación pendiente CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Email Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExcludeDomainListAction</name>
        <label>Obtener listado de exclusiones</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopExcludeListAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExcludeDomainList__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmailDomain__c</queriedFields>
        <queriedFields>CallCenter__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCerrarCaso</name>
        <label>Actualizar Cerrar Caso</label>
        <locationX>50</locationX>
        <locationY>1559</locationY>
        <connector>
            <targetReference>SendEmailCloseCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogCaseCloseAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDetail__c</field>
            <value>
                <stringValue>Sin respuesta de cliente/mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>No Realizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>PendingBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AutomaticNotifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USP</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>PrimerEmail5Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>PrimerEmail5Dias</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SegundoEmail10Dias</name>
            <connector>
                <targetReference>FulfilPrerequisitesDecision</targetReference>
            </connector>
            <label>SegundoEmail10Dias</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>CerrarCaso15Dias</name>
            <connector>
                <targetReference>CerrarCaso15DiasAssignment</targetReference>
            </connector>
            <label>CerrarCaso15Dias</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CoincideVAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SeCierraCaso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
