force-app/zurich-base/main/default/flows/CaseTriggerAfterUpdateNotificacionCotizacionAutoservicio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotificacionCotizacionAutoservicio</name>
        <label>Notificación Cotización Autoservicio</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notificacion_Cotizacion_Autoservicio</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CloseCaseAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogCaseEmailSend</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CaseUSPSelfServiceQuotationDecision</name>
        <label>¿Caso USP y Cotizacion Autoservicio?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SelfServiceQuotation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificacionCotizacionAutoservicio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Trigger - After Update- Notificación Cotización Autoservicio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger - After Update- Notificación Cotización Autoservicio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateErrorLogCaseEmailSend</name>
        <label>Generar Error Log Envío Email Alert</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case Trigger - After Insert- Notificación Cotización Autoservicio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Generar Error Log Email Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>CloseCaseAction</name>
        <label>Cerrar Caso</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CloseResult__c</field>
            <value>
                <stringValue>Declinada - Medidas protección</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationStage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseUSPSelfServiceQuotationDecision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cotización</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroupDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CYBER</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroupDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMERCIOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroupDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PATRIMONIALES</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroupDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACCIDENTES</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroupDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESP. CIVIL</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
