force-app/zurich-base/main/default/flows/Claim_Trigger_After_update_Actualzamos_casos_relacionados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Asignamos_el_centro_tramitador</name>
        <label>Asignamos el centro tramitador</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Recorremos_los_casos_asociados_al_siniestros.CentroTramitador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClaimOwnerTeamName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardamos_cambios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardamos_cambios</name>
        <label>Guardamos cambios</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorremos_los_casos_asociados_al_siniestros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorremos_los_casos_asociados_al_siniestros</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Claim Trigger - After update - Actualzamos casos relacionados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Trigger - After update - Actualzamos casos relacionados</label>
    <loops>
        <name>Recorremos_los_casos_asociados_al_siniestros</name>
        <label>Recorremos los casos asociados al siniestros</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Obtenemos_casos_relacionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignamos_el_centro_tramitador</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizamos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenemos_casos_relacionados</name>
        <label>Obtenemos casos relacionados</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorremos_los_casos_asociados_al_siniestros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizamos</name>
        <label>Actualizamos</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtenemos_casos_relacionados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimOwnerTeamName__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Claim__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
