force-app/zurich-base/main/default/flows/CloseInteractionFlowBatchButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActivateBatchFields</name>
        <label>Activate Batch Fields</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>GetCaseCloseBatchInteractions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ScreenDone</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowInputs</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCaseCloseBatchInteractions</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>UsuarioConPermisosCerrarInteraccionesDecision</name>
        <label>¿Usuario con permisos de cerrar Interacciones?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivateBatchFields</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Close Interaction Flow Batch Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Interaction Flow Batch Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;⚠️Solo los supervisores USP pueden cerrar interacciones ⚠️&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDone</name>
        <label>Screen Done</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageDone</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;La solicitud de cierre de interacciones se ha realizado correctamente &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UsuarioConPermisosCerrarInteraccionesDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
