force-app/zurich-base/main/default/flows/CSMEmailRoute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se buscar al mejor gestor posible para el correo electrónico, en base al cliente al que pertenece al email y sus casos abiertos</description>
        <name>FindOwnerIdAction</name>
        <label>Buscar Gestor Preferente</label>
        <locationX>1290</locationX>
        <locationY>324</locationY>
        <actionName>GenesysFindBestAgentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InboxChoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>fromId</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interactionType</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookFor</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Llamada al Apex invocable que contiene la llamada al Genesys Cloud RoutingWork</description>
        <name>RouteEmailAction</name>
        <label>Enrutar Email a Flow Mediadores en Genesys Cloud</label>
        <locationX>1301</locationX>
        <locationY>577</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>EmailMessage.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>FindOwnerIdAction.ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>GenesysId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>ScreenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillIds</name>
            <value>
                <elementReference>Skills</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailMessage.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AdminChoice</name>
        <label>Decisión Admin</label>
        <locationX>400</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agregar Skills al listado de skills y asignar Cola de Genesys dependiendo del buzón de entrada de email-to-case</description>
        <name>DefaultChoice</name>
        <label>Decisión por defecto</label>
        <locationX>693</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTBCNAdmChoice</name>
        <label>Decisión DTBCN Adm</label>
        <locationX>276</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_ADM_DTBCN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agregar Skills al listado de skills y a la Cola Genesys dependiendo del buzón de entrada de email-to-case</description>
        <name>DTBCNPartChoice</name>
        <label>Decisión DTBCN Part</label>
        <locationX>687</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_PART_DTBCN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTBILAdmChoice</name>
        <label>Decisión DTBIL Adm</label>
        <locationX>50</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_ADM_DTBIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agregar Skills al listado de skills y Cola Genesys dependiendo del buzón de entrada de email-to-case</description>
        <name>DTBILPartChoice</name>
        <label>Decisión DTBIL Part</label>
        <locationX>689</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_PART_DTBIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTMADAdmChoice</name>
        <label>Decisión DTMAD Adm</label>
        <locationX>216</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_ADM_DTMAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar la Cola Genesys dependiendo del buzón de entrada email-to-case</description>
        <name>DTMADPartChoice</name>
        <label>Decisión DTMAD Part</label>
        <locationX>632</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_PART_DTMAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTSEVAdmChoice</name>
        <label>Decisión DTSEV Adm</label>
        <locationX>178</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_ADM_DTSEV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar Cola Genesys dependiendo del buzón de entrada email-to-case</description>
        <name>DTSEVPartChoice</name>
        <label>Decisión DTSEV Part</label>
        <locationX>633</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_PART_DTSEV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTVALAdmChoice</name>
        <label>Decisión DTVAL Adm</label>
        <locationX>110</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_ADM_DTVAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar Cola Genesys dependiendo del buzón de entrada email-to-case</description>
        <name>DTVALPartChoice</name>
        <label>Decisión DTVAL Part</label>
        <locationX>630</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_PART_DTVAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParticularesChoice</name>
        <label>Decisión Particulares</label>
        <locationX>506</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>GenesysId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_CSM_Particulares</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Dependiendo del ToAddress , del Email-To-Case por donde entra el email, se pueden asignar las skills que se requerirán o el flow al que redirigir</description>
        <name>InboxChoice</name>
        <label>Decidir según buzón de entrada</label>
        <locationX>457</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>DefaultChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DTBCNPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.dtbcn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTBCNPartChoice</targetReference>
            </connector>
            <label>DTBCN Part</label>
        </rules>
        <rules>
            <name>DTBILPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.dtbil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTBILPartChoice</targetReference>
            </connector>
            <label>DTBIL Part</label>
        </rules>
        <rules>
            <name>DTMADPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.dtmad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTMADPartChoice</targetReference>
            </connector>
            <label>DTMAD Part</label>
        </rules>
        <rules>
            <name>DTSEVPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.dtsev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTSEVPartChoice</targetReference>
            </connector>
            <label>DTSEV Part</label>
        </rules>
        <rules>
            <name>DTVALPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.dtval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTVALPartChoice</targetReference>
            </connector>
            <label>DTVAL Part</label>
        </rules>
        <rules>
            <name>Particulares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>particulares.csm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParticularesChoice</targetReference>
            </connector>
            <label>Particulares</label>
        </rules>
        <rules>
            <name>Administracion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.csm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminChoice</targetReference>
            </connector>
            <label>Administración</label>
        </rules>
        <rules>
            <name>DTBCNAdm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.dtbcn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTBCNAdmChoice</targetReference>
            </connector>
            <label>DTBCN Adm</label>
        </rules>
        <rules>
            <name>DTBILAdm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.dtbil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTBILAdmChoice</targetReference>
            </connector>
            <label>DTBIL Adm</label>
        </rules>
        <rules>
            <name>DTMADAdm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.dtmad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTMADAdmChoice</targetReference>
            </connector>
            <label>DTMAD Adm</label>
        </rules>
        <rules>
            <name>DTSEVAdm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.dtsev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTSEVAdmChoice</targetReference>
            </connector>
            <label>DTSEV Adm</label>
        </rules>
        <rules>
            <name>DTVALAdm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>administracion.dtval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTVALAdmChoice</targetReference>
            </connector>
            <label>DTVAL Adm</label>
        </rules>
    </decisions>
    <description>Realiza el enrutamiento de correos electrónicos del buzón de Mediadores</description>
    <formulas>
        <description>URL de la ficha a abrir con el correo enrutado</description>
        <name>ScreenPopURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/page/recordActionFlow?lightning__flowDevName=CSMSearchAndScreenPop&amp;lightning__flowArgs=&apos;
+ &apos;[{&quot;name&quot;: &quot;phone&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.FromAddress} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;relatedrecordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.ParentId} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;recordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!FindOwnerIdAction.screenPopRecordId} + &apos;&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>CSM - Enrutamiento de correos electrónicos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM - Enrutamiento de correos electrónicos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Deja un registro de log del error producido</description>
        <name>LogError</name>
        <label>Registrar error</label>
        <locationX>1538</locationX>
        <locationY>387</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>ZERouteEmailFlow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1164</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>FindOwnerIdAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Log de error</description>
        <name>ErrorLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Event__e</objectType>
    </variables>
    <variables>
        <description>variable que almacena el ID de Genesys  para asignarlo dependiendo del buzón de entrada</description>
        <name>GenesysFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de la cola Genesys, que dependerá del buzón email-to-case utilizado</description>
        <name>GenesysId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>listado de skills</description>
        <name>Skills</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
