force-app/zurich-base/main/default/flows/CSMEmailRoute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se buscar al mejor gestor posible para el correo electrónico, en base al cliente al que pertenece al email y sus casos abiertos</description>
        <name>FindOwnerIdAction</name>
        <label>Buscar Gestor Preferente</label>
        <locationX>889</locationX>
        <locationY>324</locationY>
        <actionName>GenesysFindBestAgentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InboxChoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>fromId</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interactionType</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookFor</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Llamada al Apex invocable que contiene la llamada al Genesys Cloud RoutingWork</description>
        <name>RouteEmailAction</name>
        <label>Enrutar Email a Flow Mediadores en Genesys Cloud</label>
        <locationX>900</locationX>
        <locationY>577</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>2a5bca8b-cdae-411f-b383-a07d7b78c57c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>EmailMessage.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>FindOwnerIdAction.ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>ScreenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillIds</name>
            <value>
                <elementReference>Skills</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailMessage.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Agregar Skills al listado de skills dependiendo del buzón de entrada de email-to-case</description>
        <name>AddSkillsDefault</name>
        <label>Asignar skills (DEFAULT)</label>
        <locationX>573</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>Skills</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agregar Skills al listado de skills dependiendo del buzón de entrada de email-to-case</description>
        <name>AddSkillsPartnerDome</name>
        <label>Asignar skills para Cúpula de Partners</label>
        <locationX>120</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>Skills</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CúpulaPartner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agregar Skills al listado de skills dependiendo del buzón de entrada de email-to-case</description>
        <name>AddSkillsPartners</name>
        <label>Asignar skills para Partners</label>
        <locationX>342</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Skills</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Dependiendo del ToAddress , del Email-To-Case por donde entra el email, se pueden asignar las skills que se requerirán o el flow al que redirigir</description>
        <name>InboxChoice</name>
        <label>Decidir según buzón de entrada</label>
        <locationX>343</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>AddSkillsDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>75c2e048@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillsPartners</targetReference>
            </connector>
            <label>Partners</label>
        </rules>
        <rules>
            <name>PartnerDome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.ToAddress</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5ab211b9@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillsPartnerDome</targetReference>
            </connector>
            <label>Partner Dome</label>
        </rules>
    </decisions>
    <description>Realiza el enrutamiento de correos electrónicos del buzón de Mediadores</description>
    <formulas>
        <description>URL de la ficha a abrir con el correo enrutado</description>
        <name>ScreenPopURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/page/recordActionFlow?lightning__flowDevName=CSMSearchAndScreenPop&amp;lightning__flowArgs=&apos;
+ &apos;[{&quot;name&quot;: &quot;phone&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.FromAddress} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;relatedrecordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.ParentId} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;recordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!FindOwnerIdAction.screenPopRecordId} + &apos;&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>CSM - Enrutamiento de correos electrónicos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM - Enrutamiento de correos electrónicos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Deja un registro de log del error producido</description>
        <name>LogError</name>
        <label>Registrar error</label>
        <locationX>1137</locationX>
        <locationY>387</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>ZERouteEmailFlow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>763</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>FindOwnerIdAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Log de error</description>
        <name>ErrorLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Event__e</objectType>
    </variables>
    <variables>
        <description>variable que almacena el ID de Genesys  para asignarlo dependiendo del buzón de entrada</description>
        <name>GenesysFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>listado de skills</description>
        <name>Skills</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
