force-app/zurich-base/main/default/flows/EmailMessage_Trigger_After_insert_update_Route_to_Genesys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enrutar_a_Flow_Genesys</name>
        <label>Enrutar a Flow Genesys</label>
        <locationX>3614</locationX>
        <locationY>1932</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateRoutingErrorAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowId</name>
            <value>
                <elementReference>genesysFlowId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industrySpecializationType</name>
            <value>
                <elementReference>SpecializationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferenteAsignado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueIdAttribute</name>
            <value>
                <elementReference>genesysQueueName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>GenerateScreenPopURLSubflow.screenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenesysCloudRouteEmailAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FlowGenesysRoutingInvocableAction</name>
        <label>Enrutar a Flow Genesys</label>
        <locationX>2822</locationX>
        <locationY>2148</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DesactivarCampoEstadoInteraccion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRoutingErrorAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseSla</name>
            <value>
                <elementReference>Calculamos_prioridad.calculatedSla</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowId</name>
            <value>
                <elementReference>genesysFlowId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industrySpecializationType</name>
            <value>
                <elementReference>SpecializationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferenteAsignado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueIdAttribute</name>
            <value>
                <elementReference>genesysQueueName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>GenerateScreenPopURLSubflow.screenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenesysCloudRouteEmailAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>QueueGenesysRoutingInvocableAction</name>
        <label>Enrutar a Queue Genesys</label>
        <locationX>4142</locationX>
        <locationY>1824</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DesactivarCampoEstadoInteraccionQueue</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateRoutingErrorAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industrySpecializationType</name>
            <value>
                <elementReference>SpecializationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferenteAsignado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>genesysQueueName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>GenerateScreenPopURLSubflow.screenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenesysCloudRouteEmailAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asignar_informaci_n_cola1</name>
        <label>Asignar información cola</label>
        <locationX>50</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>CasoRelacionado.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSalesforceQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoRelacionado.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_caso1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_variables_del_registro</name>
        <label>Asignar variables del registro</label>
        <locationX>3878</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>genesysFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GenesysFlowID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>genesysQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GenesysQueueName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_que_actualizar_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CallCenterReportedAssignment</name>
        <label>Asignar informar call center</label>
        <locationX>1018</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>CasoRelacionado.CallCenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGenesysQueueAction.CallCenter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoRelacionado.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSalesforceQueueReportedDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modificar_variables_cola</name>
        <label>Modificar variables cola</label>
        <locationX>3614</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>genesysFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.genesysFlowId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>genesysQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.genesysQueueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_que_actualizar_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QueueReportedAssignment</name>
        <label>Asignar información cola</label>
        <locationX>1106</locationX>
        <locationY>2190</locationY>
        <assignmentItems>
            <assignToReference>CasoRelacionado.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSalesforceQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoRelacionado.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSourceAreaReportedDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SourceAreaReportedAssignment</name>
        <label>Asignar informacion area origen</label>
        <locationX>1106</locationX>
        <locationY>2490</locationY>
        <assignmentItems>
            <assignToReference>CasoRelacionado.SourceArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGenesysQueueAction.SourceArea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoRelacionado.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdatingNeccesaryDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambia_de_cola_para_enrutar_a_genesys</name>
        <label>¿Cambia de cola para enrutar a genesys?</label>
        <locationX>3746</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Asignar_variables_del_registro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NuevaCola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAndParentIdFromEmailSubflow.genesysFlowId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGenesysQueueAndParentIdFromEmailSubflow.genesysQueueName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modificar_variables_cola</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseClosedDecision</name>
        <label>Is Case Closed</label>
        <locationX>3086</locationX>
        <locationY>1932</locationY>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>NotClosedOutcome</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculamos_prioridad</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cola_Salesforce_informada1</name>
        <label>¿Cola Salesforce informada?</label>
        <locationX>314</locationX>
        <locationY>1524</locationY>
        <defaultConnectorLabel>Cola no informada</defaultConnectorLabel>
        <rules>
            <name>Cola_informada1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesforceQueueAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_informaci_n_cola1</targetReference>
            </connector>
            <label>Cola informada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_caso_hijo</name>
        <label>¿Es caso hijo?</label>
        <locationX>776</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>IsCallCenterReportedDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedCase.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Cola_Salesforce_informada1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el email que llega tiene ya un caso asociado porque en caso contrario, fallaría el cálculo de la prioridad</description>
        <name>hasParentCase</name>
        <label>¿Tenemos caso asociado?</label>
        <locationX>3350</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Enrutar_a_Flow_Genesys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tenemos_caso_asociado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseClosedDecision</targetReference>
            </connector>
            <label>Tenemos caso asociado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_actualizar_best_agent_ZDA</name>
        <label>¿Hay que actualizar best agent ZDA?</label>
        <locationX>3746</locationX>
        <locationY>2748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actualizar_best_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferente</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_RecordType_ZDA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.BestAgent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.BestAgent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_best_agent_caso_ZDA</targetReference>
            </connector>
            <label>Actualizar best agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_actualizar_owner</name>
        <label>¿Hay que actualizar owner?</label>
        <locationX>3746</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>GenerateScreenPopURLSubflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actualizar</name>
            <conditionLogic>1 AND (2 OR ( ( 3 OR 4) AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAndParentIdFromEmailSubflow.EsMediadorPanelizadoVentaDanosRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Beggining_Id_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_Name_Integrator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_Name_Admin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Beggining_Id_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_USP_User</targetReference>
            </connector>
            <label>Actualizar</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCallCenterReportedDecision</name>
        <label>¿Call Center informado?</label>
        <locationX>1238</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>IsSalesforceQueueReportedDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC No informado</defaultConnectorLabel>
        <rules>
            <name>CCReportedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAction.CallCenter__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>isValidCallCenter</targetReference>
            </connector>
            <label>CC Informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFlowOrQueueDecision</name>
        <label>¿Flow o Queue?</label>
        <locationX>3746</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>QueueGenesysRoutingInvocableAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>FlowOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GenesysFlowID__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>hasParentCase</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelatedCaseDecision</name>
        <label>¿Caso relacionado?</label>
        <locationX>1535</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOutcome</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GetGenesysQueueAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSalesforceQueueAction</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSalesforceQueueReportedDecision</name>
        <label>¿Cola Salesforce informada?</label>
        <locationX>1238</locationX>
        <locationY>2082</locationY>
        <defaultConnector>
            <targetReference>IsSourceAreaReportedDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cola no informada</defaultConnectorLabel>
        <rules>
            <name>ReportedQueueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesforceQueueAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueueReportedAssignment</targetReference>
            </connector>
            <label>Cola informada</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSourceAreaReportedDecision</name>
        <label>¿Area Origen informada?</label>
        <locationX>1238</locationX>
        <locationY>2382</locationY>
        <defaultConnector>
            <targetReference>IsUpdatingNeccesaryDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Area Origen no informada</defaultConnectorLabel>
        <rules>
            <name>ReportedSourceArea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAction.SourceArea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.SourceArea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SourceAreaReportedAssignment</targetReference>
            </connector>
            <label>Area Origen informada</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUpdatingNeccesaryDecision</name>
        <label>¿Aplica actualizar?</label>
        <locationX>1238</locationX>
        <locationY>2682</locationY>
        <defaultConnectorLabel>No aplica</defaultConnectorLabel>
        <rules>
            <name>IsNecessaryOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasoRelacionado.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateCaseAction</targetReference>
            </connector>
            <label>Aplica</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValidCallCenter</name>
        <label>¿Call center válido?</label>
        <locationX>1018</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsSalesforceQueueReportedDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCSInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGenesysQueueAction.CallCenter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallCenterReportedAssignment</targetReference>
            </connector>
            <label>OCS</label>
        </rules>
        <rules>
            <name>USP</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGenesysQueueAction.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGenesysQueueAction.CallCenter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zurich Empresas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallCenterReportedAssignment</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsableNegocioEncontradoDecision</name>
        <label>¿Responsable de Negocio Encontrado?</label>
        <locationX>3152</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Cambia_de_cola_para_enrutar_a_genesys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResponsableEncontradoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGenesysQueueAndParentIdFromEmailSubflow.usuarioResponsableNegocio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USPRecordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerResponsableNegocioAction</targetReference>
            </connector>
            <label>Responsable Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsableNegocioEncontradoInmediatoDecision</name>
        <label>¿Responsable Negocio Encontrado?</label>
        <locationX>1381</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>GetGenesysQueueAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResponsableNegocioExisteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusquedaResponsableNegocio.ResponsableNegocioUsuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarPropietarioCasoREAction</targetReference>
            </connector>
            <label>Responsable Negocio Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>USPDecision</name>
        <label>¿USP?</label>
        <locationX>1535</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>GetGenesysQueueAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusquedaResponsableNegocio</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_Encontrado</name>
        <label>¿Usuario Encontrado?</label>
        <locationX>3592</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>GenerateScreenPopURLSubflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UsuarioEncontradoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_USP_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_owner</targetReference>
            </connector>
            <label>Usuario Encontrado</label>
        </rules>
    </decisions>
    <description>Flujo encargado de enrutar a genesys los emails entrantes recibidos</description>
    <environments>Default</environments>
    <formulas>
        <name>AsyncErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Genesys Queue Name: &quot; + {!$Record.GenesysQueueName__c} + BR() +
&quot;Record Id: &quot; + {!$Record.Id} + BR() +
&quot;Genesys Flow Id: &quot; + {!$Record.GenesysFlowID__c} + BR() +
&quot;From Address: &quot; + {!$Record.FromAddress} + BR() +
&quot;From Name: &quot; + {!$Record.FromName} + BR() +
&quot;Gestor preferente: &quot; + {!GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferenteAsignado} + BR() +
&quot;Subject: &quot; + {!$Record.Subject} + BR() +
&quot;To Address: &quot; + {!$Record.ToAddress}</expression>
    </formulas>
    <formulas>
        <name>Beggining_Id_Queue</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Beggining_Id_Queue.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Beggining_Id_User</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Beggining_Id_User.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_RecordType_ZDA</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_RecordType_ZDA.Value__c}</expression>
    </formulas>
    <formulas>
        <name>CSMAdministrationManager</name>
        <dataType>String</dataType>
        <expression>if (isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.CsmAdministrationManager__c})</expression>
    </formulas>
    <formulas>
        <name>CSMIndividualsManager</name>
        <dataType>String</dataType>
        <expression>if (isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.CsmIndividualsManager__c})</expression>
    </formulas>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;ColaGenesysCallCenter: &quot; + TEXT({!GetGenesysQueueAsyncAction.CallCenter__c}) + BR() +
&quot;ColaGenesysScope: &quot; + TEXT({!GetGenesysQueueAsyncAction.Scope__c}) + BR() +
&quot;EmailPropietarioCaso: &quot; + {!$Record.Parent.Owner:User.Email} + BR() +
&quot;IDPropietarioCaso: &quot; + {!$Record.Parent.OwnerId} + BR() +
&quot;NombreCSMAdminManager: &quot; + {!CSMAdministrationManager} + BR() +
&quot;NombreCSMIndivManager: &quot; + {!CSMIndividualsManager} + BR() +
&quot;NumeroParentId: &quot; + {!$Record.ParentId}</expression>
    </formulas>
    <formulas>
        <description>Si es de ZE o ZEO, se buscan oportunidades, si no, casos</description>
        <name>lookForValue</name>
        <dataType>String</dataType>
        <expression>CASE({!GetGenesysQueueAsyncAction.Scope__c}, 
&quot;ZE&quot;, &quot;Opportunity&quot;, 
&quot;ZEO&quot;, &quot;Opportunity&quot;,
&quot;Case&quot;)</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Admin</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Profile_Name_Admin.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Integrator</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Profile_Name_Integrator.Value__c}</expression>
    </formulas>
    <formulas>
        <name>ResponsableNegocio</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.BusinessManagerEmail__c})</expression>
    </formulas>
    <formulas>
        <name>scopeValue</name>
        <dataType>String</dataType>
        <expression>CASE({!GetGenesysQueueAsyncAction.Scope__c}, 
&quot;ZE&quot;, &quot;ZE&quot;, 
&quot;ZEO&quot;, &quot;ZEO&quot;,
&quot;all&quot;)</expression>
    </formulas>
    <formulas>
        <description>Fórmula que comprobará si el campo SpecializationType está informado</description>
        <name>SpecializationType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Parent.AccountId}), &apos;&apos;, TEXT({!$Record.Parent.Account.SpecializationType__c}))</expression>
    </formulas>
    <formulas>
        <name>SuscriptorDyO</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.SuscriptorDyO__c})</expression>
    </formulas>
    <formulas>
        <name>SuscriptorPymes</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.SuscriptorPymes__c})</expression>
    </formulas>
    <formulas>
        <name>SuscriptorRC</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.SuscriptorRC__c})</expression>
    </formulas>
    <formulas>
        <name>UWConstruccionCartera</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWPorfolioBuilding__c})</expression>
    </formulas>
    <formulas>
        <name>UWConstruccionVenta</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWSaleBuilding__c })</expression>
    </formulas>
    <formulas>
        <name>UWDanosRCCartera</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWPortfolioRCDamage__c })</expression>
    </formulas>
    <formulas>
        <name>UWDanosRCVenta</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWSaleRCDamage__c})</expression>
    </formulas>
    <formulas>
        <name>UWSpecialtiesCartera</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWPortfolioSpecialties__c})</expression>
    </formulas>
    <formulas>
        <name>UWSpecialtiesVenta</name>
        <dataType>String</dataType>
        <expression>if(isblank({!$Record.Parent.AccountId}), null, {!$Record.Parent.Account.UWSaleSpecialties__c})</expression>
    </formulas>
    <interviewLabel>EmailMessage Trigger - After insert/update Route to Genesys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Trigger - After insert - Route to Genesys</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRoutingErrorAction</name>
        <label>Generar error enrutamiento</label>
        <locationX>3086</locationX>
        <locationY>2256</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>AsyncErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>EmailMessage Trigger - After insert/update - Route to Genesys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Route Email to Genesys Cloud Apex Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSalesforceQueueErrorAction</name>
        <label>Generar error cola Salesforce</label>
        <locationX>2030</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>EmailMessage Trigger - After insert/update - Route to Genesys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar cola Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateUpdateCaseErrorAction</name>
        <label>Generar error actualizar caso</label>
        <locationX>1238</locationX>
        <locationY>2898</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>EmailMessage Trigger - After insert/update - Route to Genesys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Actualizar caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generar_error_actualizar_caso_hijo</name>
        <label>Generar error actualizar caso hijo</label>
        <locationX>314</locationX>
        <locationY>1848</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>EmailMessage Trigger - After insert/update - Route to Genesys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Actualizar caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generar_error_caso_relacionado_Salesforce</name>
        <label>Generar error caso relacionado Salesforce</label>
        <locationX>1766</locationX>
        <locationY>1416</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>EmailMessage Trigger - After insert/update - Route to Genesys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar caso relacionado Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_USP_User</name>
        <label>Get USP User</label>
        <locationX>3592</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferente</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGenesysQueueAction</name>
        <label>Obtener cola Genesys</label>
        <locationX>1535</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRelatedCaseDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GenesysQueueName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>purecloud__PureCloud_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGenesysQueueAsyncAction</name>
        <label>Obtener cola Genesys Async</label>
        <locationX>3152</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGenesysQueueAndParentIdFromEmailSubflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GenesysQueueName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>purecloud__PureCloud_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeUSPAction</name>
        <label>Get RecordType USP</label>
        <locationX>3746</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsFlowOrQueueDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USPInquiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedCase</name>
        <label>Obtener caso relacionado</label>
        <locationX>776</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_caso_hijo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generar_error_caso_relacionado_Salesforce</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSalesforceQueueAction</name>
        <label>Obtener cola Salesforce</label>
        <locationX>776</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateSalesforceQueueErrorAction</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGenesysQueueAction.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGenesysQueueAction.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_best_agent_caso_ZDA</name>
        <label>Actualizar best agent caso ZDA</label>
        <locationX>3614</locationX>
        <locationY>2856</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BestAgent__c</field>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.GestorPreferente</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_caso1</name>
        <label>Actualizar caso</label>
        <locationX>50</locationX>
        <locationY>1740</locationY>
        <faultConnector>
            <targetReference>Generar_error_actualizar_caso_hijo</targetReference>
        </faultConnector>
        <inputReference>CasoRelacionado</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarPropietarioCasoREAction</name>
        <label>Actualizar Propietario Caso RE</label>
        <locationX>1249</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BusquedaResponsableNegocio.ResponsableNegocioUsuario.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesactivarCampoEstadoInteraccion</name>
        <label>Desactivar Campo Estado Interaccion</label>
        <locationX>2822</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>Hay_que_actualizar_best_agent_ZDA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeUSPAction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InteractionStatus__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesactivarCampoEstadoInteraccionQueue</name>
        <label>Desactivar Campo Estado Interaccion Queue</label>
        <locationX>4142</locationX>
        <locationY>1932</locationY>
        <connector>
            <targetReference>Hay_que_actualizar_best_agent_ZDA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeUSPAction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InteractionStatus__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_owner</name>
        <label>Update case owner</label>
        <locationX>3460</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>GenerateScreenPopURLSubflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_USP_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseAction</name>
        <label>Actualizar caso</label>
        <locationX>974</locationX>
        <locationY>2790</locationY>
        <faultConnector>
            <targetReference>CreateUpdateCaseErrorAction</targetReference>
        </faultConnector>
        <inputReference>CasoRelacionado</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerResponsableNegocioAction</name>
        <label>Update Owner Responsable Negocio</label>
        <locationX>2558</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetGenesysQueueAndParentIdFromEmailSubflow.usuarioResponsableNegocio.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2217</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>USPDecision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>RoutedToGenesys__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GenesysQueueName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>GenesysFlowID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetGenesysQueueAsyncAction</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>BusquedaResponsableNegocio</name>
        <label>Busqueda Responsable Negocio</label>
        <locationX>1381</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>ResponsableNegocioEncontradoInmediatoDecision</targetReference>
        </connector>
        <flowName>EmailMessageBusquedaResponsableNegocio</flowName>
        <inputAssignments>
            <name>ResponsableNegocio</name>
            <value>
                <elementReference>ResponsableNegocio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoCaso</name>
            <value>
                <elementReference>$Record.Parent.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VerticalCaso</name>
            <value>
                <elementReference>$Record.Parent.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calculamos_prioridad</name>
        <label>Calculamos prioridad</label>
        <locationX>2822</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>FlowGenesysRoutingInvocableAction</targetReference>
        </connector>
        <flowName>EmailMessagePriorityCalculation</flowName>
        <inputAssignments>
            <name>caseCallCenter</name>
            <value>
                <elementReference>$Record.Parent.CallCenter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GenerateScreenPopURLSubflow</name>
        <label>Generate Screen Pop URL</label>
        <locationX>3746</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>GetRecordTypeUSPAction</targetReference>
        </connector>
        <flowName>GenerateScreenPopURL</flowName>
        <inputAssignments>
            <name>emailRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedToAccountId</name>
            <value>
                <elementReference>$Record.Parent.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>scopeValue</name>
            <value>
                <elementReference>scopeValue</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GetGenesysQueueAndParentIdFromEmailSubflow</name>
        <label>Comprobar Cola Genesys y ParentID del Email</label>
        <locationX>3152</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>ResponsableNegocioEncontradoDecision</targetReference>
        </connector>
        <flowName>EmailMessage_Comprobar_Cola_Genesys_y_ParentID</flowName>
        <inputAssignments>
            <name>ColaGenesysCallCenter</name>
            <value>
                <elementReference>GetGenesysQueueAsyncAction.CallCenter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ColaGenesysScope</name>
            <value>
                <elementReference>GetGenesysQueueAsyncAction.Scope__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CommercialPorductCodeCaso</name>
            <value>
                <elementReference>$Record.Parent.CommercialProductCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailPropietarioCaso</name>
            <value>
                <elementReference>$Record.Parent.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GenesysDanosQueue</name>
            <value>
                <elementReference>$Record.GenesysQueueName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idCaso</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdCuentaCaso</name>
            <value>
                <elementReference>$Record.Parent.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPropietarioCaso</name>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreConstruccionCartera</name>
            <value>
                <elementReference>UWConstruccionCartera</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreConstruccionVenta</name>
            <value>
                <elementReference>UWConstruccionVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreCSMAdminManager</name>
            <value>
                <elementReference>CSMAdministrationManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreCSMIndivManager</name>
            <value>
                <elementReference>CSMIndividualsManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreDanosRCCartera</name>
            <value>
                <elementReference>UWDanosRCCartera</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreDanosRCVenta</name>
            <value>
                <elementReference>UWDanosRCVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSpecialtiesCartera</name>
            <value>
                <elementReference>UWSpecialtiesCartera</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSpecialtiesVenta</name>
            <value>
                <elementReference>UWSpecialtiesVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSuscriptorDyO</name>
            <value>
                <elementReference>SuscriptorDyO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSuscriptorPymes</name>
            <value>
                <elementReference>SuscriptorPymes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSuscriptorRC</name>
            <value>
                <elementReference>SuscriptorRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumeroParentId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PerfilPropietarioCaso</name>
            <value>
                <elementReference>$Record.Parent.Owner:User.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RamoCaso</name>
            <value>
                <elementReference>$Record.Parent.ProductGroupDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResponsableNegocio</name>
            <value>
                <elementReference>ResponsableNegocio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoCaso</name>
            <value>
                <elementReference>$Record.Parent.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VerticalCaso</name>
            <value>
                <elementReference>$Record.Parent.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>CasoRelacionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>genesysFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>genesysQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USPRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Parent.RecordType.DeveloperName</elementReference>
        </value>
    </variables>
</Flow>
