force-app/zurich-base/main/default/flows/EmailMessage_Comprobar_Cola_Genesys_y_ParentID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AsignarGestorCasoAbiertoUSPAsignment</name>
        <label>Asignar Gestor Caso Abierto USP</label>
        <locationX>2162</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerCasosAbiertosAgentesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AsignarGestorCasoCerradoUSPAssignment</name>
        <label>Asignar Gestor Caso Cerrado USP</label>
        <locationX>2426</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerCasosCerradosMediadorAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CaseOwnerAssignment</name>
        <label>Asignar propietario caso</label>
        <locationX>1392</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallCenterDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCServiceClosedCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Cerrado CCService</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClosedCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CCServiceOpenCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Abierto CCService</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpenCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CSMAdmManagerAssignment</name>
        <label>Asignar CSM Administración Manager</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMAdminManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CSMIndividualManagerAssignment</name>
        <label>Asignar CSM Individual Manager</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMIndivManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Administration_manager_encontrado</name>
        <label>¿Administration manager encontrado?</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdminManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMAdminManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMAdmManagerAssignment</targetReference>
            </connector>
            <label>Administration manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AgenteColaDecision</name>
        <label>¿Agente o Cola?</label>
        <locationX>2129</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>ObtenerCasosAbiertosAgentesAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AgenteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <label>Agente</label>
        </rules>
    </decisions>
    <decisions>
        <name>CallCenterDecision</name>
        <label>¿Qué Call Center es?</label>
        <locationX>1524</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSMParticularesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_manager_encontrado</targetReference>
            </connector>
            <label>CSM Particulares</label>
        </rules>
        <rules>
            <name>CSMAdministracionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Administración</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Administration_manager_encontrado</targetReference>
            </connector>
            <label>CSM Administración</label>
        </rules>
        <rules>
            <name>CCServiceOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdCuentaCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenCasesAction</targetReference>
            </connector>
            <label>CC Service</label>
        </rules>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgenteColaDecision</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseAssignedToUserDecision</name>
        <label>¿Caso asignado a usuario?</label>
        <locationX>1524</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CallCenterDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignedToUserOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseOwnerAssignment</targetReference>
            </connector>
            <label>Asignado a Usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseOrOpportunityDecision</name>
        <label>¿Caso u oportunidad?</label>
        <locationX>2459</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseAssignedToUserDecision</targetReference>
            </connector>
            <label>Caso</label>
        </rules>
        <rules>
            <name>OpportunityOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysScope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZE</stringValue>
                </rightValue>
            </conditions>
            <label>Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>CasosCerradosMediadorEncontradosDecision</name>
        <label>¿Casos Cerrados Mediador Encontrados?</label>
        <locationX>2558</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasosCerradosEncontradosUSPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCasosCerradosMediadorAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarGestorCasoCerradoUSPAssignment</targetReference>
            </connector>
            <label>Casos Cerrados Encontrados USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CasosDeAgentesAbiertosEncontradosDecision</name>
        <label>¿Casos de agentes abiertos encontrados?</label>
        <locationX>2360</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>ObtenerCasosCerradosMediadorAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasosAbiertosEncontrados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCasosAbiertosAgentesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarGestorCasoAbiertoUSPAsignment</targetReference>
            </connector>
            <label>Casos abiertos encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClosedCasesFoundDecision</name>
        <label>¿Casos cerrados encontrados?</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClosedCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceClosedCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos cerrados encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_manager_encontrado</name>
        <label>¿Individual manager encontrado?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndividualManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMIndivManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMIndividualManagerAssignment</targetReference>
            </connector>
            <label>Individual manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenCasesFoundDecision</name>
        <label>¿Casos abiertos encontrados?</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GetClosedCasesAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceOpenCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos abiertos encontrados</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EmailMessage - Comprobar Cola Genesys y ParentID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Búsqueda gestor preferente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClosedCasesAction</name>
        <label>Obtener Casos Cerrados</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClosedCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenCasesAction</name>
        <label>Obtener Casos Abiertos</label>
        <locationX>1304</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCasosAbiertosAgentesAction</name>
        <label>Obtener Casos Abiertos Agentes</label>
        <locationX>2360</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasosDeAgentesAbiertosEncontradosDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCasosCerradosMediadorAction</name>
        <label>Obtener Casos Cerrados Mediador</label>
        <locationX>2558</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasosCerradosMediadorEncontradosDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2333</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseOrOpportunityDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasoFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ColaGenesysCallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColaGenesysScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaMasCercana</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GestorPreferenteAsignado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCuentaCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOwnerLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreColaPorDefecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMAdminManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMIndivManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
