force-app/zurich-base/main/default/flows/EmailMessage_Comprobar_Cola_Genesys_y_ParentID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetGroupId</name>
        <label>GetGroupId</label>
        <locationX>1370</locationX>
        <locationY>1958</locationY>
        <actionName>FindGroupIdByEmailAndGroupNameAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>El_mediador_panelizado_es_sucriptor_uno</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>idCaso</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <elementReference>ColaSuscriptorUno</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userEmail</name>
            <value>
                <elementReference>GestorPreferenteAsignado</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindGroupIdByEmailAndGroupNameAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_Gestor_Preferente_Como_Usuario</name>
        <label>Asignar Gestor Preferente Como Usuario</label>
        <locationX>1370</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Gestor_Preferente_Usuario</name>
        <label>Asignar Gestor Preferente Usuario</label>
        <locationX>1502</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Gestor_Preferente_Usuario_ZDA</name>
        <label>Asignar Gestor Preferente Usuario ZDA</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Suscriptor_DyO</name>
        <label>Asignar Suscriptor DyO</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreSuscriptorDyO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSuscriptorDyO</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Suscriptor_Pymes</name>
        <label>Asignar Suscriptor Pymes</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreSuscriptorPymes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSuscriptorPymes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Suscriptor_RC</name>
        <label>Asignar Suscriptor RC</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreSuscriptorRC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSuscriptorRC</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_variables_cola</name>
        <label>Asignar variables cola</label>
        <locationX>1238</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>genesysFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cola_Genesys.GenesysFlowId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>genesysQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cola_Genesys.purecloud__PureCloud_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>genesysQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cola_Genesys.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGroupId.groupId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AsignarGestorPreferente</name>
        <label>Asignar Gestor Preferente</label>
        <locationX>1238</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GestorPreferente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarVariableResponsableNegocioSalida</name>
        <label>Asignar Variable Responsable Negocio salida</label>
        <locationX>1084</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>usuarioResponsableNegocio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetResponsableNegocio</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CaseOwnerAssignment</name>
        <label>Asignar propietario caso</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallCenterDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCServiceClosedCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Cerrado CCService</label>
        <locationX>3152</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClosedCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CCServiceOpenCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Abierto CCService</label>
        <locationX>2888</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpenCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ConstruccionCarteraAssignment</name>
        <label>Asignar Construcción Cartera</label>
        <locationX>2162</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreConstruccionCartera</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_Construccion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConstruccionVentaAssignment</name>
        <label>Asignar Construcción Venta</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreConstruccionVenta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_Construccion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CSMAdmManagerAssignment</name>
        <label>Asignar CSM Administración Manager</label>
        <locationX>2360</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMAdminManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CSMIndividualManagerAssignment</name>
        <label>Asignar CSM Individual Manager</label>
        <locationX>1832</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMIndivManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DanosRCCarteraAssignment</name>
        <label>Asignar Daños RC Cartera</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreDanosRCCartera</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DanosRCVentaSuscripcionDanosAssignment</name>
        <label>Asignar Daños RC Venta Suscripcion Daños</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreDanosRCVenta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_Danos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DanosRCVentaSuscripcionRCAssignment</name>
        <label>Asignar Daños RC Venta Suscripcion RC</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreDanosRCVenta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_RC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpecialtiesCarteraAssignment</name>
        <label>Asignar Specialties Cartera</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSpecialtiesCartera</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_Specialties</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpecialtiesVentaAssignment</name>
        <label>Asignar Specialties Venta</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSpecialtiesVenta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColaSuscriptorUno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Suscripcion_Specialties</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_usuario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Administration_manager_encontrado</name>
        <label>¿Administration manager encontrado?</label>
        <locationX>2492</locationX>
        <locationY>2774</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdminManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMAdminManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMAdmManagerAssignment</targetReference>
            </connector>
            <label>Administration manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>CallCenterDecision</name>
        <label>¿Qué Call Center es?</label>
        <locationX>2822</locationX>
        <locationY>2666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSMParticularesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_manager_encontrado</targetReference>
            </connector>
            <label>CSM Particulares</label>
        </rules>
        <rules>
            <name>CSMAdministracionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Administración</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Administration_manager_encontrado</targetReference>
            </connector>
            <label>CSM Administración</label>
        </rules>
        <rules>
            <name>CCServiceOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdCuentaCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenCasesAction</targetReference>
            </connector>
            <label>CC Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseAssignedToUserDecision</name>
        <label>¿Caso asignado a usuario?</label>
        <locationX>2822</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CallCenterDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedireccionComerciosDecision</targetReference>
            </connector>
            <label>USP</label>
        </rules>
        <rules>
            <name>ZDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Call_Center_ZDA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_asignado_a_usuario_ZDA</targetReference>
            </connector>
            <label>ZDA</label>
        </rules>
        <rules>
            <name>AssignedToUserOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseOwnerAssignment</targetReference>
            </connector>
            <label>Asignado a Usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseOrOpportunityDecision</name>
        <label>¿Caso u oportunidad?</label>
        <locationX>3768</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseAssignedToUserDecision</targetReference>
            </connector>
            <label>Caso</label>
        </rules>
        <rules>
            <name>OpportunityOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysScope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZE</stringValue>
                </rightValue>
            </conditions>
            <label>Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caso_asignado_a_usuario_ZDA</name>
        <label>¿Caso asignado a usuario ZDA?</label>
        <locationX>3416</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Asignar_Gestor_Preferente_Usuario_ZDA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_usuario_ZDA</name>
            <conditionLogic>1 OR ( (2 OR 3 OR 4) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Beggining_Id_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_Name_Integrator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_Name_Admin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_Name_Administrador</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Beggining_Id_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestor_preferente_suscriptor</targetReference>
            </connector>
            <label>No es usuario ZDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClosedCasesFoundDecision</name>
        <label>¿Casos cerrados encontrados?</label>
        <locationX>3284</locationX>
        <locationY>3098</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClosedCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceClosedCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos cerrados encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_mediador_panelizado_es_sucriptor_uno</name>
        <label>¿El mediador panelizado es sucriptor uno?</label>
        <locationX>1370</locationX>
        <locationY>2066</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuscriptorUno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroupId.groupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_cola_Genesys</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_owner_es_un_usuario</name>
        <label>¿El owner es un usuario?</label>
        <locationX>1502</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>DanosRCCarteraAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerUsuario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Gestor_Preferente_Como_Usuario</targetReference>
            </connector>
            <label>Es usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestor_preferente_suscriptor</name>
        <label>¿Gestor preferente suscriptor?</label>
        <locationX>3086</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suscriptor_DyO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreSuscriptorDyO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialPorductCodeCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Commercial_Product_Code_PRD0901</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Suscriptor_DyO</targetReference>
            </connector>
            <label>Suscriptor DyO</label>
        </rules>
        <rules>
            <name>Suscriptor_Pymes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreSuscriptorPymes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialPorductCodeCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Commercial_Product_Code_PRD0028</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Suscriptor_Pymes</targetReference>
            </connector>
            <label>Suscriptor Pymes</label>
        </rules>
        <rules>
            <name>Suscriptor_RC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreSuscriptorRC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommercialPorductCodeCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Commercial_Product_Code_PRD0038</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Suscriptor_RC</targetReference>
            </connector>
            <label>Suscriptor RC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_manager_encontrado</name>
        <label>¿Individual manager encontrado?</label>
        <locationX>1964</locationX>
        <locationY>2774</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndividualManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMIndivManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMIndividualManagerAssignment</targetReference>
            </connector>
            <label>Individual manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mediador_Panelizado</name>
        <label>¿Mediador Panelizado?</label>
        <locationX>1370</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VentaDanosRC</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>NombreDanosRCVenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Danos-RC Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_ramo_es</targetReference>
            </connector>
            <label>Venta Daños RC</label>
        </rules>
        <rules>
            <name>VentaSpecialties</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreSpecialtiesVenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>peticiones.fastflow@zurich.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecialtiesVentaAssignment</targetReference>
            </connector>
            <label>Venta Specialties</label>
        </rules>
        <rules>
            <name>VentaConstruccion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construccion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreConstruccionVenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConstruccionVentaAssignment</targetReference>
            </connector>
            <label>Venta Construcción</label>
        </rules>
        <rules>
            <name>CarteraDanosRC</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>NombreDanosRCCartera</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cartera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_owner_es_un_usuario</targetReference>
            </connector>
            <label>Cartera Daños RC</label>
        </rules>
        <rules>
            <name>CarteraSpecialties</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreSpecialtiesCartera</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>peticiones.fastflow@zurich.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecialtiesCarteraAssignment</targetReference>
            </connector>
            <label>Cartera Specialties</label>
        </rules>
        <rules>
            <name>CarteraConstruccion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construccion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreConstruccionCartera</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConstruccionCarteraAssignment</targetReference>
            </connector>
            <label>Cartera Construccion</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenCasesFoundDecision</name>
        <label>¿Casos abiertos encontrados?</label>
        <locationX>3086</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>GetClosedCasesAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceOpenCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos abiertos encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_usuario</name>
        <label>¿Owner usuario?</label>
        <locationX>1370</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Asignar_Gestor_Preferente_Usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_Usuario</name>
            <conditionLogic>1 OR ( (2 OR 3 OR 4) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerfilPropietarioCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarGestorPreferente</targetReference>
            </connector>
            <label>No es Usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_ramo_es</name>
        <label>¿Que ramo es?</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suscripcion_Danos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMERCIOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PATRIMONIALES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DanosRCVentaSuscripcionDanosAssignment</targetReference>
            </connector>
            <label>Suscripcion Daños</label>
        </rules>
        <rules>
            <name>Suscripcion_RC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCIDENTES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESP. CIVIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCIDENTES-COLECTIVOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCPRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DanosRCVentaSuscripcionRCAssignment</targetReference>
            </connector>
            <label>Suscripcion RC</label>
        </rules>
    </decisions>
    <decisions>
        <name>RedireccionComerciosDecision</name>
        <label>Redirección comercios</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Mediador_Panelizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrutamiento Normal</defaultConnectorLabel>
        <rules>
            <name>RedireccionComerciosOutcome</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RamoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMERCIOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResponsableNegocio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResponsableNegocio</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GenesysDanosQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email_USP_Danos_RC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetResponsableNegocio</targetReference>
            </connector>
            <label>Redireccion Comercios</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsableNegocioEncontrado</name>
        <label>Responsable Negocio Encontrado</label>
        <locationX>1216</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Mediador_Panelizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No encontrado</defaultConnectorLabel>
        <rules>
            <name>EncontradoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetResponsableNegocio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarVariableResponsableNegocioSalida</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Beggining_Id_Queue</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Beggining_Id_Queue.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Beggining_Id_User</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Beggining_Id_User.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Call_Center_ZDA</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Call_Center_ZDA.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_Commercial_Product_Code_PRD0028</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_Commercial_Product_Code_PRD0028.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_Commercial_Product_Code_PRD0038</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_Commercial_Product_Code_PRD0038.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_Commercial_Product_Code_PRD0901</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_Commercial_Product_Code_PRD0901.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Admin</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Profile_Name_Admin.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Administrador</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Profile_Name_Administrador.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Integrator</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Profile_Name_Integrator.Value__c}</expression>
    </formulas>
    <interviewLabel>EmailMessage - Comprobar Cola Genesys y ParentID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Búsqueda gestor preferente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClosedCasesAction</name>
        <label>Obtener Casos Cerrados</label>
        <locationX>3284</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClosedCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenCasesAction</name>
        <label>Obtener Casos Abiertos</label>
        <locationX>3086</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetResponsableNegocio</name>
        <label>Get Responsable Negocio</label>
        <locationX>1216</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResponsableNegocioEncontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponsableNegocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cola_Genesys</name>
        <label>Obtener cola Genesys</label>
        <locationX>1238</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_variables_cola</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaSuscriptorUno</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>purecloud__PureCloud_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3642</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseOrOpportunityDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasoFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ColaGenesysCallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColaGenesysScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColaSuscriptorUno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommercialPorductCodeCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaMasCercana</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenesysDanosQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>genesysFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>genesysQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>genesysQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GestorPreferente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GestorPreferenteAsignado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>idCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOwnerLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreColaPorDefecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreConstruccionCartera</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreConstruccionVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMAdminManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMIndivManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreDanosRCCartera</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreDanosRCVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSpecialtiesCartera</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSpecialtiesVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSuscriptorDyO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSuscriptorPymes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSuscriptorRC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerfilPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RamoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponsableNegocio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoCaso</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usuarioResponsableNegocio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>VerticalCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
