force-app/zurich-base/main/default/flows/EmailMessageTriggerAfterInsertCaseStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Activar_Flag_estado_Respondido</name>
        <label>Activar Flag estado Respondido</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ActualizarStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarStageDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ActivarActualizarStage</name>
        <label>ActivarActualizarStage</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ActualizarFieldStageNotIncoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarStatusYStageNotIncoming</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ActivarActualizarStatus</name>
        <label>ActivarActualizarStatus</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ActualizarStatusNoIncoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarStageNotIncoming</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ActivarFlagStage</name>
        <label>Activar Flag Stage</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ActualizarStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Status_y_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actualizar_Estado_Respondido</name>
        <label>Actualizar Estado Respondido?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ActualizarStageDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActualizarEstadoRespondidoOutcome</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other areas Zurich</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.PendingBy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activar_Flag_estado_Respondido</targetReference>
            </connector>
            <label>Actualizar Estado Respondido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Actualizar_Status_y_Stage</name>
        <label>Actualizar Status y Stage?</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Y_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoStageyStatus</targetReference>
            </connector>
            <label>Status Y Stage</label>
        </rules>
        <rules>
            <name>ActualizarSoloEstadoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoStatus</targetReference>
            </connector>
            <label>Actualizar Solo Estado</label>
        </rules>
        <rules>
            <name>ActualizarSoloStageoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoStageAction</targetReference>
            </connector>
            <label>Actualizar Solo Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualizarStageDecision</name>
        <label>Actualizar Stage?</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Status_y_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActualizarStageOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.QuotationStage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarFlagStage</targetReference>
            </connector>
            <label>Actualizar Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualizarStageNotIncoming</name>
        <label>Actualizar Stage?</label>
        <locationX>2030</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>ActualizarStatusYStageNotIncoming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActivarActualizarStageOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.QuotationStage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarActualizarStage</targetReference>
            </connector>
            <label>Activar Actualizar Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualizarStatusYStageNotIncoming</name>
        <label>Actualizar Status y Stage Not Incoming?</label>
        <locationX>2030</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusStageOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarFieldStageNotIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarStatusNoIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoStatusStageNotIncoming</targetReference>
            </connector>
            <label>Status Y Stage</label>
        </rules>
        <rules>
            <name>ActualizarSoloEstadoNotIncoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarStatusNoIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarFieldStageNotIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoSoloStatusNotIncoming</targetReference>
            </connector>
            <label>Actualizar Solo Estado</label>
        </rules>
        <rules>
            <name>ActualizarSoloStageNotIncoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarFieldStageNotIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualizarStatusNoIncoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCasoSoloStageNotIncoming</targetReference>
            </connector>
            <label>Actualizar Solo Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_Caso_esta_Pending</name>
        <label>¿El Caso está Pending?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_OCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OCSRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Caso_a_Respondido_OCS</targetReference>
            </connector>
            <label>Si OCS</label>
        </rules>
        <rules>
            <name>SI_USP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USPRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Respondido</targetReference>
            </connector>
            <label>SI USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIncomingDecision</name>
        <label>Is incoming?</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>USPDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIncomingOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_Caso_esta_Pending</targetReference>
            </connector>
            <label>Yes incoming</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPending</name>
        <label>Is pending?</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ActualizarStageNotIncoming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending or not USP</defaultConnectorLabel>
        <rules>
            <name>YesPendingOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarActualizarStatus</targetReference>
            </connector>
            <label>Not Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>USPDecision</name>
        <label>USP?</label>
        <locationX>2360</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USPCaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USPRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPending</targetReference>
            </connector>
            <label>Si USP</label>
        </rules>
    </decisions>
    <description>si llega un email, actualiza a Respondido el caso (OCS y EON)</description>
    <environments>Default</environments>
    <formulas>
        <name>OCSRecordType</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_RecordType_OCS.Value__c}</expression>
    </formulas>
    <formulas>
        <name>USPRecordType</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_RecordType_USP.Value__c}</expression>
    </formulas>
    <interviewLabel>EmailMessage Trigger - After Insert Case Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Trigger - After Insert Case Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Caso_a_Respondido_OCS</name>
        <label>Actualizar Caso a Respondido OCS</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Respondido</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoSoloStageNotIncoming</name>
        <label>Actualizar Caso Solo Stage</label>
        <locationX>2162</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuotationStage__c</field>
            <value>
                <stringValue>Info request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoSoloStatusNotIncoming</name>
        <label>Actualizar Caso Solo Status</label>
        <locationX>1898</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoStageAction</name>
        <label>Actualizar Caso Stage</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuotationStage__c</field>
            <value>
                <stringValue>Work in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoStageyStatus</name>
        <label>ActualizarCaso Stage y Status</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationStage__c</field>
            <value>
                <stringValue>Work in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Respondido</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoStatus</name>
        <label>Actualizar Caso Status</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Respondido</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarCasoStatusStageNotIncoming</name>
        <label>Actualizar Caso Status Stage</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <stringValue>Intermediary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationStage__c</field>
            <value>
                <stringValue>Info request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsIncomingDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualizarFieldStageNotIncoming</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ActualizarStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ActualizarStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ActualizarStatusNoIncoming</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
