force-app/zurich-base/main/default/flows/EmailMessagePriorityCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignar_SLA_caso_CCS_BMW</name>
        <label>Asignar SLA caso CCS BMW</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4320.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_SLA_Caso_Hijio</name>
        <label>Asignar SLA caso hijo</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4320.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_SLA_caso_respondido</name>
        <label>Asignar SLA caso respondido</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4320.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Asignamos el valor máximo de SLA para los casos más urgentes de ZDA</description>
        <name>Asignar_SLA_maximo_ZDA</name>
        <label>Asignar SLA máximo ZDA</label>
        <locationX>1986</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLA_Urgente_ZDA_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AsignarSLACasoInmuebles</name>
        <label>Asignar SLA caso inmuebles</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5760.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EstimatedEndDateAssignment</name>
        <label>Establecer fecha estimada cierre</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>EstimatedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cuEstimatedDateCorrectionFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLAsBaseZDA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MaxSlaAssignment</name>
        <label>Asignar SLA máximo</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetZDASLAAssignement</name>
        <label>Asignar SLA ZDA</label>
        <locationX>2514</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zdaSlaFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SLABaseZDAVariable_Assignment</name>
        <label>Asignar SLA base ZDA a Variable</label>
        <locationX>2602</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SLA_Base_ZDA_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLAsBaseZDA_Loop.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLAsBaseZDA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SlaCalculationAssignment</name>
        <label>Cálculo de SLA</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slaFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SLAMaximoZDAVariable_Assignment</name>
        <label>Asignar SLA máximo ZDA a Variable</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SLA_Urgente_ZDA_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLAsUrgentesZDA_Loop.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLAsUrgentesZDA_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ObtenerSLABaseZDAFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtrar SLA Base ZDA</label>
        <locationX>2514</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_ObtenerSLABaseZDAFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SLAs_ZDA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ObtenerSLABaseZDAFilter.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SLA_Base_ZDA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>RecuperarCasoZDAAction</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>ObtenerSLAUrgenteZDAFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtrar SLA Urgente ZDA</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_ObtenerSLAUrgenteZDAFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SLAs_ZDA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ObtenerSLAUrgenteZDAFilter.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SLA_Urgente_ZDA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SLAsUrgentesZDA_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>CallCenterDecision</name>
        <label>¿Call Center?</label>
        <locationX>1612</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsQuoteResponseDecision</targetReference>
            </connector>
            <label>USP</label>
        </rules>
        <rules>
            <name>CCS_or_CDEX_or_CSM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro Excelencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Administracion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCase</targetReference>
            </connector>
            <label>CCS o CDEX o CSM</label>
        </rules>
        <rules>
            <name>ZDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CallCener_ZDA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecuperarSLAsZDAAction</targetReference>
            </connector>
            <label>ZDA</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del origen del caso, la prioridad se calcula de un modo u otro</description>
        <name>CaseOriginDecision</name>
        <label>Origen del caso</label>
        <locationX>2514</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanalUnicoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Origin_Canal_Unico</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstimatedEndDateAssignment</targetReference>
            </connector>
            <label>CanalUnico</label>
        </rules>
        <rules>
            <name>EmailOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Origin_Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetZDACaseMilestone</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_urgente</name>
        <label>¿Es urgente?</label>
        <locationX>2250</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ObtenerSLABaseZDAFilter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_urgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>urgentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerSLAUrgenteZDAFilter</targetReference>
            </connector>
            <label>Email urgente</label>
        </rules>
    </decisions>
    <decisions>
        <name>EsCSMPartInmueblesDecision</name>
        <label>¿Es CSM Particulares Inmuebles?</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>isChildCaseOrBMW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSM Particulares o no Inmuebles</defaultConnectorLabel>
        <rules>
            <name>CSMPartInmueblesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.HegeoProductGroupCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarSLACasoInmuebles</targetReference>
            </connector>
            <label>CSM Particulares - Inmuebles</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChildCaseOrBMW</name>
        <label>¿Es caso hijo o CCS BMW?</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caso_hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>casoEncontrado.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_SLA_Caso_Hijio</targetReference>
            </connector>
            <label>Caso hijo</label>
        </rules>
        <rules>
            <name>Caso_respondido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Respondido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_SLA_caso_respondido</targetReference>
            </connector>
            <label>Caso respondido</label>
        </rules>
        <rules>
            <name>Caso_CCS_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email_CCS_BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_SLA_caso_CCS_BMW</targetReference>
            </connector>
            <label>Caso CCS BMW</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuoteResponseDecision</name>
        <label>¿Es respuesta de venta?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetCaseMilestoneAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es respuesta de venta</defaultConnectorLabel>
        <rules>
            <name>IsQuoteResponseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaxSlaAssignment</targetReference>
            </connector>
            <label>Es respuesta de venta</label>
        </rules>
    </decisions>
    <description>Subflujo encargado de definir la prioridad de la interacción a enrutar, basándose en el call center al que vaya destinada</description>
    <environments>Default</environments>
    <formulas>
        <name>CallCener_ZDA</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Call_Center_ZDA.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_Origin_Canal_Unico</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_Origin_Canal_Unico.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Case_Origin_Email</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Case_Origin_Email.Value__c}</expression>
    </formulas>
    <formulas>
        <name>Comienzo_Cola</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Global_Configuration__mdt.Beggining_Id_Queue.Value__c}</expression>
    </formulas>
    <formulas>
        <description>Esta formula corrige el &apos;formateo&apos; que hace SF sobre la fecha-hora del campo EstimatedEndDate__c. Este campo contiene la fecha+23.59.59. Al estar en GMT+1 le suma un dia y la hora pasa a ser las 12.59 en invierno y las 1.59 en verano. Como solo nos interesa el dia, le restamos un dia a esta fecha</description>
        <name>cuEstimatedDateCorrectionFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!casoEncontrado.EstimatedEndDate__c}-1</expression>
    </formulas>
    <formulas>
        <description>Convertir a número el valor del metadato. El número representa minutos en espera para envejecer las interacciones de Genesys.</description>
        <name>SLA_Base_ZDA_Formula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SLA_Base_ZDA_Var})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Convertir a número el valor del metadato. El número representa minutos en espera para envejecer las interacciones de Genesys.</description>
        <name>SLA_Urgente_ZDA_Formula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SLA_Urgente_ZDA_Var})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>slaFormula</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!GetCaseMilestoneAction.TargetDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula para el calculo del SLA para los casos de ZDA que son de canal unico o email (no urgente). Sera indicado en el metadato Global Configuration (el valor mas prioritario, para que no sea mas urgente que las &apos;urgencias&apos;) menos la diferencia de dias entre la fecha de fin de SLA y la fecha de ahora (la resta entre dos date times en un flow da como resultado la diferencia en dias). En ZDA no se priorizan casos por horas, asi que con la diferencia en dias tenemos suficiente.</description>
        <name>zdaSlaFormula</name>
        <dataType>Number</dataType>
        <expression>({!SLA_Base_ZDA_Formula}) - MCEILING(({!EstimatedEndDate} - {!$Flow.CurrentDateTime}))*1440</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EmailMessage - Cálculo SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Cálculo Prioridad</label>
    <loops>
        <name>SLAsBaseZDA_Loop</name>
        <label>Loop SLAs Base ZDA</label>
        <locationX>2514</locationX>
        <locationY>974</locationY>
        <collectionReference>ObtenerSLABaseZDAFilter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SLABaseZDAVariable_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetZDASLAAssignement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SLAsUrgentesZDA_Loop</name>
        <label>Loop SLAs Urgentes ZDA</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <collectionReference>ObtenerSLAUrgenteZDAFilter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SLAMaximoZDAVariable_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_SLA_maximo_ZDA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Recuperamos el caso con el que trabajamos</description>
        <name>getCase</name>
        <label>Recuperar caso</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EsCSMPartInmueblesDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casoEncontrado</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>HegeoProductGroupCode__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseMilestoneAction</name>
        <label>Recuperar Case Milestone</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SlaCalculationAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TargetDate</queriedFields>
        <queriedFields>TimeRemainingInMins</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetZDACaseMilestone</name>
        <label>Recuperar ZDA Case Milestone</label>
        <locationX>2514</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SLAsBaseZDA_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>EstimatedEndDate</assignToReference>
            <field>TargetDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recuperamos el caso de ZDA con el que trabajamos</description>
        <name>RecuperarCasoZDAAction</name>
        <label>Recuperar caso ZDA</label>
        <locationX>2514</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOriginDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casoEncontrado</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>EstimatedEndDate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Recuperamos los SLAs para asignar más adelante</description>
        <name>RecuperarSLAsZDAAction</name>
        <label>Recuperar SLAs ZDA</label>
        <locationX>2250</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_urgente</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Urgente_ZDA</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Base_ZDA</stringValue>
            </value>
        </filters>
        <object>Global_Configuration__mdt</object>
        <outputReference>SLAs_ZDA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>1486</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallCenterDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calculatedSla</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseCallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>casoEncontrado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_ObtenerSLABaseZDAFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Global_Configuration__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_ObtenerSLAUrgenteZDAFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Global_Configuration__mdt</objectType>
    </variables>
    <variables>
        <name>EstimatedEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isResponse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable para almacenar como texto el valor base de SLA de ZDA, que viene del custom metadata Global Value. Se establece un valor por defecto en caso de que no se encuentre el metadato por algún error.</description>
        <name>SLA_Base_ZDA_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>11520</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable para almacenar como texto el valor máximo de SLA de ZDA, que viene del custom metadata Global Value. Se establece un valor por defecto en caso de que no se encuentre el metadato por algún error.</description>
        <name>SLA_Urgente_ZDA_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>20000</stringValue>
        </value>
    </variables>
    <variables>
        <description>SLAs para calcular priorizades en ZDA</description>
        <name>SLAs_ZDA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Global_Configuration__mdt</objectType>
    </variables>
    <variables>
        <name>urgentEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
