force-app/zurich-base/main/default/flows/EmailMessageBusquedaResponsableNegocio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>ResponsableNegocioSalidaOutcome</name>
        <label>Responsable Negocio Salida</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsableNegocioUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetResponsableNegocioAction</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>RedireccionComercios</name>
        <label>¿Redirección comercios?</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Comercios</defaultConnectorLabel>
        <rules>
            <name>RedireccionComerciosOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerticalCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMERCIOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResponsableNegocio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResponsableNegocio</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetResponsableNegocioAction</targetReference>
            </connector>
            <label>Redireccion Comercios</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsableNegocioEncontradoDecision</name>
        <label>¿Responsable Negocio Encontrado?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EncontradoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetResponsableNegocioAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResponsableNegocioSalidaOutcome</targetReference>
            </connector>
            <label>RE Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EmailMessage - Búsqueda Responsable Negocio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Búsqueda Responsable Negocio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetResponsableNegocioAction</name>
        <label>Get Responsable Negocio</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResponsableNegocioEncontradoDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponsableNegocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RedireccionComercios</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ResponsableNegocio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponsableNegocioUsuario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TipoCaso</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerticalCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
