force-app/zurich-base/main/default/flows/EmailMessagePriorityCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignar_SLA_Caso_Hijio</name>
        <label>Asignar SLA caso hijo</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1440.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>MaxSlaAssignment</name>
        <label>Asignar SLA máximo</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SlaCalculationAssignment</name>
        <label>Cálculo de SLA</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>calculatedSla</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slaFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CallCenterDecision</name>
        <label>¿Call Center?</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsQuoteResponseDecision</targetReference>
            </connector>
            <label>USP</label>
        </rules>
        <rules>
            <name>CCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCase</targetReference>
            </connector>
            <label>CCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChildCase</name>
        <label>¿Es caso hijo?</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caso_hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casoEncontrado.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>casoEncontrado.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_SLA_Caso_Hijio</targetReference>
            </connector>
            <label>Caso hijo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuoteResponseDecision</name>
        <label>¿Es respuesta de venta?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetCaseMilestoneAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es respuesta de venta</defaultConnectorLabel>
        <rules>
            <name>IsQuoteResponseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaxSlaAssignment</targetReference>
            </connector>
            <label>Es respuesta de venta</label>
        </rules>
    </decisions>
    <description>Subflujo encargado de definir la prioridad de la interacción a enrutar, basándose en el call center al que vaya destinada</description>
    <environments>Default</environments>
    <formulas>
        <name>slaFormula</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!GetCaseMilestoneAction.TargetDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EmailMessage - Cálculo SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Cálculo Prioridad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Recuperamos el caso con el que trabajamos</description>
        <name>getCase</name>
        <label>Recuperar caso</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isChildCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casoEncontrado</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseMilestoneAction</name>
        <label>Recuperar Case Milestone</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SlaCalculationAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TargetDate</queriedFields>
        <queriedFields>TimeRemainingInMins</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallCenterDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calculatedSla</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseCallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>casoEncontrado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isResponse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
