force-app/zurich-base/main/default/flows/EmailMessage_Trigger_After_Update_Check_mailbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Establecemos_exclusi_n</name>
        <label>Establecemos exclusión</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Excluimos</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReceptor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsTheSame</name>
        <label>¿Coincide?</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>CheckReceptor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coincidente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckReceptor.Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckReceptor.Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Establecemos_exclusi_n</targetReference>
            </connector>
            <label>Coincidente</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_lista_viene_vac_a</name>
        <label>La lista viene vacía</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Lista no vacía</defaultConnectorLabel>
        <rules>
            <name>Lista_vacia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllEmailMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExcludedMailboxes</targetReference>
            </connector>
            <label>Lista vacía</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Message - After update - Check mailbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Trigger - After Update - Check mailbox</label>
    <loops>
        <name>CheckReceptor</name>
        <label>Comprobamos destinatario</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>GetExcludedMailboxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsTheSame</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizamos_el_caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllEmailMessage</name>
        <label>Obtener todos los emails</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_lista_viene_vac_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedMailboxes</name>
        <label>Obtenemos buzones excluidos</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckReceptor</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExcludedMailboxList__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizamos_el_caso</name>
        <label>Actualizamos el caso</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsCreatedOnExcludedMailbox__c</field>
            <value>
                <elementReference>Excluimos</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllEmailMessage</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Excluimos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
