force-app/zurich-base/main/default/flows/EmailMessage_Comprobar_Cola_Genesys_y_ParentID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignamos_variable</name>
        <label>Asignamos variable</label>
        <locationX>2802</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>IdOwnerLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorremos_casos_abiertos.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignamos_variable_cerrados</name>
        <label>Asignamos variable cerrados</label>
        <locationX>2734</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>IdOwnerLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorremos_casos_cerrados.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isUserClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Gestor_Caso_Abierto_USP</name>
        <label>Asignar Gestor Caso Abierto USP</label>
        <locationX>2670</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorremos_casos_abiertos.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AsignarGestorCasoCerradoUSPAssignment</name>
        <label>Asignar Gestor Caso Cerrado USP</label>
        <locationX>2602</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorremos_casos_cerrados.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CaseOwnerAssignment</name>
        <label>Asignar propietario caso</label>
        <locationX>1480</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailPropietarioCaso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallCenterDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCServiceClosedCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Cerrado CCService</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClosedCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CCServiceOpenCaseAgentAssignment</name>
        <label>Asignar Gestor Caso Abierto CCService</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpenCasesAction.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CSMAdmManagerAssignment</name>
        <label>Asignar CSM Administración Manager</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMAdminManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CSMIndividualManagerAssignment</name>
        <label>Asignar CSM Individual Manager</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GestorPreferenteAsignado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NombreCSMIndivManager</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Administration_manager_encontrado</name>
        <label>¿Administration manager encontrado?</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdminManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMAdminManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMAdmManagerAssignment</targetReference>
            </connector>
            <label>Administration manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AgenteColaDecision</name>
        <label>¿Agente o Cola?</label>
        <locationX>2272</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>getRecordTypeID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AgenteOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <label>Agente</label>
        </rules>
    </decisions>
    <decisions>
        <name>CallCenterDecision</name>
        <label>¿Qué Call Center es?</label>
        <locationX>1612</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSMParticularesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Particulares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_manager_encontrado</targetReference>
            </connector>
            <label>CSM Particulares</label>
        </rules>
        <rules>
            <name>CSMAdministracionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSM Administración</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Administration_manager_encontrado</targetReference>
            </connector>
            <label>CSM Administración</label>
        </rules>
        <rules>
            <name>CCServiceOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdCuentaCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenCasesAction</targetReference>
            </connector>
            <label>CC Service</label>
        </rules>
        <rules>
            <name>USPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysCallCenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgenteColaDecision</targetReference>
            </connector>
            <label>USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseAssignedToUserDecision</name>
        <label>¿Caso asignado a usuario?</label>
        <locationX>1612</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CallCenterDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignedToUserOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDPropietarioCaso</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseOwnerAssignment</targetReference>
            </connector>
            <label>Asignado a Usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseOrOpportunityDecision</name>
        <label>¿Caso u oportunidad?</label>
        <locationX>2591</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseAssignedToUserDecision</targetReference>
            </connector>
            <label>Caso</label>
        </rules>
        <rules>
            <name>OpportunityOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColaGenesysScope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZE</stringValue>
                </rightValue>
            </conditions>
            <label>Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>CasosCerradosMediadorEncontradosDecision</name>
        <label>¿Casos Cerrados Mediador Encontrados?</label>
        <locationX>2646</locationX>
        <locationY>1982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasosCerradosEncontradosUSPOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCasosCerradosMediadorAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorremos_casos_cerrados</targetReference>
            </connector>
            <label>Casos Cerrados Encontrados USP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CasosDeAgentesAbiertosEncontradosDecision</name>
        <label>¿Casos de agentes abiertos encontrados?</label>
        <locationX>2646</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ObtenerCasosCerradosMediadorAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasosAbiertosEncontrados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCasosAbiertosAgentesAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorremos_casos_abiertos</targetReference>
            </connector>
            <label>Casos abiertos encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClosedCasesFoundDecision</name>
        <label>¿Casos cerrados encontrados?</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClosedCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceClosedCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos cerrados encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_user</name>
        <label>¿Es user?</label>
        <locationX>2802</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Recorremos_casos_abiertos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdOwnerLoop</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Gestor_Caso_Abierto_USP</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_manager_encontrado</name>
        <label>¿Individual manager encontrado?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndividualManagerEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCSMIndivManager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSMIndividualManagerAssignment</targetReference>
            </connector>
            <label>Individual manager encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUserClosed</name>
        <label>¿Es user?</label>
        <locationX>2734</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Recorremos_casos_cerrados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdOwnerLoop</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarGestorCasoCerradoUSPAssignment</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenCasesFoundDecision</name>
        <label>¿Casos abiertos encontrados?</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GetClosedCasesAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenCasesFoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenCasesAction.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCServiceOpenCaseAgentAssignment</targetReference>
            </connector>
            <label>Casos abiertos encontrados</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EmailMessage - Comprobar Cola Genesys y ParentID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Búsqueda gestor preferente</label>
    <loops>
        <name>Recorremos_casos_abiertos</name>
        <label>Recorremos casos abierto</label>
        <locationX>2582</locationX>
        <locationY>1082</locationY>
        <collectionReference>ObtenerCasosAbiertosAgentesAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignamos_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerCasosCerradosMediadorAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorremos_casos_cerrados</name>
        <label>Recorremos casos cerrados</label>
        <locationX>2514</locationX>
        <locationY>2090</locationY>
        <collectionReference>ObtenerCasosCerradosMediadorAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignamos_variable_cerrados</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClosedCasesAction</name>
        <label>Obtener Casos Cerrados</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClosedCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenCasesAction</name>
        <label>Obtener Casos Abiertos</label>
        <locationX>1304</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenCasesFoundDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeID</name>
        <label>Obtener RecordType ID</label>
        <locationX>2646</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerCasosAbiertosAgentesAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USPInquiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCasosAbiertosAgentesAction</name>
        <label>Obtener Casos Abiertos Agentes</label>
        <locationX>2646</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasosDeAgentesAbiertosEncontradosDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordTypeID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCasosCerradosMediadorAction</name>
        <label>Obtener Casos Cerrados Mediador</label>
        <locationX>2646</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasosCerradosMediadorEncontradosDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCuentaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NumeroParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordTypeID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2465</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseOrOpportunityDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasoFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ColaGenesysCallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColaGenesysScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaMasCercana</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GestorPreferenteAsignado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCuentaCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOwnerLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreColaPorDefecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMAdminManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCSMIndivManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
