force-app/zurich-base/main/default/flows/ExcluirDominioSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>DomainMatchAssignment</name>
        <label>Coincide el dominio</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CoincideVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExcludeListAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MatchDomainDecision</name>
        <label>¿Coincide el dominio?</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>LoopExcludeListAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomainMatchOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFlow.SuppliedEmail</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>LoopExcludeListAction.EmailDomain__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DomainMatchAssignment</targetReference>
            </connector>
            <label>Coincide Dominio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Excluir Dominio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Excluir Dominio</label>
    <loops>
        <name>LoopExcludeListAction</name>
        <label>Recorrer lista exclusiones</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetExcludeDomainListAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchDomainDecision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>GenerarErrorDominioAction</name>
        <label>Generar Error Dominio</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Excluir Dominio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar Dominio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExcludeDomainListAction</name>
        <label>Obtener listado de exclusiones</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopExcludeListAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GenerarErrorDominioAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallCenter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallCenter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExcludeDomainList__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmailDomain__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetExcludeDomainListAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CallCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoincideVAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
