force-app/zurich-base/main/default/flows/Formulario_peticiones_equipos_de_mercado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_mediador</name>
        <label>Asignar mediador</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MediadorManual.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_totales</name>
        <label>Asignar totales</label>
        <locationX>798</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SumCartera</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Totales_KPI.Portfolio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumIncome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Totales_KPI.Income__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumTotalLoad</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Totales_KPI.TotalLoad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Totales_KPI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_asignado_1</name>
        <label>Informar asignado 1</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>EmailAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignado1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_asignado_2</name>
        <label>Informar asignado 2</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>EmailAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignado2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_asignado_3</name>
        <label>Informar asignado 3</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>EmailAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignado3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_asignado_4</name>
        <label>Informar asignado 4</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>EmailAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignado4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_asignado_DZ</name>
        <label>Informar asignado DZ</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>EmailAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_DZ.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TypeN2GestionDeNegocio</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN2_GestionDeNegocio}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GestionNegocio</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN2Mejora</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN2_Mejora}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Mejora</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN2Saneamiento</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN2_Saneamiento}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Saneamiento</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN2Suscripcion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN2_Suscripci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Suscripcion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3ActividadComercial</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Actividad_comercial}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ActividadComercial</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3CodigoDeNegocio</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3C_digo_de_negocio}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CodigoDeNegocio</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Comunicaciones</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Comunicaciones}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Comunicaciones</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Conectividad</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Conectividad}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Conectividad</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3ConsultaCarCarteraDescuentosRenovacion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Consulta_CAR_Cartera_Descuentos_renovaci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ConsultaCARCarteraDescuentosrenovacion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3ConsultaMotivoSaneamiento</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Consulta_motivo_saneamiento}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ConsultaMotivoSaneamiento</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3ConsultaPrimaDeRenovacion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Consulta_prima_de_renovaci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ConsultaPrimaDeRenovacion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3ConsultaReemplazo</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Consulta_reemplazo}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ConsultaReemplazo</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Contratacion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Contrataci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Contratacion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Documentacion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Documentaci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Documentacion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Expats</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Expats}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Expats</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3GestionDeCartera</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Gesti_n_de_cartera}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GestionDeCartera</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3GestionDeCompetencias</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Gesti_n_de_competencias}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GestionCompetencias</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3IncidenciasCartera</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Incidencias_cartera}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IncidenciasCartera</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3IncidenciasDeSaneamiento</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Incidencias_de_saneamiento}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IncidenciasDeSaneamiento</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Otros</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Otros}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Otros</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3OtrosConsultas</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Otros_consultas}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OtrasConsultas</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Producto</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Producto}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Producto</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3RecibosYAdministracion</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Recibos_y_administraci_n}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RecibosyAdministracion</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3SaldoMediador</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Saldo_mediador}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SaldoMediador</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3SaldoRN</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Saldo_RN}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SaldoRN</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Siniestros</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Siniestros}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Siniestros</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Sistemas</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Sistemas}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Sistemas</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3Tarifa</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Tarifa}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Tarifa</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeN3UsoSaldoCarDirectorTerritorial</name>
        <choiceText>{!$Label.SDM_EquiposMercado_TypeN3Uso_saldo_CAR_Director_Territorial}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UsosaldoCARDirectorTerritorial</elementReference>
        </value>
    </choices>
    <constants>
        <name>ActividadComercial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Actividad comercial</stringValue>
        </value>
    </constants>
    <constants>
        <name>Asignado1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>enrique.benagesleon@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>Asignado2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>laura.blanco.tomas@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>Asignado3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>j.iglesiassanmartin@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>Asignado4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>arlet.oliveras.ameneyros@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>CodigoDeNegocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Código de negocio</stringValue>
        </value>
    </constants>
    <constants>
        <name>Comunicaciones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Comunicaciones</stringValue>
        </value>
    </constants>
    <constants>
        <name>Conectividad</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Conectividad</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConsultaCARCarteraDescuentosrenovacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulta CAR Cartera/Descuentos renovación</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConsultaMotivoSaneamiento</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulta motivo saneamiento</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConsultaPrimaDeRenovacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulta prima de renovación</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConsultaReemplazo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulta reemplazo</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contratacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contratación</stringValue>
        </value>
    </constants>
    <constants>
        <name>Documentacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentación</stringValue>
        </value>
    </constants>
    <constants>
        <name>Expats</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expats</stringValue>
        </value>
    </constants>
    <constants>
        <name>GestionCompetencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión competencias</stringValue>
        </value>
    </constants>
    <constants>
        <name>GestionDeCartera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión de cartera</stringValue>
        </value>
    </constants>
    <constants>
        <name>GestionNegocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión negocio</stringValue>
        </value>
    </constants>
    <constants>
        <name>IncidenciasCartera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incidencias cartera</stringValue>
        </value>
    </constants>
    <constants>
        <name>IncidenciasDeSaneamiento</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incidencias de saneamiento</stringValue>
        </value>
    </constants>
    <constants>
        <name>Mejora</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mejora</stringValue>
        </value>
    </constants>
    <constants>
        <name>OtrasConsultas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otras consultas</stringValue>
        </value>
    </constants>
    <constants>
        <name>Otros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <constants>
        <name>PeticionMercado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Petición Mercado</stringValue>
        </value>
    </constants>
    <constants>
        <name>Producto</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Producto</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecibosyAdministracion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibos y administración</stringValue>
        </value>
    </constants>
    <constants>
        <name>SaldoMediador</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Saldo mediador</stringValue>
        </value>
    </constants>
    <constants>
        <name>SaldoRN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Saldo RN</stringValue>
        </value>
    </constants>
    <constants>
        <name>Saneamiento</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Saneamiento</stringValue>
        </value>
    </constants>
    <constants>
        <name>Siniestros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Siniestros</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sistemas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sistemas</stringValue>
        </value>
    </constants>
    <constants>
        <description>Valor de picklist Type N2 del objeto case</description>
        <name>Suscripcion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Suscripción</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tarifa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tarifa</stringValue>
        </value>
    </constants>
    <constants>
        <name>UsosaldoCARDirectorTerritorial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Uso saldo CAR Director Territorial</stringValue>
        </value>
    </constants>
    <decisions>
        <name>A_quien_se_asigna_el_caso</name>
        <label>A quien se asigna el caso</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Obtener_record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asignado_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Suscripcion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Saneamiento</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ramo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informar_asignado_1</targetReference>
            </connector>
            <label>Asignado 1</label>
        </rules>
        <rules>
            <name>Asignado_2</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Suscripcion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Saneamiento</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ramo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Motor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informar_asignado_2</targetReference>
            </connector>
            <label>Asignado 2</label>
        </rules>
        <rules>
            <name>Asignado_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Suscripcion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ramo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pymes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informar_asignado_3</targetReference>
            </connector>
            <label>Asignado 3</label>
        </rules>
        <rules>
            <name>Asignado_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Mejora</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informar_asignado_4</targetReference>
            </connector>
            <label>Asignado 4</label>
        </rules>
        <rules>
            <name>Asignado_5</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2Saneamiento</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ramo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pymes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeN2GestionDeNegocio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informar_asignado_DZ</targetReference>
            </connector>
            <label>Asignado 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdjuntarFichero</name>
        <label>Adjuntar?</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Mensaje_caso_creado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adjuntar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjuntar_fichero</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_recordId</name>
        <label>Existe recordId</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Introducir_mediador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_cuenta</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FrecuenciaTareaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaskFrequency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HerramientasPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UsedTools__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MesCarteraPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PortfolioMonth__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Polizas_mediador_seleccionado</name>
        <dataType>String</dataType>
        <displayField>ProductBranch__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Policy__c</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductGroupPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductGroup__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PuntualRecurrentePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OneTimeOrRecurring__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RamoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Range__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TiempoTareaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaskExecutionTime__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),01,01)</expression>
    </formulas>
    <formulas>
        <name>Nuevo_caso_link_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Crear_caso}</expression>
    </formulas>
    <formulas>
        <name>PrImerDiaMesActual</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 1)</expression>
    </formulas>
    <formulas>
        <name>SiniestralidadFormula</name>
        <dataType>Number</dataType>
        <expression>{!SumTotalLoad} / {!SumIncome}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TypeN3Formula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!TemaEspecificoGestionNegocio})), {!TemaEspecificoGestionNegocio}, (IF(NOT(ISBLANK({!TemaEspecificoMejora})), {!TemaEspecificoMejora}, (IF(NOT(ISBLANK({!TemaEspecificoSuscripcion})), {!TemaEspecificoSuscripcion}, IF(NOT(ISBLANK({!TemaEspecificoSaneamiento})), {!TemaEspecificoSaneamiento}, NULL))))))</expression>
    </formulas>
    <formulas>
        <name>UltimoDiaMesActual</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 12,
DATE(YEAR(TODAY()),12,31),
DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Formulario peticiones equipos de mercado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formulario peticiones equipos de mercado</label>
    <loops>
        <name>Totales_KPI</name>
        <label>Totales KPI</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <collectionReference>Obtener_KPI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_totales</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_DZ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_caso</name>
        <label>Crear caso</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Obtener_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_cuenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdditionalBusinessExpectation__c</field>
            <value>
                <elementReference>Expectativa_negocio_adicional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <elementReference>EmailAsignado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessVolume__c</field>
            <value>
                <elementReference>Volumen_de_negocio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimRate__c</field>
            <value>
                <elementReference>Siniestralidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetPremiumRating__c</field>
            <value>
                <elementReference>Prima</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OneTimeOrRecurring__c</field>
            <value>
                <elementReference>Puntual_o_recurrente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyId__c</field>
            <value>
                <elementReference>Buscar_poliza_Flow.PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyNum__c</field>
            <value>
                <elementReference>Numero_de_poliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortfolioMonth__c</field>
            <value>
                <elementReference>Mes_cartera</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortfolioYear__c</field>
            <value>
                <elementReference>A_o_Cartera</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductGroup__c</field>
            <value>
                <elementReference>ProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Range__c</field>
            <value>
                <elementReference>Ramo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskExecutionTime__c</field>
            <value>
                <elementReference>Cuanto_tiempo_te_implica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskFrequency__c</field>
            <value>
                <elementReference>Cada_cuanto_tiempo_ejecutas_esta_tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>PeticionMercado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeN3__c</field>
            <value>
                <elementReference>TypeN3Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedTools__c</field>
            <value>
                <elementReference>Que_herramienta_utilizas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZoneDirector__c</field>
            <value>
                <elementReference>Obtener_DZ.User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdjuntarFichero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_caso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cuenta</name>
        <label>Obtener cuenta</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_KPI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_DZ</name>
        <label>Obtener DZ</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Introducir_poliza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Director Zona</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_KPI</name>
        <label>Obtener KPI</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Totales_KPI</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND ((6 AND 7) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Temporalidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YTD</stringValue>
            </value>
        </filters>
        <filters>
            <field>EstructuraUnificada__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RESTO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intermediary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FechaCalculo__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>CalcMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </filters>
        <filters>
            <field>FechaCalculo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PrImerDiaMesActual</elementReference>
            </value>
        </filters>
        <filters>
            <field>FechaCalculo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>UltimoDiaMesActual</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KPI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_record_Type_Id</name>
        <label>Obtener record Type Id</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDMMarketTeamRequests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adjuntar_fichero</name>
        <label>Adjuntar fichero</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mensaje_caso_creado</targetReference>
        </connector>
        <fields>
            <name>AdjuntarArchivos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adjuntar archivos  (Tamaño máximo 2 GB):</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Crear_caso</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MostrarArchivosAdjuntos</name>
            <fieldText>&lt;p&gt;Archivos adjuntos:&lt;/p&gt;&lt;p&gt;{!AdjuntarArchivos.fileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdjuntarArchivos.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Datos_peticion</name>
        <label>Datos petición</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A_quien_se_asigna_el_caso</targetReference>
        </connector>
        <fields>
            <name>Mediador</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mediador</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Obtener_cuenta.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_de_poliza</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Introduce_el_numero_de_poliza</elementReference>
            </defaultValue>
            <fieldText>Número de póliza</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Intoduce el número de póliza y pulsa el botón &apos;Buscar póliza&apos;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Saneamiento</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Poliza_no_existe</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: var(--custom-palette-color,inherit); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;⚠️&lt;/em&gt;&lt;strong style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;¡Aviso!&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; No hemos encontrado el número de póliza en el MAC. Por favor, continúa proporcionando la información necesaria.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buscar_poliza_Flow.Poliza_encontrada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Poliza_existe</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;✅&lt;/span&gt;&lt;strong style=&quot;color: rgb(16, 179, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;¡Aviso!&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(16, 179, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; Hemos encontrado correctamente el número de póliza en el MAC.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buscar_poliza_Flow.Poliza_encontrada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Producto_invalido</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(200, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/em&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;⚠️&lt;/em&gt;&lt;strong style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;¡Aviso!&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; No coincide el ramo del producto &lt;/em&gt;&lt;span style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/span&gt;&lt;em style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Buscar_poliza_Flow.ProductGroupValorInvalido}&lt;/em&gt;&lt;span style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;)&lt;/span&gt;&lt;strong style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(200, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;con las opciones disponibles. Por favor, elige la mejor opción disponible.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buscar_poliza_Flow.ProductGroupValido</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_poliza_Flow.Poliza_encontrada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ramo</name>
            <choiceReferences>RamoPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Buscar_poliza_Flow.Ramo</elementReference>
            </defaultValue>
            <fieldText>Ramo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Saneamiento</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductGroup</name>
            <choiceReferences>ProductGroupPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Buscar_poliza_Flow.ProductGroup</elementReference>
            </defaultValue>
            <fieldText>Producto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prima</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Buscar_poliza_Flow.Prima</elementReference>
            </defaultValue>
            <fieldText>Prima</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mes_cartera</name>
            <choiceReferences>MesCarteraPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mes cartera</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>A_o_Cartera</name>
            <dataType>String</dataType>
            <fieldText>Año Cartera</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;El valor introducido debe ser un año&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!A_o_Cartera}) &amp;&amp; VALUE({!A_o_Cartera}) &gt; 2000 &amp;&amp; VALUE({!A_o_Cartera}) &lt; 2050</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Descripcion</name>
            <fieldText>Descripción de la petición</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Saneamiento</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Volumen_de_negocio</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SumCartera</elementReference>
            </defaultValue>
            <fieldText>Volumen de negocio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Siniestralidad</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SiniestralidadFormula</elementReference>
            </defaultValue>
            <fieldText>Siniestralidad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Este valor es un porcentaje, debe estar entre 0 y 100&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Siniestralidad}&gt;=0, {!Siniestralidad}&lt;=100)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expectativa_negocio_adicional</name>
            <dataType>Currency</dataType>
            <fieldText>Expectativa negocio adicional</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Descripci_n_propuesta_mejora</name>
            <fieldText>Descripción propuesta mejora</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Puntual_o_recurrente</name>
            <choiceReferences>PuntualRecurrentePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Puntual o recurrente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Que_herramienta_utilizas</name>
            <choiceReferences>HerramientasPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Qué herramienta utilizas?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cada_cuanto_tiempo_ejecutas_esta_tarea</name>
            <choiceReferences>FrecuenciaTareaPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Cada cuánto tiempo ejecutas esta tarea?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cuanto_tiempo_te_implica</name>
            <choiceReferences>TiempoTareaPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Cuánto tiempo te implica?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Adjuntar</name>
            <dataType>Boolean</dataType>
            <fieldText>Adjuntar archivos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Introducir_mediador</name>
        <label>Introducir mediador</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asignar_mediador</targetReference>
        </connector>
        <fields>
            <name>MediadorManual</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mediador</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Introducir_poliza</name>
        <label>Introducir póliza</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buscar_poliza_Flow</targetReference>
        </connector>
        <fields>
            <name>Introduce_el_numero_de_poliza</name>
            <dataType>String</dataType>
            <fieldText>Introduce el número de póliza</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mensaje_caso_creado</name>
        <label>Mensaje caso creado</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto_mensaje</name>
            <fieldText>&lt;p&gt;{!Plantilla_mensaje_caso_creado}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tema_peticion</name>
        <label>Tema petición</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existe_recordId</targetReference>
        </connector>
        <fields>
            <name>TemaEspecificoSuscripcion</name>
            <choiceReferences>TypeN3ConsultaReemplazo</choiceReferences>
            <choiceReferences>TypeN3SaldoRN</choiceReferences>
            <choiceReferences>TypeN3SaldoMediador</choiceReferences>
            <choiceReferences>TypeN3UsoSaldoCarDirectorTerritorial</choiceReferences>
            <choiceReferences>TypeN3ConsultaCarCarteraDescuentosRenovacion</choiceReferences>
            <choiceReferences>TypeN3ConsultaPrimaDeRenovacion</choiceReferences>
            <choiceReferences>TypeN3IncidenciasCartera</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione el tema específico de la petición</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Suscripcion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TemaEspecificoSaneamiento</name>
            <choiceReferences>TypeN3ConsultaMotivoSaneamiento</choiceReferences>
            <choiceReferences>TypeN3IncidenciasDeSaneamiento</choiceReferences>
            <choiceReferences>TypeN3OtrosConsultas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione el tema específico de la petición</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Saneamiento</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TemaEspecificoGestionNegocio</name>
            <choiceReferences>TypeN3Documentacion</choiceReferences>
            <choiceReferences>TypeN3CodigoDeNegocio</choiceReferences>
            <choiceReferences>TypeN3Producto</choiceReferences>
            <choiceReferences>TypeN3Tarifa</choiceReferences>
            <choiceReferences>TypeN3Conectividad</choiceReferences>
            <choiceReferences>TypeN3Expats</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione el tema específico de la petición</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2GestionDeNegocio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TemaEspecificoMejora</name>
            <choiceReferences>TypeN3ActividadComercial</choiceReferences>
            <choiceReferences>TypeN3Comunicaciones</choiceReferences>
            <choiceReferences>TypeN3Contratacion</choiceReferences>
            <choiceReferences>TypeN3GestionDeCartera</choiceReferences>
            <choiceReferences>TypeN3RecibosYAdministracion</choiceReferences>
            <choiceReferences>TypeN3Siniestros</choiceReferences>
            <choiceReferences>TypeN3Sistemas</choiceReferences>
            <choiceReferences>TypeN3Otros</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione el tema específico de la petición</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TypeN2Mejora</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tipo_de_petici_n_o_consulta</name>
        <label>Tipo de petición o consulta</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tema_peticion</targetReference>
        </connector>
        <fields>
            <name>Elige_el_tipo_de_petici_n_o_consulta_que_quieres_realizar</name>
            <choiceReferences>TypeN2Suscripcion</choiceReferences>
            <choiceReferences>TypeN2Saneamiento</choiceReferences>
            <choiceReferences>TypeN2GestionDeNegocio</choiceReferences>
            <choiceReferences>TypeN2Mejora</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Elige el tipo de petición o consulta que quieres realizar</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_petici_n_o_consulta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buscar_poliza_Flow</name>
        <label>Buscar póliza Flow</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Datos_peticion</targetReference>
        </connector>
        <flowName>Buscar_poliza_peticiones_equipos_de_mercado</flowName>
        <inputAssignments>
            <name>NumeroDePoliza</name>
            <value>
                <elementReference>Introduce_el_numero_de_poliza</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AbrirCasoMismaPagina</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!Nuevo_caso_link_formula}&quot; target=&quot;_self&quot;&gt;aquí&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Plantilla_mensaje_caso_creado</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Petición enviada&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;Tu petición ha sido creada con número &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;{!Obtener_Caso.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;En breve, se pondrán en contacto contigo&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAsignado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SumCartera</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SumIncome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumTotalLoad</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
