force-app/zurich-base/main/default/flows/GenesysCloudEmailRouter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ZE Email Route</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Enrutar a Zurich Empresas</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ZEEmailRoute</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>EmailMessage</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>FlowId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>FlowId</name>
            <value>
                <elementReference>formula_2_myRule_1_A1_4979469791</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Scope</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Scope</name>
            <value>
                <elementReference>formula_3_myRule_1_A1_6441680745</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CSM - Enrutamiento de correos electrónicos</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Enrutar a Mediadores</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>CSMEmailRoute</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>EmailMessage</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CCS - Enrutamiento de correos electrónicos</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Enrutar a Customers</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>CCSEmailRoute</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>EmailMessage</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Email ZE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Email CSM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Email CCS</label>
        </rules>
    </decisions>
    <description>Orquesta el enrutamiento de correos electrónicos en Genesys Cloud</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS([EmailMessage].ToAddress , $CustomMetadata.AdminSetupParameter__mdt.ZEOInboundEmailAddress.Value__c ), $CustomMetadata.AdminSetupParameter__mdt.ZEOGenesysCloudFlowId.Value__c , $CustomMetadata.AdminSetupParameter__mdt.ZEGenesysCloudFlowId.Value__c  ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4979469791</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!myVariable_current.ToAddress} , {!$CustomMetadata.AdminSetupParameter__mdt.ZEOInboundEmailAddress.Value__c} ), {!$CustomMetadata.AdminSetupParameter__mdt.ZEOGenesysCloudFlowId.Value__c} , {!$CustomMetadata.AdminSetupParameter__mdt.ZEGenesysCloudFlowId.Value__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS([EmailMessage].ToAddress , $CustomMetadata.AdminSetupParameter__mdt.ZEOInboundEmailAddress.Value__c ) ,  $CustomMetadata.Scope_Setting__mdt.ORANGEDIGITAL.Scope__c , $CustomMetadata.Scope_Setting__mdt.ZE.Scope__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_6441680745</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!myVariable_current.ToAddress} , {!$CustomMetadata.AdminSetupParameter__mdt.ZEOInboundEmailAddress.Value__c} ) ,  {!$CustomMetadata.Scope_Setting__mdt.ORANGEDIGITAL.Scope__c} , {!$CustomMetadata.Scope_Setting__mdt.ZE.Scope__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
   ISNEW(),
[EmailMessage].Incoming ,
ISBLANK([EmailMessage].ParentId )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
   ISNEW(),
{!myVariable_current.Incoming} ,
ISBLANK({!myVariable_current.ParentId} )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
	AND
	(
	   ISNEW(),
	   [EmailMessage].Incoming ,
	   NOT( ISBLANK( [EmailMessage].ParentId ) ),
	   OR
		(
			BEGINS([EmailMessage].ToAddress, &apos;administracion.&apos;),
			BEGINS([EmailMessage].ToAddress, &apos;particulares.&apos;)
		)
	),
	AND
	(
        NOT(ISNEW()),
		[EmailMessage].Incoming,
		ISBLANK( [EmailMessage].GenesysInteractionId__c ),
		NOT( ISBLANK( [EmailMessage].ParentId ) ),
        OR
		(
			BEGINS([EmailMessage].ToAddress, &apos;administracion.&apos;),
			BEGINS([EmailMessage].ToAddress, &apos;particulares.&apos;)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
	AND
	(
	   ISNEW(),
	   {!myVariable_current.Incoming} ,
	   NOT( ISBLANK( {!myVariable_current.ParentId} ) ),
	   OR
		(
			BEGINS({!myVariable_current.ToAddress}, &apos;administracion.&apos;),
			BEGINS({!myVariable_current.ToAddress}, &apos;particulares.&apos;)
		)
	),
	AND
	( 
		NOT(ISNEW()),
		{!myVariable_current.Incoming} ,
		ISBLANK({!myVariable_current.GenesysInteractionId__c} ),
		NOT( ISBLANK( {!myVariable_current.ParentId} ) ),
        OR
		(
			BEGINS({!myVariable_current.ToAddress}, &apos;administracion.&apos;),
			BEGINS({!myVariable_current.ToAddress}, &apos;particulares.&apos;)
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
   ISNEW(),
   [EmailMessage].Incoming ,
   NOT( ISBLANK( [EmailMessage].ParentId ) ),
   OR
	(
		BEGINS([EmailMessage].ToAddress, &apos;cc.&apos;),
		BEGINS([EmailMessage].ToAddress, &apos;zurich&apos;),
		BEGINS([EmailMessage].ToAddress, &apos;seguroviajezurich&apos;),
		BEGINS([EmailMessage].ToAddress, &apos;w-sitedb&apos;),
		BEGINS([EmailMessage].ToAddress, &apos;contact.center&apos;)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
   ISNEW(),
   {!myVariable_current.Incoming} ,
   NOT( ISBLANK( {!myVariable_current.ParentId} ) ),
   OR
	(
		BEGINS({!myVariable_current.ToAddress}, &apos;cc.&apos;),
		BEGINS({!myVariable_current.ToAddress}, &apos;zurich&apos;),
		BEGINS({!myVariable_current.ToAddress}, &apos;seguroviajezurich&apos;),
		BEGINS({!myVariable_current.ToAddress}, &apos;w-sitedb&apos;),
		BEGINS({!myVariable_current.ToAddress}, &apos;contact.center&apos;)
	)
)</expression>
    </formulas>
    <interviewLabel>GenesysCloudEmailRouter-12_InterviewLabel</interviewLabel>
    <label>Enrutamiento de emails en Genesys Cloud</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
