force-app/zurich-base/main/default/flows/New_Campaign_Member_Status_Creation_2023.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>New Campaign Member Status Creation 2023 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Campaign Member Status Creation 2023</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Agrega el estatus Suscrito a CampaingMemberStatus</description>
        <name>createCampaignMemberStatus</name>
        <label>createCampaignMemberStatus</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>createCampaignMemberStatusError</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>var_StatusSuscrito</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordCreates>
        <description>Registra error</description>
        <name>createCampaignMemberStatusError</name>
        <label>createCampaignMemberStatusError</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>var_StatusError</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createCampaignMemberStatus</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Captura error</description>
        <name>var_StatusError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </variables>
    <variables>
        <description>Agrega el valor Suscrito</description>
        <name>var_StatusSuscrito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Suscrito</stringValue>
        </value>
    </variables>
    <variables>
        <description>Recoge el Id de la campaña</description>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
