force-app/zurich-base/main/default/flows/Offer_Trigger_Before_Insert_Update_Informar_Intermediary_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A_adir_OTM_a_lista</name>
        <label>Añadir OTM a lista</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OTM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ATMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_OTM</name>
        <label>Crear OTM</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>OTM.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATMs.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATMs.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adir_OTM_a_lista</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_mediador</name>
        <label>¿Es mediador?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Set_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IntermediaryId__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>idRecordTypeIntermediary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_OTMs</name>
        <label>¿Existen OTMs?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Tiene_Intermediary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_OTMs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_Opportunity_Team</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Intermediary</name>
        <label>¿Tiene Intermediary?</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Delete_Intermediary_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IntermediaryId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_mediador</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>idRecordTypeIntermediary</name>
        <dataType>String</dataType>
        <expression>IF({!$Organization.Id}={!$CustomMetadata.Global_Configuration__mdt.Instances_Id.Value__c},{!$CustomMetadata.Global_Configuration__mdt.Account_RecordType_Intermediary_Id.Value__c}, 
IF({!$Organization.Id}={!$CustomMetadata.Global_Configuration__mdt.Instances_Id.Uat_Value__c}, {!$CustomMetadata.Global_Configuration__mdt.Account_RecordType_Intermediary_Id.Uat_Value__c}, 
IF({!$Organization.Id}={!$CustomMetadata.Global_Configuration__mdt.Instances_Id.Staging_Value__c}, {!$CustomMetadata.Global_Configuration__mdt.Account_RecordType_Intermediary_Id.Staging_Value__c}, 
{!$CustomMetadata.Global_Configuration__mdt.Account_RecordType_Intermediary_Id.Dev_Value__c})
)
)</expression>
    </formulas>
    <interviewLabel>Offer Trigger - Before Insert/Update - Informar Intermediary Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer Trigger - After Insert/Update - SDM</label>
    <loops>
        <name>ATMs</name>
        <label>ATMs</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <collectionReference>Obtener_ATMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_OTM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Opportunity_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Opportunity_Team_Members</name>
        <label>Crear Opportunity Team Members</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <inputReference>OpportunityTeamMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Opportunity_Team</name>
        <label>Eliminar Opportunity Team</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Tiene_Intermediary</targetReference>
        </connector>
        <inputReference>Obtener_OTMs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Obtener_ATMs</name>
        <label>Obtener ATMs</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_OTMs</name>
        <label>Obtener OTMs</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_OTMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Delete_Intermediary_Group</name>
        <label>Delete Intermediary Group</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Intermediary_Group__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Obtener_ATMs</targetReference>
        </connector>
        <inputAssignments>
            <field>Intermediary_Group__c</field>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_Account</name>
        <label>Set Parent Account</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Obtener_ATMs</targetReference>
        </connector>
        <inputAssignments>
            <field>Intermediary_Group__c</field>
            <value>
                <elementReference>$Record.IntermediaryId__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_OTMs</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Intermediary_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
