force-app/zurich-base/main/default/flows/PolicyTriggerAfterUpdateRenovacionPolizaCasoRetencion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Edit_Case</name>
        <label>Edit Case</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_latest_ZRM_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cerrado Ganado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_latest_ZRM_Case.UpdatedInsuranceCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalPremium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_latest_ZRM_Case.ClientDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId_to_Get_Contact_Id</name>
        <label>Set ContactId to Get_Contact.Id</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scope</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId_to_PersonContactId</name>
        <label>Set ContactId to PersonContactId</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PolicyHolder__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scope</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>policyholder_person_account</name>
        <label>policyholder = person account?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>policyholder_person_account_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PolicyHolder__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyHolder__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContactId_to_PersonContactId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ZRM_Case_is_null</name>
        <label>ZRM Case is null?</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Edit_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_latest_ZRM_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>policyholder_person_account</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <description>Controla la renovación de la póliza cuando el movimiento de cartera es de tipo 778. Actualizando el caso de retención en vigor existente o creando uno nuevo.</description>
    <environments>Default</environments>
    <formulas>
        <name>PolicyEndDate2MonthLess</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record__Prior.EndDate__c},-2)</expression>
    </formulas>
    <formulas>
        <name>PolicyEndDate2MonthMore</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record__Prior.EndDate__c},2)</expression>
    </formulas>
    <interviewLabel>Policy Trigger - After update - renovación póliza  caso retención {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Trigger - After update - renovación póliza  caso retención</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_ZRMInquiry</name>
        <label>Create Case (ZRMInquiry)</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_errror</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.PolicyHolder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientDiscount__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientHasContacted__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IntermediaryOwner__c</field>
            <value>
                <stringValue>Agente mediador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IntermediaryVisibilityAcc__c</field>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ZRM_Inquiry_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado Ganado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Get_Scope.PrimaryEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Scope.PrimaryPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedInsuranceCost__c</field>
            <value>
                <elementReference>$Record.TotalPremium__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_errror</name>
        <label>Create errror</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Policy Trigger - After update - renovación póliza  caso retención</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactId_to_Get_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_errror</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PolicyHolder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_ZRM_Case</name>
        <label>Get latest ZRM Case</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ZRM_Case_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PolicyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ZRM_Inquiry_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PolicyEndDate2MonthLess</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>PolicyEndDate2MonthMore</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scope</name>
        <label>Get Scope</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_ZRMInquiry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_errror</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scope__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Z</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PolicyHolder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ZRM_Inquiry_Record_Type</name>
        <label>Get ZRM Inquiry Record Type</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_latest_ZRM_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZRMInquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Create_errror</targetReference>
        </faultConnector>
        <inputReference>Get_latest_ZRM_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ZRM_Inquiry_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MovementReasonCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>778</stringValue>
            </value>
        </filters>
        <filters>
            <field>MovementReasonCode__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
