force-app/zurich-base/main/default/flows/PolicyTriggerAfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddCurentCaseToCasesToUpdate</name>
        <label>Add Curent Case To CasesToUpdate</label>
        <locationX>556</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>casesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>casesLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>casesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>policyAssignment</name>
        <label>Policy Assignment</label>
        <locationX>556</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>casesLoop.PolicyId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uspSalesDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stageWonAssignment</name>
        <label>Stage Won</label>
        <locationX>292</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>casesLoop.QuotationStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurentCaseToCasesToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>statusStageAssignment</name>
        <label>Status Stage Assignment</label>
        <locationX>556</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>casesLoop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesLoop.CloseResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesLoop.QuotationStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesLoop.ClosedByMediator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurentCaseToCasesToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateCustomerOffer</name>
        <label>Update Customer Offer</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PolicyHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.ResultingPolicyNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MovementStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.ProductId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.TotalPremium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalPremium__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOfferAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna a Opportunity.StageName el valor Closed won y se copia el Name (Policy number) de la póliza a Oppotuniy.ResultingPolicyNumber__c.</description>
        <name>updateOfferClosedWonAssignment</name>
        <label>Update Offer Closed Won</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.isUpdatedFromINFO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOfferAction.ResultingPolicyNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomerDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>nullCasesDecision</name>
        <label>Null Cases</label>
        <locationX>468</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>notNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUSPSalesCasesLast30DaysAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>casesLoop</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedOfferNullDecision</name>
        <label>¿Related Offer Null?</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Intermediary_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Offer Null</defaultConnectorLabel>
        <rules>
            <name>NotNullGetOfferDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedOfferAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOfferClosedWonAssignment</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateCustomerDecision</name>
        <label>Update Customer</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>updateOfferAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Update</defaultConnectorLabel>
        <rules>
            <name>updateOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedOfferAction.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyHolder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCustomerOffer</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>uspSalesDecision</name>
        <label>USP Sales</label>
        <locationX>556</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>AddCurentCaseToCasesToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>statusClosedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>casesLoop.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stageWonAssignment</targetReference>
            </connector>
            <label>Status Closed</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesLoop.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USPInquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>casesLoop.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusStageAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Añadir la actualización del campo Intermediary_Name__c de account con el valor de mediador que llega desde la póliza</description>
    <environments>Default</environments>
    <formulas>
        <name>timeSearch</name>
        <dataType>Date</dataType>
        <expression>TODAY()-VALUE({!getMetadataDaysAction.Value__c})</expression>
    </formulas>
    <interviewLabel>Póliza Trigger - After insert/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Trigger - After insert/update - Complete Offer and Policy</label>
    <loops>
        <name>casesLoop</name>
        <label>Cases Loop</label>
        <locationX>204</locationX>
        <locationY>1811</locationY>
        <collectionReference>getUSPSalesCasesLast30DaysAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>policyAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCaseAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createRecordGetCasesErrorAction</name>
        <label>Create Record Get Cases Error Action</label>
        <locationX>996</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Policy Trigger - After insert/update - Offer - Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar Casos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecordGetMetadataErrorAction</name>
        <label>Create Record Get Metadata Error Action</label>
        <locationX>1260</locationX>
        <locationY>1595</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Policy Trigger - After insert/update - Offer - Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar metadato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecordUpdateCasesErrorAction</name>
        <label>Create Record Update Cases Error Action</label>
        <locationX>468</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Policy Trigger - After insert/update - Offer - Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Actualizar Casos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Deja un registro con el error producido</description>
        <name>createRecordUpdateOfferErrorAction</name>
        <label>Create Record Update Offer Error Action</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Policy Trigger - After insert/update - Offer - Case</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Este metadato se usa para establecer los dias sobre los que se tienen en cuenta los casos</description>
        <name>getMetadataDaysAction</name>
        <label>Get Metadata Days</label>
        <locationX>468</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUSPSalesCasesLast30DaysAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createRecordGetMetadataErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USPLinkPolicyCaseDaysRetrieval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdminSetupParameter__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Ofertas cuyo Opportunity.Id sea igual al Policy__c.OpportunityName__c y cuyo Opportunity.StageName NO sea Closed Won</description>
        <name>getRelatedOfferAction</name>
        <label>Get Related Offer</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedOfferNullDecision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createRecordUpdateOfferErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUSPSalesCasesLast30DaysAction</name>
        <label>Get USP Sales Cases Last 30 Days</label>
        <locationX>468</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nullCasesDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createRecordGetCasesErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>timeSearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedOffer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InfoQuoteNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el campo Intermediary_Name__c de Account para vincularlo con el ultimo que ha vendido una póliza a este cliente</description>
        <name>Update_Intermediary_Name</name>
        <label>Update Intermediary Name</label>
        <locationX>468</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>getMetadataDaysAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PolicyHolder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intermediary_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intermediary_Name__c</field>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseAction</name>
        <label>Update Case</label>
        <locationX>204</locationX>
        <locationY>2519</locationY>
        <faultConnector>
            <targetReference>createRecordUpdateCasesErrorAction</targetReference>
        </faultConnector>
        <inputReference>casesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza los registros de ofertas con su nuevo Stage</description>
        <name>updateOfferAction</name>
        <label>Update Offer</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Intermediary_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createRecordUpdateOfferErrorAction</targetReference>
        </faultConnector>
        <inputReference>getRelatedOfferAction</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedOfferAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>casesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
