force-app/zurich-base/main/default/flows/PolicyTriggerAfterUpdateCancelPolicy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Setear el motivo de pérdida venta con el valor &quot;Póliza Anulada&quot;</description>
        <name>Set_Motivo_P_rdida_Venta</name>
        <label>Set Motivo Pérdida Venta</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOfferAction.Sales_Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled Policy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOfferAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOfferClosedLostAssignment</name>
        <label>Cambiar Oferta a Closed Lost</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOfferAction.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_Ventas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckPreviousStatusDecision</name>
        <label>Verificar si antes estaba en vigor</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WasValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PolicyStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PolicyStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedOfferAction</targetReference>
            </connector>
            <label>Estaba en vigor</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la póliza está asignada a una oferta cuyo owner sea un usuario de Venta</description>
        <name>Es_Ventas</name>
        <label>Es Ventas</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>UpdateOfferAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZRM_CC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOfferAction.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ventas User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOfferAction.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente Ventas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Motivo_P_rdida_Venta</targetReference>
            </connector>
            <label>ZRM/CC</label>
        </rules>
    </decisions>
    <description>[Ventas] Setear el motivo de pérdida con valor &quot;Póliza Anulada&quot; si la oferta pertenece a un Usuario CC o ZRM</description>
    <environments>Default</environments>
    <interviewLabel>Póliza Trigger - After update - Anular Póliza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Póliza Trigger - After update - Anular Póliza</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Se inserta un registro de log de errores en el sistema.</description>
        <name>CreateErrorLogAction</name>
        <label>Registrar Error</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Póliza Trigger - After update - Anular Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRelatedOfferAction</name>
        <label>Conseguir Oferta Relacionada</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOfferClosedLostAssignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateErrorLogAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityName__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOfferAction</name>
        <label>Actualizar Oferta</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>CreateErrorLogAction</targetReference>
        </faultConnector>
        <inputReference>GetRelatedOfferAction</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckPreviousStatusDecision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PolicyStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1700</triggerOrder>
</Flow>
