force-app/zurich-base/main/default/flows/PolicyTriggerAfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Actualizar_cliente_oferta</name>
        <label>Actualizar cliente oferta</label>
        <locationX>725</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOffer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PolicyHolder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOffer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna a Opportunity.StageName el valor Closed won y se copia el Name (Policy number) de la póliza a Oppotuniy.ResultingPolicyNumber__c.</description>
        <name>UpdateOfferClosedWon</name>
        <label>Actualizar oferta vinculada</label>
        <locationX>175</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOffer.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOffer.isUpdatedFromINFO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOffer.ResultingPolicyNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_cliente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actualizar_cliente</name>
        <label>Actualizar cliente?</label>
        <locationX>428</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>UpdateOffer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOffer.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyHolder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_cliente_oferta</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Automatismo que cada vez que se inserta o actualiza una póliza se actualiza la etapa de la oferta relacionada</description>
    <interviewLabel>Póliza Trigger - After insert/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Póliza Trigger - After insert/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Deja un registro con el error producido</description>
        <name>LogError</name>
        <label>Registrar error</label>
        <locationX>423</locationX>
        <locationY>345</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>PolicyTriggerAfterFlow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Ofertas cuyo Opportunity.Id sea igual al Policy__c.OpportunityName__c y cuyo Opportunity.StageName NO sea Closed Won</description>
        <name>GetRelatedOffer</name>
        <label>Conseguir Oferta Relacionada</label>
        <locationX>177</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOfferClosedWon</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza los registros de ofertas con su nuevo Stage</description>
        <name>UpdateOffer</name>
        <label>Actualizar Oferta</label>
        <locationX>726</locationX>
        <locationY>353</locationY>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputReference>GetRelatedOffer</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>GetRelatedOffer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
