force-app/zurich-base/main/default/flows/RequestCaseDocumentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarEmailConEnlace</name>
        <label>Enviar email con enlace</label>
        <locationX>94</locationX>
        <locationY>1094</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RegistrarActividad</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HashURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InsertEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Adjunte documentación</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GenerarHashId</name>
        <label>Generar Hash Id</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <actionName>GenerateHashIdAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ActualizarDocumentationHashId</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>sms</stringValue>
        </value>
    </choices>
    <decisions>
        <name>OpcionSeleccionada</name>
        <label>Opción seleccionada?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpcionSeleccionadaEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertEmailScreen</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>OpcionSeleccionadaSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertPhoneScreen</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpcionSeleccionada_0</name>
        <label>Opción seleccionada?</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>RegistrarActividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpcionSeleccionadaEmail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarEmailConEnlace</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>OpcionSeleccionadaSMS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistrarActividad</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <formulas>
        <name>HashURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://devc-klinc.cs89.force.com/uploadcasedocs?Hash=&quot; + {!GenerarHashId.hashId}</expression>
    </formulas>
    <interviewLabel>Request Case Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Case Documentation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>RegistrarActividad</name>
        <label>Registrar Actividad</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Case documentation requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRelatedScope</name>
        <label>Get Related Scope</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotifyUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scope__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryEmail__c</queriedFields>
        <queriedFields>PrimaryPhone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarDocumentationHashId</name>
        <label>Actualizar Documentation Hash Id</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>OpcionSeleccionada_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentationHashId__c</field>
            <value>
                <elementReference>GenerarHashId.hashId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>InsertEmailScreen</name>
        <label>¿A qué dirección enviamos el enlace?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerarHashId</targetReference>
        </connector>
        <fields>
            <name>InsertEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetRelatedScope.PrimaryEmail__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InsertPhoneScreen</name>
        <label>¿A qué número de teléfono enviamos el SMS?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerarHashId</targetReference>
        </connector>
        <fields>
            <name>InsertPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetRelatedScope.PrimaryPhone__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotifyUser</name>
        <label>Selecciona como notificar el usuario</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OpcionSeleccionada</targetReference>
        </connector>
        <fields>
            <name>Options</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>SMS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opciones</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedScope</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
