force-app/zurich-base/main/default/flows/SDM_After_Insert_Seguimientos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Users_Id_To_Notify</name>
        <label>Get Users Id To Notify</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <actionName>GetUserIdToNotifyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listFollowUps</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Custome_Notification</name>
        <label>Send Custome Notification</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custome_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Seguimientos de tipo {!$Record.Type__c}  actualizados a {!Today}, ver detalles en la cuenta del código del mediador</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Seguimientos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;standard__objectPage&quot;,&quot;attributes&quot;: {&quot;objectApiName&quot;: &quot;FollowUp__c&quot;,&quot;actionName&quot;: &quot;list&quot;},&quot;state&quot;:{&quot;filterName&quot;:&quot;All&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_userId</name>
        <label>Add User Id</label>
        <locationX>270</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>userIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_not_null</name>
        <label>Is Not Null</label>
        <locationX>402</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Loop_Through</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_userId</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_not_null</name>
        <label>Recipients Not Null</label>
        <locationX>182</locationX>
        <locationY>1080</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Users_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custome_Notification</targetReference>
            </connector>
            <label>Users not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SDM After Insert Seguimientos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM After Insert Seguimientos</label>
    <loops>
        <name>Loop_Through</name>
        <label>Loop Through Users To Notify</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_Users_Id_To_Notify</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custome_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Follow_Ups</name>
        <label>Delete Follow Ups</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>FollowUp__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Custome_Notification</name>
        <label>Get Custome Notification</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipients_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SeguimientoCreated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users_Id_To_Notify</targetReference>
        </connector>
        <object>FollowUp__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Delete_Follow_Ups_1_Min_After_Created</name>
            <connector>
                <targetReference>Delete_Follow_Ups</targetReference>
            </connector>
            <label>Delete Follow Ups 1 Min After Created</label>
            <maxBatchSize>25</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
