force-app/zurich-base/main/default/flows/SDM_Objetivos_ExternalId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assingment</name>
        <label>Assingment</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Year_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Indicator_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Indicator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Segment_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_External_Id</targetReference>
        </connector>
    </assignments>
    <description>Setear/Actualizar el campo External Id de un Objetivo</description>
    <formulas>
        <name>ExternalId_Value</name>
        <dataType>String</dataType>
        <expression>{!Year_Value}&amp; &quot;-&quot; &amp;{!Indicator_Value}&amp; &quot;-&quot; &amp;{!Segment_Value}&amp; &quot;-&quot; &amp;{!Product_Value}</expression>
    </formulas>
    <interviewLabel>SDM-Objetivos-ExternalId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM-Objetivos-ExternalId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar el valor de ExternalId</description>
        <name>Update_External_Id</name>
        <label>Update External Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>ExternalId_Value</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assingment</targetReference>
        </connector>
        <object>Objective__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Indicator_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Indicator__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Product_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Product__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Segment_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Segment__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Year_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Year__c</elementReference>
        </value>
    </variables>
</Flow>
