force-app/zurich-base/main/default/flows/SetExternalRequestRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Asignar el tipo de registro de INFO</description>
        <name>set_InfoRecordType</name>
        <label>Asignar tipo de registro INFO</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_INFORecordtype.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Comprobar si el origen de la external request es INFO</description>
        <name>q_OrigenINFO</name>
        <label>¿ Origen INFO ?</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_q_OrigenINFO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>select_INFORecordtype</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Asignar a las external requests el tipo de registro correspondiente en base a su origen</description>
    <interviewLabel>Set External Request recordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set External Request recordType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener el tipo de registro de INFO</description>
        <name>select_INFORecordtype</name>
        <label>Obtener tipo de registro de INFO</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_InfoRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExternalRequest__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>q_OrigenINFO</targetReference>
        </connector>
        <object>ExternalRequest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
