force-app/zurich-base/main/default/flows/Survey_Trigger_Before_Insert_Completado_de_datos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Asignar_datos_adicionales</name>
        <label>Asignar datos adicionales</label>
        <locationX>578</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>$Record.DSRESULT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId__r.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NUTELF1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Scope_General.PrimaryPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NOPROVIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>codigoProvincia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NOPOBL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Direccion_postal.CityINECode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gestor_asignado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_gestor_interaccion</name>
        <label>Asignar gestor interaccion</label>
        <locationX>1212</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>$Record.CDUSUARI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_email_gestor.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_gestor_interaccion_0</name>
        <label>Asignar gestor interaccion</label>
        <locationX>1033</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.CDUSUARI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Caso_asociado</name>
        <label>Caso asociado?</label>
        <locationX>771</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Gestor_asignado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No asociado</defaultConnectorLabel>
        <rules>
            <name>Asociado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_asociada</targetReference>
            </connector>
            <label>Asociado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_asociada</name>
        <label>Cuenta asociada?</label>
        <locationX>573</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Asignar_datos_adicionales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No asociada</defaultConnectorLabel>
        <rules>
            <name>Asociada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Scope_General</targetReference>
            </connector>
            <label>Asociada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_solicitud</name>
        <label>Es solicitud</label>
        <locationX>769</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Obtener_cola_Genesys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Respuesta</defaultConnectorLabel>
        <rules>
            <name>Solicitud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solicitud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_asociado</targetReference>
            </connector>
            <label>Solicitud</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestor_asignado</name>
        <label>Gestor asignado?</label>
        <locationX>775</locationX>
        <locationY>915</locationY>
        <defaultConnectorLabel>Sin gestor</defaultConnectorLabel>
        <rules>
            <name>En_interaccion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDUSUARI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_email_gestor</targetReference>
            </connector>
            <label>En interacción</label>
        </rules>
        <rules>
            <name>En_caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_gestor_interaccion_0</targetReference>
            </connector>
            <label>En caso</label>
        </rules>
    </decisions>
    <formulas>
        <name>codigoProvincia</name>
        <dataType>String</dataType>
        <expression>LEFT({!Obtener_Direccion_postal.PostalCode},2)</expression>
    </formulas>
    <interviewLabel>Survey Trigger - Before Insert - Completado de datos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Trigger - Before Insert - Completado de datos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_cola_Genesys</name>
        <label>Obtener cola Genesys</label>
        <locationX>1017</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_datos_Interaccion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>purecloud__PureCloud_Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CallOriginQueueId__c</elementReference>
            </value>
        </filters>
        <object>purecloud__PureCloud_Queue__c</object>
        <outputAssignments>
            <assignToReference>$Record.GenesysCloudQueue__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_datos_Interaccion</name>
        <label>Obtener datos Interacción</label>
        <locationX>1017</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_asociado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallObject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InteractionId__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>$Record.TIPENT__c</assignToReference>
            <field>CallType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.NUTELCON__c</assignToReference>
            <field>DNISPhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.DSOBSER__c</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CDUSUARI</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Direccion_postal</name>
        <label>Obtener Dirección postal</label>
        <locationX>362</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_datos_adicionales</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Asignar_datos_adicionales</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScopeId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Scope_General.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CityINECode__c</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_email_gestor</name>
        <label>Obtener email gestor</label>
        <locationX>1036</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_gestor_interaccion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CDUSUARI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Scope_General</name>
        <label>Obtener Scope General</label>
        <locationX>370</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Direccion_postal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Asignar_datos_adicionales</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scope__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Z</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scope__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryPhone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Es_solicitud</targetReference>
        </connector>
        <object>Survey__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CDUSUARI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
