force-app/zurich-base/main/default/flows/TaskTriggerAfterUpdateWhatsAppInteractionContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Buscar_Tipo_de_sObject</name>
        <label>Buscar Tipo de sObject</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>FindObjectTypeById</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Comprobar_tipo_de_Objeto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sObject_Type</assignToReference>
            <name>objectType</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Comprobar_tipo_de_Objeto</name>
        <label>Comprobar tipo de Objeto</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transcripcion_0_0_0</targetReference>
            </connector>
            <label>Es Contact</label>
        </rules>
        <rules>
            <name>Es_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Contact_de_Person_Account</targetReference>
            </connector>
            <label>Es Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_WhoId_y_ha_cambiado</name>
        <label>Hay WhoId y ha cambiado</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_WhoId_y_ha_cambiado</name>
            <conditionLogic>3 OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GenesysCloudInteractionTranscript__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Tipo_de_sObject</targetReference>
            </connector>
            <label>Si hay WhoId y ha cambiado</label>
        </rules>
    </decisions>
    <description>Si cambia el Contacto de una Tarea, y esta tiene una Transcripción de Chat, se pasa esa relación de contacto a la Transcripción.</description>
    <interviewLabel>Task Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Trigger - After Update - WhatsApp Interaction Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Contact_de_Person_Account</name>
        <label>Buscar Contact de Person Account</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Transcripcion_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transcripcion_0_0_0</name>
        <label>Update Transcripción (Contact)</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GenesysCloudInteractionTranscript__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>purecloud__PureCloud_Chat_Transcript__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcripcion_Account</name>
        <label>Update Transcripción (Account)</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GenesysCloudInteractionTranscript__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Buscar_Contact_de_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Buscar_Contact_de_Person_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>purecloud__PureCloud_Chat_Transcript__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Hay_WhoId_y_ha_cambiado</targetReference>
        </connector>
        <filterLogic>(4 AND 1) OR (1 AND 2 AND 3)</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GenesysCloudInteractionTranscript__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GenesysCloudInteractionTranscript__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Tipo de objeto</description>
        <name>sObject_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
