force-app/zurich-base/main/default/flows/TaskTriggerBeforeUpdateCheckPermissionSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>No deja modificar el subject de la tarea</description>
        <name>SetTaskSubject</name>
        <label>Set Task Subject</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>ZE_Advisor</description>
        <name>ZEAdvisor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZE_Advisor</stringValue>
        </value>
    </constants>
    <decisions>
        <description>¿El usuario conectado tiene el PermissionSet ZE_Advisor?</description>
        <name>HasZEAdvisorPermissionSet</name>
        <label>Has ZE_Advisor Permission Set?</label>
        <locationX>396</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_Permission_Sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Permission_Sets.PermissionSetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ZEAdvisorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTaskSubject</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo que en función del PermissionSet permite actualizar el Subject de una tarea</description>
    <environments>Default</environments>
    <interviewLabel>Task Trigger - Before update - Check PermissionSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Trigger - Before Update - Check PermissionSet</label>
    <loops>
        <description>Se comprueban los Permission Sets</description>
        <name>Check_Permission_Sets</name>
        <label>Check Permission Sets</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>GetUserPermissionSetAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HasZEAdvisorPermissionSet</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtiene PermissionSet del ZE_Advisor</description>
        <name>GetAdvisorPermissionSet</name>
        <label>GetAdvisorPermissionSet</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserPermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZEAdvisor</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>ZEAdvisorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene los Permission Set Assignment del usuario</description>
        <name>GetUserPermissionSetAssignment</name>
        <label>GetUserPermissionSetAssignment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_Sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAdvisorPermissionSet</targetReference>
        </connector>
        <filterFormula>{!$Record.Subject}&lt;&gt;{!$Record__Prior.Subject}</filterFormula>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Guarda el Id del persmission set ZE_Advisor</description>
        <name>ZEAdvisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
