force-app/zurich-base/main/default/flows/Task_Trigger_Before_insert_update_Check_NLU_Typification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Activamos_el_flag</name>
        <label>Activamos el flag</label>
        <locationX>336</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.NLUTypificationFailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Desactivamos_el_flag</name>
        <label>Desactivamos el flag</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.NLUTypificationFailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Comprobamos si la tipificación que nos llega de la task tiene un registro en el metadato creado a tal efecto</description>
        <name>Hay_datos_de_tipificacion</name>
        <label>¿Hay datos de tipificacion?</label>
        <locationX>336</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Activamos_el_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hay_datos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NLUobtenido.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_task_related_to_a_case</name>
        <label>Is the task related to a case?</label>
        <locationX>501</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WhatId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Case_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Related_Case_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Typification_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la tipificación de la NLU coincide con la establecida por el agente al crear el caso</description>
        <name>La_tipificaci_n_es_correcta</name>
        <label>¿La tipificación es correcta?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Activamos_el_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NLUobtenido.Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NLUobtenido.Subtype__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case.TypeN3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NLUobtenido.TypeN3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desactivamos_el_flag</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo que comprueba que la tipificación de la tarea ha sido correcta o no en función del caso asociado que haya creado el agente</description>
    <environments>Default</environments>
    <interviewLabel>Task Trigger - Before insert/update - Check NLU Typification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Trigger - Before insert/update - Check NLU Typification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_tipificaci_n_es_correcta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Typification_data</name>
        <label>Get Typification data</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_datos_de_tipificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intent__c</elementReference>
            </value>
        </filters>
        <object>Tipificacion_NLU_Field_Mapping__mdt</object>
        <outputReference>NLUobtenido</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <queriedFields>TypeN3__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_task_related_to_a_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>NLUobtenido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipificacion_NLU_Field_Mapping__mdt</objectType>
    </variables>
</Flow>
