force-app/zurich-base/main/default/flows/USPAperturadefichadeGenesys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PopSearchPage</name>
        <label>Abrir ficha de búsqueda</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <actionName>c:RedirectToSearchAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchFor</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Utiliza un Aura para ir al email o tarea</description>
        <name>RedirectToCase</name>
        <label>Abrir el Caso en una pestaña</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <actionName>c:RedirectToRecordAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>relatedrecordid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Utiliza un Aura para ir al contacto</description>
        <name>RedirectToCustomer</name>
        <label>Abrir la ficha del customer</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>c:RedirectToRecordAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>HasRecordIdDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>customerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Utiliza un Aura para ir al contacto</description>
        <name>RedirectToRecord</name>
        <label>Ir a ficha del registro encontrado</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <actionName>c:RedirectToRecordAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>RedirectToRelatedRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Utiliza un Aura para ir al email o tarea</description>
        <name>RedirectToRelatedRecord</name>
        <label>Abrir subpestaña con registro relacionado</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <actionName>c:RedirectToRecordAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>relatedrecordid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openAsSubtab</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Si no llega vacío el valor de EmailMessage.ParentId.AccountId, se puede abrir la ficha del cliente</description>
        <name>HasCustomerIdDecision</name>
        <label>¿Hay Customer Id?</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>HasRecordIdDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasCustomerIdOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedirectToCustomer</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasRecordIdDecision</name>
        <label>¿Hay Record Id?</label>
        <locationX>446</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasRecordIdOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedirectToRecord</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>IsRelatedRecordIdAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedrecordid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedirectToCase</targetReference>
            </connector>
            <label>¿Hay Id. de registro relacionado?</label>
        </rules>
        <rules>
            <name>IsPhoneAvailableForSearch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopSearchPage</targetReference>
            </connector>
            <label>¿Hay teléfono para buscar?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>USP - CSM - Apertura de ficha de Genesys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>USP - Apertura de ficha de Genesys</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HasCustomerIdDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>variable de entrada para recibir un ID con el que abrir una ficha con el AuraAction</description>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>email o tarea relacionado con recordid</description>
        <name>relatedrecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Cuenta cuantos registros devuelve la colección</description>
        <name>VarNCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
