force-app/zurich-base/main/default/flows/USPCaseEscalationScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>caseEscalationAction</name>
        <label>CaseEscalationAction</label>
        <locationX>314</locationX>
        <locationY>4202</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>CreateRecordsSendNotificacionErrorAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotificationAction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>formulaBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>caseNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdsOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>removeDuplicatesAction</name>
        <label>removeDuplicates</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>RemoveDuplicatesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AreaTypeScreen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Escalation_Setting__mdt</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__listToRemove</typeName>
            <typeValue>Escalation_Setting__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <elementReference>AreaTypeField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listToRemove</name>
            <value>
                <elementReference>GetSccaledTypeAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveDuplicatesAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignContentDocumentsIds</name>
        <label>AssignContentDocumentsIds</label>
        <locationX>138</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>IdsContentDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>idQueueAssignment</name>
        <label>idQueueAssignment</label>
        <locationX>116</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>IdsOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getIdQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dataInputScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>idUserAssignment</name>
        <label>idUserAssignment</label>
        <locationX>380</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>IdsOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>usersToChooseInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>usersToChooseInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dataInputScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdUserGroupAssignment</name>
        <label>Id User Assignment</label>
        <locationX>600</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>idUserToChoose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nameUserLoop.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nameUserLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ownerQueueIdAssigment</name>
        <label>Owner Queue Owner</label>
        <locationX>116</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIdQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>idQueueAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ownerQueueIdUserAssigment</name>
        <label>Owner Queue Owner User</label>
        <locationX>512</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIdQueueAction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUsersAction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Externo</name>
        <choiceText>Externo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Externo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interno</name>
        <choiceText>Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interno</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ContentDocumentIdsFoundDecision</name>
        <label>Content Document Ids Found?</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>createTaskAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>FoundOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contentDocumentLinks</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>contentDocumentSelectionNull</name>
        <label>content Document Selection Null?</label>
        <locationX>314</locationX>
        <locationY>3602</locationY>
        <defaultConnector>
            <targetReference>getCustomNotificationAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentsSelection.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContentDocumentLinks</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmptyQueue</name>
        <label>EmptyQueue</label>
        <locationX>512</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Empty_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsersNamesActions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>userScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>internalOrExternalDecision</name>
        <label>Internal or External</label>
        <locationX>1271</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>updateRecordExternalAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External</defaultConnectorLabel>
        <rules>
            <name>internalOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalExternalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Interno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSccaledTypeAction</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>queueOrUserValueDecision</name>
        <label>QueueOrUserValue</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>ownerQueueIdUserAssigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>QueueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EscalationSettingRecord.TipoDeEscalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>queueValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ownerQueueIdAssigment</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>areasToChoose</name>
        <collectionReference>removeDuplicatesAction</collectionReference>
        <dataType>String</dataType>
        <displayField>Area__c</displayField>
        <object>Escalation_Setting__mdt</object>
        <valueField>Area__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>areaTypes</name>
        <dataType>String</dataType>
        <displayField>Area__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoEscalado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntExtInput</elementReference>
            </value>
        </filters>
        <object>Escalation_Setting__mdt</object>
        <valueField>Area__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordCase</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSetMetadata</name>
        <dataType>String</dataType>
        <displayField>Cola__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>areasToChooseInput</elementReference>
            </value>
        </filters>
        <object>Escalation_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.Cola__c</assignToReference>
            <field>Cola__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.DeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.PendienteDe__c</assignToReference>
            <field>PendienteDe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.TipoDeEscalado__c</assignToReference>
            <field>TipoDeEscalado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EscalationSettingRecord.queueApiName__c</assignToReference>
            <field>queueApiName__c</field>
        </outputAssignments>
        <valueField>Cola__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>userNamesToChoose</name>
        <collectionReference>getUsersNamesActions</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>usersToChoose</name>
        <collectionReference>getUsersAction</collectionReference>
        <dataType>String</dataType>
        <displayField>UserOrGroupId</displayField>
        <object>GroupMember</object>
        <valueField>UserOrGroupId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaBody</name>
        <dataType>String</dataType>
        <expression>{!principioBody} + {!caseRecordAction.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>MediatedCustomer</name>
        <dataType>String</dataType>
        <expression>IF(
  {!caseRecordAction.MediatedCustomer__r.IsPersonAccount},
  {!caseRecordAction.MediatedCustomer__r.FirstName} &amp; &apos; &apos; &amp; {!caseRecordAction.MediatedCustomer__r.LastName},
  {!caseRecordAction.MediatedCustomer__r.Name}
)</expression>
    </formulas>
    <interviewLabel>USP Case Escalation Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>USP Case Escalation Screen</label>
    <loops>
        <name>contentDocumentLinks</name>
        <label>contentDocumentLinks</label>
        <locationX>50</locationX>
        <locationY>2546</locationY>
        <collectionReference>getContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContentDocumentsIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContentDocuments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>createContentDocumentLinks</name>
        <label>createContentDocumentLinks</label>
        <locationX>206</locationX>
        <locationY>3710</locationY>
        <collectionReference>contentDocumentsSelection.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCustomNotificationAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>nameUserLoop</name>
        <label>Name User Loop</label>
        <locationX>512</locationX>
        <locationY>1322</locationY>
        <collectionReference>getUsersAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdUserGroupAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUsersNamesActions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContentDocumentLink</name>
        <label>createContentDocumentLink</label>
        <locationX>294</locationX>
        <locationY>3818</locationY>
        <connector>
            <targetReference>createContentDocumentLinks</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>createContentDocumentLinks.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogGetContentDocument</name>
        <label>Create Error Log Get Content Document</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>ScreenErrorTaskContentDocument</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>getContentDocumen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLogGetContentDocumentIDs</name>
        <label>Create Error Log Get Content Document IDs</label>
        <locationX>1964</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>ScreenErrorTaskContentDocumentIds</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>getContentDocumentIds</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordsGetNotificationErrorAction</name>
        <label>Create Records Get Notification Error Action</label>
        <locationX>1172</locationX>
        <locationY>4202</locationY>
        <connector>
            <targetReference>ScreenErrorGetNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Recuperar Notificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordsSendNotificacionErrorAction</name>
        <label>Create Records Send Notificacion Error Action</label>
        <locationX>908</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>ScreenErrorNotficationAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Enviar Notificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordsUpdateRecordErrorAction</name>
        <label>Create Records Update Record Error Action</label>
        <locationX>1436</locationX>
        <locationY>3602</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Actualizar caso escalado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTaskAction</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>3386</locationY>
        <assignRecordIdToReference>taskId</assignRecordIdToReference>
        <connector>
            <targetReference>updateRecordAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateTaskErrorAction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMediator__c</field>
            <value>
                <elementReference>InfoMediador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediatedCustomer__c</field>
            <value>
                <elementReference>MediatedCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SegmentMediatorCase__c</field>
            <value>
                <elementReference>InfoSegmento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Caso escalado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Scaled Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskErrorAction</name>
        <label>Create Task Erro rAction</label>
        <locationX>1700</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>ScreenErrorTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>USP Case Escalation Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Method__c</field>
            <value>
                <stringValue>Crear tarea para el caso escalado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Throwing_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>caseRecordAction</name>
        <label>Get case record</label>
        <locationX>1271</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScaledTypeScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContentDocumentIds</name>
        <label>getContentDocumentIds</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocumentIdsFoundDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogGetContentDocumentIDs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordAction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContentDocuments</name>
        <label>getContentDocuments</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Selection_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogGetContentDocument</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IdsContentDocuments</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotificationAction</name>
        <label>Get Custom Notification</label>
        <locationX>314</locationX>
        <locationY>4094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseEscalationAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRecordsGetNotificationErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EscalationCaseNotificacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIdQueueAction</name>
        <label>Get Id Queue</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>queueOrUserValueDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EscalationSettingRecord.queueApiName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSccaledTypeAction</name>
        <label>Get scaled type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>removeDuplicatesAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoEscalado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InternalExternalDecision</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Escalation_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsersAction</name>
        <label>GetUsersAction</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nameUserLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsersNamesActions</name>
        <label>GetUsersNamesActions</label>
        <locationX>512</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmptyQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>idUserToChoose</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecordAction</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>contentDocumentSelectionNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRecordsUpdateRecordErrorAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <elementReference>EscalationSettingRecord.PendienteDe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecordExternalAction</name>
        <label>Update Record External</label>
        <locationX>2228</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingBy__c</field>
            <value>
                <elementReference>pendingByExternal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AreaTypeScreen</name>
        <label>AreaTypeScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>queueTypeAction</targetReference>
        </connector>
        <fields>
            <name>areasToChooseInput</name>
            <choiceReferences>areasToChoose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Areas</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Content_Document_Selection_Screen</name>
        <label>Content Document Selection Screen</label>
        <locationX>50</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createTaskAction</targetReference>
        </connector>
        <fields>
            <name>contentDocumentsSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adjuntos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getContentDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-cb38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-45b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;FileExtension&quot;,&quot;guid&quot;:&quot;column-c4cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Extension&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>dataInputScreen</name>
        <label>Data Input</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContentDocumentIds</targetReference>
        </connector>
        <fields>
            <name>dueDate</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de vencimiento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>comments</name>
            <defaultValue>
                <stringValue>{!caseRecordAction.RelatedPolicyOffer__c}</stringValue>
            </defaultValue>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Screen Error</label>
        <locationX>1436</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>queueTypeAction</name>
        <label>Queue Type</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getIdQueueAction</targetReference>
        </connector>
        <fields>
            <name>queueButtons</name>
            <choiceReferences>RecordChoiceSetMetadata</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Colas</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScaledTypeScreen</name>
        <label>Tipo Escalado</label>
        <locationX>1271</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>internalOrExternalDecision</targetReference>
        </connector>
        <fields>
            <name>InternalExternalDecision</name>
            <choiceReferences>Interno</choiceReferences>
            <choiceReferences>Externo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interno o Externo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Empty_Queue</name>
        <label>Screen Error Empty Queue</label>
        <locationX>644</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Empty_Queue</name>
            <fieldText>&lt;p&gt;No hay personas añadidas en la cola escogida.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorGetNotification</name>
        <label>Screen Error Get Notification</label>
        <locationX>1172</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorNotficationAction</name>
        <label>Screen Error Notfication Action</label>
        <locationX>908</locationX>
        <locationY>4418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorTask</name>
        <label>Screen Error Task</label>
        <locationX>1700</locationX>
        <locationY>3602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorTaskContentDocument</name>
        <label>Screen Error Task Content Document</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorTaskContentDocumentIds</name>
        <label>Screen Error Task Content Document Ids</label>
        <locationX>1964</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>userScreen</name>
        <label>User Screen</label>
        <locationX>380</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>idUserAssignment</targetReference>
        </connector>
        <fields>
            <name>usersToChooseInput</name>
            <choiceReferences>userNamesToChoose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Usuarios</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>caseRecordAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Se ha asignado un nuevo caso&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Nueva asignación de caso&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>areaInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AreaTypeField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Area__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Se le ha escalado un caso</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Nuevo caso escalado </stringValue>
        </value>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filtro_id_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Escalation_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_queuefilter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Escalation_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>EscalationSettingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Escalation_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>filteredList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Escalation_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>IdsContentDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idUserToChoose</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfoMediador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!caseRecordAction.Account.Name} </stringValue>
        </value>
    </variables>
    <variables>
        <name>InfoSegmento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!caseRecordAction.Account.Segment__c} </stringValue>
        </value>
    </variables>
    <variables>
        <name>IntExtInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pendingBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pendingByExternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other areas Zurich</stringValue>
        </value>
    </variables>
    <variables>
        <name>principioBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Se le ha escalado el caso: </stringValue>
        </value>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueOrUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cola</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>selectedDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDocumentsInTable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
