force-app/zurich-base/main/default/flows/ZECallbackRoute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Crea un callback de genesys a partir de los datos del ContactRequest y lo enruta en genesys</description>
        <name>RouteCallbackAction</name>
        <label>Enrutar Callback a Flow ZE en Genesys Cloud</label>
        <locationX>176</locationX>
        <locationY>269</locationY>
        <actionName>GenesysCloudCreateCallbackAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Logerror</targetReference>
        </faultConnector>
        <inputParameters>
            <name>callbackNumbers</name>
            <value>
                <elementReference>ContactRequest.PreferredPhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>callbackScheduledTime</name>
            <value>
                <elementReference>ContactRequest.PreferredContactDatetime__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activityId</name>
            <value>
                <elementReference>ContactRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>5abe8c3b-d894-490b-b41e-ce2ec1bab70a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>ContactRequest.WhatId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>Realiza el enrutamiento de call me backs del ámbito Zurich Empresas</description>
    <interviewLabel>Zurich Empresas - Enrutamiento de call me backs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zurich Empresas - Enrutamiento de call me backs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Deja un registro de log del error producido</description>
        <name>Logerror</name>
        <label>Registrar error</label>
        <locationX>447</locationX>
        <locationY>269</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>ContactRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>ZERouteCallbackFlow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RouteCallbackAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact Request entrante</description>
        <name>ContactRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactRequest</objectType>
    </variables>
</Flow>
