force-app/zurich-base/main/default/flows/ZEEmailRoute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se buscar al mejor gestor posible para el correo electr贸nico, en base al cliente al que pertenece al email y sus oportunidades abiertas</description>
        <name>FindOwnerIdAction</name>
        <label>Buscar Gestor Preferente</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GenesysFindBestAgentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
        <inputParameters>
            <name>fromId</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interactionType</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookFor</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <stringValue>ze</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Llamada al Apex invocable que contiene la llamada al Genesys Cloud RoutingWork</description>
        <name>RouteEmailAction</name>
        <label>Enrutar Email a Flow ZE en Genesys Cloud</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
        <inputParameters>
            <name>activityId</name>
            <value>
                <elementReference>EmailMessage.ActivityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowId</name>
            <value>
                <stringValue>3826817b-5144-4547-a340-2facbd6d76ad</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>EmailMessage.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>FindOwnerIdAction.ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>ScreenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailMessage.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>Realiza el enrutamiento de correos electr贸nicos del buz贸n de Zurich Empresas</description>
    <formulas>
        <description>URL de la ficha a abrir con el correo enrutado</description>
        <name>ScreenPopURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/page/recordActionFlow?lightning__flowDevName=ZESearchAndScreenPop&amp;lightning__flowArgs=&apos;
+ &apos;[{&quot;name&quot;: &quot;phone&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.FromAddress} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;relatedrecordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.Id} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;recordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!FindOwnerIdAction.screenPopRecordId} + &apos;&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>ZE Email Route {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zurich Empresas - Enrutamiento de correos electr贸nicos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>Actualizar Tarea</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.ActivityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallObject</field>
            <value>
                <elementReference>RouteEmailAction.interactionId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindOwnerIdAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
