force-app/zurich-base/main/default/flows/ZEEmailRoute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se buscar al mejor gestor posible para el correo electrónico, en base al cliente al que pertenece al email y sus oportunidades abiertas</description>
        <name>FindOwnerIdAction</name>
        <label>Buscar Gestor Preferente</label>
        <locationX>456</locationX>
        <locationY>206</locationY>
        <actionName>GenesysFindBestAgentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RouteEmailAction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>fromId</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interactionType</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookFor</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>Scope</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Llamada al Apex invocable que contiene la llamada al Genesys Cloud RoutingWork</description>
        <name>RouteEmailAction</name>
        <label>Enrutar Email a Flow ZE en Genesys Cloud</label>
        <locationX>456</locationX>
        <locationY>326</locationY>
        <actionName>GenesysCloudRouteEmailAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>LogError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowId</name>
            <value>
                <elementReference>FlowId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <elementReference>EmailMessage.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromName</name>
            <value>
                <elementReference>EmailMessage.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>FindOwnerIdAction.ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenPopRecordId</name>
            <value>
                <elementReference>ScreenPopURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailMessage.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <description>Dirección de correo de Zurich Empresas</description>
        <name>ZEEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>info.zurichempresas@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <description>ID Flow de Genesys para Zurich Empresas</description>
        <name>ZEFlowId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>49b5ec44-fa87-4f24-9767-5b91eff67c94</stringValue>
        </value>
    </constants>
    <constants>
        <description>Dirección de correo de Orange</description>
        <name>ZEOEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>info.orangeseguros@zurich.com</stringValue>
        </value>
    </constants>
    <constants>
        <description>ID Flow de Genesys para Orange</description>
        <name>ZEOFlowId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>90419fc5-0749-472f-b54d-fafef07b5a71</stringValue>
        </value>
    </constants>
    <constants>
        <description>Valor API del scope de Orange</description>
        <name>ZEOScopeValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>zeo</stringValue>
        </value>
    </constants>
    <constants>
        <description>Valor API del scope de Zurich Empresas</description>
        <name>ZEScopeValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ze</stringValue>
        </value>
    </constants>
    <description>Realiza el enrutamiento de correos electrónicos del buzón de Zurich Empresas</description>
    <formulas>
        <description>FlowId de Genesys al que hay que enrutar el Email</description>
        <name>FlowId</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!EmailMessage.ToAddress}, {!ZEOEmailAddress}), {!ZEOFlowId}, {!ZEFlowId})</expression>
    </formulas>
    <formulas>
        <description>Ámbito sobre el que buscar el best agent</description>
        <name>Scope</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!EmailMessage.ToAddress}, {!ZEOEmailAddress}), {!ZEOScopeValue}, {!ZEScopeValue})</expression>
    </formulas>
    <formulas>
        <description>URL de la ficha a abrir con el correo enrutado</description>
        <name>ScreenPopURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/page/recordActionFlow?lightning__flowDevName=ZESearchAndScreenPop&amp;lightning__flowArgs=&apos;
+ &apos;[{&quot;name&quot;: &quot;phone&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.FromAddress} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;relatedrecordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!EmailMessage.Id} + &apos;&quot;},&apos;
+ &apos;{&quot;name&quot;: &quot;recordid&quot;, &quot;type&quot;: &quot;String&quot;,&quot;value&quot;: &quot;&apos; + {!FindOwnerIdAction.screenPopRecordId} + &apos;&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>ZE Email Route {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zurich Empresas - Enrutamiento de correos electrónicos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Deja un registro de log del error producido</description>
        <name>LogError</name>
        <label>Registrar error</label>
        <locationX>704</locationX>
        <locationY>269</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Object__c</field>
            <value>
                <elementReference>EmailMessage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>ZERouteEmailFlow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FindOwnerIdAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Log de error</description>
        <name>ErrorLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Event__e</objectType>
    </variables>
</Flow>
