force-app/zurich-ventas-app/main/default/flows/PolicyTriggerBeforeInsertUpdateUpdateIntermediaryVisibilityAccField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Asignar el Mediador relacionado con el cliente (Account de tipo &apos;Customer&apos; o &apos;Business Customer&apos;).</description>
        <name>intermediaryAccountToIntermediaryVisibilityAccountAssignment</name>
        <label>Assign Intermediary Account to Intermediary Visibility Account</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>IntermediaryVisibilityAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IntermediaryId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredPolicyAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar el Mediador Principal de la Agrupación relacionada con el Mediador del cliente (Account de tipo &apos;Customer&apos; o &apos;Business Customer&apos;).</description>
        <name>mainIntermediaryAccountToIntermediaryVisibilityAccountAssignment</name>
        <label>Assign Main Intermediary Account to Intermediary Visibility Account</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>IntermediaryVisibilityAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IntermediaryId__r.Parent.IntermediaryWithUser__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredPolicyAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decidir si el cliente (Account de tipo &apos;Customer&apos; o &apos;Business Customer&apos;) tiene asociado un mediador que perteneces a una Agrupación, y a su vez dicha Agrupación dispone de un Mediador Principal.</description>
        <name>IsThereGroupingAccountAndIntermediaryMainAccountDecision</name>
        <label>Is there a Grouping Account and a Intermediary Main Account?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>intermediaryAccountToIntermediaryVisibilityAccountAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IntermediaryId__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IntermediaryId__r.Parent.IntermediaryWithUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainIntermediaryAccountToIntermediaryVisibilityAccountAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flujo que se inicia de forma automática en la actualización o inserción de un registro del objeto Policy__c. Trata de actualizar el campo &apos;IntermediaryVisibilityAcc__&apos; si cumple las condiciones definidas.</description>
    <environments>Default</environments>
    <interviewLabel>Policy Trigger - Before Insert/Update - Update Intermediary Visibility Acc Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Trigger - Before Insert/Update - Update Intermediary Visibility Acc Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar el campo &apos;IntermediaryVisibilityAcc__c&apos; con el valor guardado en la variable &apos;IntermediaryVisibilityAccount&apos; en el proceso de decisión anterior.</description>
        <name>UpdateTriggeredPolicyAction</name>
        <label>Update Triggered Policy</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>IntermediaryVisibilityAcc__c</field>
            <value>
                <elementReference>IntermediaryVisibilityAccount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsThereGroupingAccountAndIntermediaryMainAccountDecision</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IntermediaryId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IntermediaryVisibilityAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
